[2016-09-02 03:59] apelisse opened #1678 "mungegithub/github: Tests are very slow"
Tests are much slower since 06d9dd190. One of the test checks what happens when mergeability flag isn't there. The new code is blocking for up to 62 seconds (2 + 4 + 8 + 16 + 32), this may be a problem on different levels.

Test time basically went from 5 seconds to 65 seconds.

cc @foxish

[2016-09-02 05:53] gouyang commented on #948
@tomsherrod `cp /etc/kubernetes/kubectl.kubeconfig /root/.kube/config` and try again.

[2016-09-02 08:32] dominikschulz opened #1680 "Ingress GLBC: Please provide a way to enable Cloud CDN"
The GLBC Ingress Resource should provide a way to enable the Google CloudCDN property on managed L7 LBs.

The CloudCDN flag is a property of an backend that can be enabled using the gcloud command line tool afterwards but since it's not clear how the GLBC ingress interacts with that on service updates it's not really practical.

[2016-09-02 08:36] dominikschulz opened #1681 "Ingress GLBC: Default healthcheck used if readiness probe for different port"
For a service/deployments exposing multiple ports the GLBC ingress may create the GCE backend healthchecks using the default path ("/") instead of the configured readiness probe.

We deployed a service exposing two ports (80 and 81) with a readiness probe configured as follows:
`        readinessProbe:
          httpGet:
            path: /healthz
            port: 81
          initialDelaySeconds

[2016-09-02 08:42] pdoreau commented on #1657
Do you mean that the service.type LB is a more relialable and/or efficient way ?

It could also solve an associated problem I'm currently facing. I defined multiple environments through namespaces and used the ```--watch-namespace``` flag to get better isolation beetween them. However, I have only 3 nodes in my cluster and beyond 3 nginx RCs, the pod creation fails :
[code]
What can I do ? Can the

[2016-09-02 08:47] pdoreau commented on #1662
It seems I needed to create default-backend for each namespace I created an ingress with.
It works well, however I now have to many nginx RCs and they don't fit in my cluster (PodFitsHostPorts), see #1657

[2016-09-02 11:06] valentin-krasontovitsch opened #1682 "starting etcd service fails"
In `contrib/ansible`, using `deploy-cluster.sh` to setup a cluster of 3 Ubuntu 16.04.1 servers (virtual machines provisioned on hyper-v), the playbook fails at role `etcd`, at `etcd-start.yml`, at task `Enable etcd`.

The error message returned by ansible is:
[code]

If any more info is required, pls let me know.

[2016-09-02 12:06] valentin-krasontovitsch commented on #1682
This is connected to Ubuntu 16.4 using systemd instead of init, I suppose. A workaround that made the playbook proceed was to use the `Debian` task in `etcd-configure.yml`, to be precise:

- In `roles/etcd/tasks/etcd-configure.yml`,
- in task `Write etcd systemd unit file for Debian`
- with condition `when: ansible_distribution == "Debian"`,
- change the condition to `when: ansible_distribution ==

[2016-09-02 13:05] soltysh commented on #1522
The jobs reaching 11mins problem is caused by the controller implementation. Currently when nothing is changing a job nor a pod a job controls there's no `syncJob` invocation which checks `.spec.ActiveDeadlineSeconds`. In that case only `FullControllerResyncPeriod` (which is set to 10 mins) causes the `syncJob` method being called. This explains why the tests is reaching 11 mins easily and I can e

[2016-09-02 13:21] mwielgus commented on #1588
This is expected. After a node is removed we don't scale down until everything is updated. We also reset all counters (a node must be not needed for 10 min to be deleted). Counter resets should improve a bit with the next release.

[2016-09-02 13:21] #1588 closed

[2016-09-02 13:56] soltysh commented on #1522
Jobs are fixed in https://github.com/kubernetes/kubernetes/pull/31973.

[2016-09-02 16:10] bprashanth commented on #1657
No i was talking about using both a service.type LB AND an ingress controller in a pipeline.

You can only run one of them per node, because there's only 1 port 80/443. You can run multiple if you don't mind that the controller listens on some other port (you need to create another RC with hostPort set to something like 8080). You can run any number of service.type=lb because that's provisioned by

[2016-09-02 16:14] bprashanth commented on #1369
I think both those are listed in the limitations:
https://github.com/kubernetes/contrib/blob/master/ingress/controllers/gce/examples/health_checks/README.md#limitations

We should throw an event.

Fwiw you can directly modify the health check through the gce console to include a host. This works for the same reason reconcilition on update doesn't work, we didn't do it to allow freedom for user to

[2016-09-02 18:07] mwielgus opened #1683 "Nil pointer in cluster autoscaler simulator in 0.3.0-beta5"
cc: @piosz @fgrzadkowski @jszczepkowski

[code]

[2016-09-02 19:29] #1683 closed

[2016-09-02 21:07] pdoreau commented on #1657
Ok, but I'm not sure about the idea : why would it be usefull for in production deployments ?

[2016-09-02 21:08] bprashanth commented on #1657
Becaues you get a lot for free just publishing a public ip from a cloudprovider (basic ddos, regional loadbalancing becaues they have global pops)

[2016-09-02 21:09] bprashanth commented on #1657
at the same time the CP lb is less felxible (no redirects, adding a new svc takes 10m)

[2016-09-02 21:36] pdoreau commented on #1657
I see, good things indeed. With that configuration, hostPort for niginx rc would not be necessary anymore  (service LB/NodePort used)?

I also noticed replicas count is 1 in nginx rc config. For high availabilty, would it be usefull to increase this value (avoid single point of failure) ?

[2016-09-02 22:00] grodrigues3 opened #1686 "Update The Auto-prioritization of Flakes"
p0 Flakes are currently defined as 3x per week.  That results in a lot of p0 flakes.  Let's recalibrate

[2016-09-02 22:03] grodrigues3 commented on #1686
![flake_graphics](https://cloud.githubusercontent.com/assets/4854198/18219412/4a7e612c-711e-11e6-96cf-be070c9fedf6.png)

 According to this histogram, p0 flakes are occurring with a 40% frequency (the sum of all flakes that occur 3 or more times per week).

[2016-09-02 22:21] #1678 closed

[2016-09-02 23:58] lavalamp opened #1688 "Submit queue: don't assign reviews/bugs to people that are on vacation"
Not sure how to make this happen exactly. Last time I tried, people were unhappy at the idea of their OOO status being public knowledge, and so my solution (add it to your github bio) didn't fly. So may have to provide some way of telling only the merge queue and not the world.

Or you could have the merge queue try to guess by looking at their github activity? This is probably too coarse-grained

[2016-09-02 23:59] lavalamp commented on #1688
cc @thockin @bgrant0607 in case they have ideas.

[2016-09-03 00:00] apelisse commented on #1688
Yeah, we're going toward: /ack the review ASAP or it will be reassigned (time based on the size of the pr)

[2016-09-03 00:01] lavalamp commented on #1688
That's likely to leave it sitting in a ton of people's email boxes, if they fail to ack it. (would defeat my filters, for example)

[2016-09-03 03:29] bgrant0607 commented on #1688
@lavalamp Some people (like me) are unresponsive even when they aren't on vacation. I'd like someone assigned a review to accept the review or reassign.

[2016-09-03 07:46] tyranron commented on #1535
@bprashanth @aledbf
Ok. Sorry for late reply.

What about providing some "magic" value of `--default-backend-service` arg and not making it default?
For example: `--default-backend-service=:static`.

[2016-09-03 22:00] suyogbarve commented on #1639
I was able to consume the kubernetes (kubectl get svc kubernetes) service from inside the pod after enabling serviceaccounts. However I think non TLS communication from inside pod to kubernetes clusterIP/service  is no longer supported

[2016-09-03 22:57] aledbf commented on #1677
@mumoshu please check https://github.com/kubernetes/contrib/blob/master/ingress/controllers/nginx/configuration.md#rate-limiting

[2016-09-05 02:30] mumoshu commented on #1677
@aledbf Ah, I was too dumb to notice that it is already documented. Thanks a lot for your great work 🙇

[2016-09-05 02:56] gouyang commented on #948
@rakesh-k Would you like to take a look at this problem again, see above comment.

If it's solved, we can close this issue.

[2016-09-05 06:50] #1677 closed

[2016-09-05 10:34] ingvagabund commented on #948
@rakesh-k

deployed with vagrant [1], deployed on openstack [2]. The only difference is in ``/etc/hosts``. In the first case, there is ``127.0.0.1   localhost...``. In the second case there is ``127.0.0.1    kube-master-1...``.

At the same time all the links are proxied via the localhost as the master runs on the machine.

It runs on localhost so replacing/curl it with kube-master-1 or any hostna

[2016-09-05 10:34] #948 closed

[2016-09-05 10:36] ingvagabund commented on #948
@tomsherrod, @rakesh-k as @gouyang commented, this is related to the kubectl configuration.

[2016-09-05 10:53] ingvagabund commented on #948
@tomsherrod, @rakesh-k You can run either of both as well:

``kubectl --kubeconfig /etc/kubernetes/kubectl.kubeconfig cluster-info``
``KUBECONFIG=/etc/kubernetes/kubectl.kubeconfig kubectl cluster-info``

[2016-09-05 11:00] ingvagabund commented on #1682
Thanks @valentin-krasontovitsch for looking into it

[2016-09-05 11:05] ingvagabund commented on #1675
@stephenrlouie

[2016-09-05 11:10] ingvagabund commented on #1671
Hi @jnorment-q2 what version of kubernetes are you running on?

[2016-09-05 12:50] ingvagabund commented on #1674
Due to this https://github.com/ansible/ansible/issues/13669.

[2016-09-05 12:54] ingvagabund commented on #1674
There are two things to fix it:

1. remove the offending line: ``"~{{ ansible_ssh_user }}/.kube"``
1. run the playbook with -u: ``ansible-playbook -u root -i inventory/inventory playbooks/adhoc/uninstall.yml``

Which is better? WDYT?

[2016-09-05 13:33] ingvagabund commented on #1325
With #1689 the kubernetes is deployed on localhost with addons on.

[2016-09-05 13:46] dshmelev commented on #1675
confirm the problem on 1068.10.0

[2016-09-05 14:22] valentin-krasontovitsch opened #1691 "Credentials for gcr.io container image repository"
Trying to deploy k8s using the ansible setups in contrib/ansible, I have gotten quite far, only to notice that the proxy settings ain't working for docker (might make own issue), and that I can't pull any images from `gcr.io/google_containers/` - apparently one always need to login / authenticate oneself? If so, is this mentioned anywhere in the docs of kubernets/contrib?

For context, I'm deployi

[2016-09-05 16:00] dshmelev commented on #1675
Works ok on ansible 1.9.6

[2016-09-05 17:38] mkumatag commented on #1674
@ingvagabund I tried second option and it worked fine. As I'm running from different machine where I don't have k8s installed so I don't really understand the option no. 1.

[2016-09-05 18:48] rikatz commented on #1381
+1

[2016-09-06 06:55] seattle commented on #1381
+1

[2016-09-06 08:43] ingvagabund commented on #1691
No need to authenticate. If you install fresh docker on Ubuntu (without ansible), do you hit the same problem?

[2016-09-06 08:44] mkumatag commented on #1674
I just replaced `"~{{ ansible_ssh_user }}/.kube"` with `"{{ ansible_env.HOME}}/.kube"` and worked fine ultimately deletes the `.kube` file folder from home directory for a user.

[2016-09-06 08:51] mkumatag commented on #1674
Submitted PR https://github.com/kubernetes/contrib/pull/1694 to fix this issue

[2016-09-06 08:55] tjliupeng opened #1695 "[Ingress] How to use regexp in nginx.tmpl?"
Hi,

According to our application requirement, I need to add some lua code block in nginx.tmpl. To limit the impact of these lua code, I want to achieve some limitation:
1. If the upstream name matches some specific string, add balancer_by_lua_block
2. If the location patch matches some specific string, add rewrite_by_lua_block and header_filter_by_lua_block.

How can I implement these 2 limitatio

[2016-09-06 09:28] valentin-krasontovitsch commented on #1691
Hm, clean install of unbuntu 16.4.1 and docker, setup proxy, and voila, it worked O_o
Going to go back and investigate more...

[2016-09-06 09:32] valentin-krasontovitsch commented on #1691
hm yeah the machines I originally ran into trouble with are gone now, alas, but I tried it out on another one, and it just works. Seems to just have been a problem with docker and proxy settings. Never mind, and thanks for the pointer, @ingvagabund!

[2016-09-06 09:32] #1691 closed

[2016-09-06 10:41] ingvagabund commented on #1691
Happy the problem is gone, thanks for testing the playbooks on Ubuntu.

[2016-09-06 10:42] ingvagabund commented on #1675
What is the difference between libraries ansible 1.9.6 and 2.1.1.0 brings into the system?

[2016-09-06 11:26] #1674 closed

[2016-09-06 11:44] ingvagabund commented on #1682
With vagrant and xenial box (Ubuntu 16.04 LTS) [1] I hit the same error.

[1] https://atlas.hashicorp.com/yk0/boxes/ubuntu-xenial

[2016-09-06 11:56] ingvagabund commented on #1682
I got to the point of running ``systemctl start etcd`` working (deploying etcd.service file). Just, the service failed to start.

[2016-09-06 12:02] ingvagabund commented on #1682
Ok, got it running. Once need to create ``etcd`` user and ``/var/lib/etcd`` directory (as is specified in ``etcd.service`` and ``etcd.conf`` files). After that, etcd service is started.

[2016-09-06 13:43] kovvik opened #1697 "kube-apiserver service cannot open port below 1024 on Ubuntu 16.04.1"
On Ubuntu with systemd, the kube-apiserver service started by the kube user. But this user cannot open port below 1024:

 kube-apiserver[8482]: E0906 13:19:29.895480    8482 genericapiserver.go:716] Unable to listen for secure (listen tcp 0.0.0.0:443: bind: permission denied); will try again.

My workaround is to set capability on kube-apiserver binary:
`setcap 'cap_net_bind_service=+ep'  /opt/kub

[2016-09-06 14:45] jeroenvisser101 commented on #1680
Completely agree, we need this too, this could totally be a annotation of some sort.

[2016-09-06 14:45] jeroenvisser101 commented on #1681
We experienced the same yesterday and it caused downtime for us.

[2016-09-06 14:57] ingvagabund commented on #1697
This is intended as one can not trust binaries downloaded from non distribution rpms. You change the port to ``6443`` in this case.

I assume there is no kubernetes-* package built for Ubuntu, right? Downloading the binaries from kubernetes github repository is the only way?

[2016-09-06 15:30] kovvik commented on #1697
Yes, you are right, there are no packages for Ubuntu. I configured it to use github repo, and use 6443 port, and now it works. (after creating the etcd user and /var/lib/etcd folder with correct permissions, as mentioned here: #1682 )

[2016-09-06 15:35] jeroenvisser101 commented on #1681
To add on this, it seems like [it cannot find a healthcheck for the port here](https://github.com/kubernetes/contrib/blob/8cdbacdd66e9b1fe72e705beb9db4a695d2d249f/ingress/controllers/gce/healthchecks/healthchecks.go#L48-L55) and then falls back to the default port?

[2016-09-06 15:37] valentin-krasontovitsch commented on #1682
Totally checks out, thanks, @ingvagabund! Ran it like you with Vagrant, worked fine, until the playbook tries to download `kubernetes-master`, as hinted at in #1697... does that need a new issue?

[2016-09-06 15:38] ingvagabund commented on #1682
Already working on kubernetes-master. Almost done.

[2016-09-06 15:39] ingvagabund commented on #1682
here https://github.com/kubernetes/contrib/pull/1700

[2016-09-06 15:39] valentin-krasontovitsch commented on #1682
ok, cool : )

[2016-09-06 15:41] grodrigues3 commented on #1688
Yeah, we had previously discussed /ack and /nack commands that would communicate the reviewers intention to the bot.   This would allow us to infer vacation periods based on response time or lack thereof. Something like:

1. /ack: I'll review this
2. /nack: Reassign to someone else now
3. No activity in *2 days (no ack, nack or other comments) from reviewer: Reassign to Someone else

*2 can be adj

[2016-09-06 15:41] bprashanth commented on #1681
It always created a health check on "/", targetting the readiness probe is a recent modification, and only happens if it matches a set of requirements. Relevant docs:
http://kubernetes.io/docs/user-guide/ingress/#before-you-begin
https://github.com/kubernetes/contrib/tree/master/ingress/controllers/gce#health-checks
https://github.com/kubernetes/contrib/blob/master/ingress/controllers/gce/examples

[2016-09-06 15:41] #1681 closed

[2016-09-06 16:12] wstrange commented on #1590
For development having a default 404 backend would be nice and would simplify deployment.

[2016-09-06 17:57] ingvagabund commented on #1697
The ``443 -> 6443`` issue is described in contrib README [1]. As the default installation for kubernetes is via package manager, the port is set to ``443`` by default. Of course, one could set the port to ``6443`` by default if the ``kubernetes_source_type`` is set to ``github-release``. This affects Ubuntu and CoreOS so far (and any other distro if the source is set) . On the other hand the playb

[2016-09-06 18:05] #1697 closed

[2016-09-06 21:52] mwielgus opened #1702 "Expand cluster autoscaler documentation"
More details on when and how scale up/down work are needed.

[2016-09-06 22:27] aledbf commented on #1695
@tjliupeng you need to use a custom template [custom-nginx-template](https://github.com/kubernetes/contrib/blob/master/ingress/controllers/nginx/configuration.md#custom-nginx-template).

https://github.com/kubernetes/contrib/blob/master/ingress/controllers/nginx/nginx.tmpl#L165

https://github.com/kubernetes/contrib/blob/master/ingress/controllers/nginx/nginx.tmpl#L199

[2016-09-06 22:29] aledbf commented on #1662
No need.

[2016-09-06 22:31] aledbf commented on #1662
Right, you cannot scale the RC to a bigger number of the nodes in the cluster. Please check you are not running a different service that uses port 80 in the node/s

[2016-09-06 22:47] elerion opened #1703 "[Ansible] flannel package"
Hello,

I try to deploy kubernetes cluster with 1 master and 3 nodes.
All my server are on Fedora 24 4.5.7-300.

I have this error :

[code]
Have you any idea ?

[2016-09-06 22:57] bprashanth commented on #1604
Please report with the requested information and I'll reopen

[2016-09-06 22:57] #1604 closed

[2016-09-06 23:00] bprashanth commented on #1639
sounds like the issue was resolved, I'm only too happy to force people to use tls.
We should clarify docs so this is obvious, including amending any language around KUBERNETES_SERVICE_HOST/PORT that is missing (that caused the confusion in this bug)

[2016-09-06 23:03] bprashanth commented on #1662
You can either:
1. Run nginx controller with hostPort, in which case you can run only 1 per node, because theres exactly 1 hostPort (eg: 443) per node
2. Run nginx controller without hostPort, in which case you can only access it internally in cluster. You can run as many as you want per node.
3. Run nginx controller without hostPort, but expose it through a Service of Type.NodePort. In this case

[2016-09-06 23:03] #1662 closed

[2016-09-06 23:12] bprashanth commented on #1590
Is there a request here or is it just a doc clarity issue?

returning 404 is not a requirement. Even specifying a default backend is not strictly a requirement, but if the ingress doesn't specify one thorugh the `spec.backend` section, the ingress controller should redirect unknow urls *somewhere* (not hang or return random 5xx error code). To capture the 80% case it should redirect to a 404 page,

[2016-09-07 01:02] tjliupeng commented on #1695
@aledbf , I know the location. But I don't know how to use regexp in the template. What I mean for "match specific string" is "containing some string" or "equal to some string". How to implement "containing some string" in the template?

[2016-09-07 01:30] aledbf commented on #1695
@tjliupeng please check https://golang.org/pkg/text/template/ and the template itself to see examples

[2016-09-07 01:42] tjliupeng commented on #1695
@aledbf , yes , I try before I post this issue. At present I can't find the solution.

[2016-09-07 01:47] aledbf commented on #1695
@tjliupeng like this
[code]

Can you post exactly what are you trying to achieve?

[2016-09-07 02:12] tjliupeng commented on #1695
@aledbf , in ingress controller, the upstream name is dynamically generated according to the k8s service name. What I want to do is: if the upstream name contains substring "sm-rte", this upstream should include a balancer_by_lua_block, and some extra work should be done at init_by_lua_block for this kind of upstream.

The reason I can't use "eq" operator is that the upstream name generated by k8s

[2016-09-07 02:30] aledbf commented on #1695
ok, you need to add a helper in the template

https://github.com/kubernetes/contrib/blob/master/ingress/controllers/nginx/nginx/template/template.go#L54
[code]

then you can use it in the template
[code]

[2016-09-07 02:36] tjliupeng commented on #1695
Oh, thanks. Let me try.

[2016-09-07 07:45] tjliupeng commented on #1695
@aledbf , by the way, as you are a contributor of ingress, do you think supporting "contains" is useful and submit the helper above to template.go?

[2016-09-07 08:03] ingvagabund commented on #1703
Hi @elerion ,

looking at the error: ``'dict object' has no attribute 'nodes'``, looks like there is no ``[nodes]`` group in your inventory file. Can you paste the file?

At the same time you can check out inventory in the example [1] and compare it.

[1] https://github.com/kubernetes/contrib/tree/master/ansible#configure-inventory

[2016-09-07 10:03] tjliupeng opened #1706 "Fail to build nginx controller"
Hi,

Several weeks ago I success to build the nginx controller at k8s.io/contrib/ingress/controllers/nginx. Today I use git pull to update the source code and try to build again. This time I fail. The output is as follow:

make controller
rm -f nginx-ingress-controller
CGO_ENABLED=0 GOOS=linux go build -a -installsuffix cgo -ldflags \
        "-s -w -X main.version=git-316e640 -X main.gitRepo=http

[2016-09-07 14:12] ingvagabund opened #1707 "Remove "All rights reserved" from all the headers"
It looks like it is applicable for contrib as well [1]. Any thoughts?

[1] https://github.com/kubernetes/kubernetes/pull/26755

[2016-09-07 14:13] ingvagabund commented on #1707
cc @thockin @zmerlynn @brendanburns @david-mcmahon

[2016-09-07 14:22] #1325 closed

[2016-09-07 14:35] aledbf commented on #1706
You need Go 1.6

[2016-09-07 14:52] ingvagabund commented on #1706
What distribution did you run the build?

[2016-09-07 16:57] aledbf commented on #1695
Sure. Please submit a PR adding the function to `funcMap` if you have the time.

[2016-09-07 17:04] thockin commented on #1707
Yes, we should be consistent.  It has no legal significance and less words
is more better.

On Wed, Sep 7, 2016 at 7:13 AM, Jan Chaloupka <notifications@github.com>
wrote:

[2016-09-07 19:39] Philmod opened #1709 "[service-loadbalancer] Routed services"
Hey!

Why does the service-loadbalancer automatically open routes for heapster, kube-dns:53, kubernetes-dashboard, kubernetes:443, and one for my redis service I created?
![openroutes](https://dl.dropboxusercontent.com/u/45971143/service-loadbalancer.png)

I clearly don't want to open these. Is there a way to avoid it and specify the services I want to route through service-loadbalancer?

Thanks,

[2016-09-07 19:41] Philmod opened #1710 "[service-loadbalancer] Acl Match"
Hey,

I tried to set `serviceloadbalancer/lb.aclMatch: "-i /"` for one of my service.
But in the haproxy frontend configuration, it still uses the service name: "/service-name" (not "/").

Is it a bug?

Thanks,
Philmod

[2016-09-07 20:06] aledbf commented on #1709
No. The existing implementation exports all the services.
You can use `--namespace` to limit services in one namespace

[2016-09-07 20:13] Philmod commented on #1709
Ok, thanks.

[2016-09-07 20:13] #1709 closed

[2016-09-07 21:19] elerion commented on #1703
@ingvagabund sorry I haven't see this detail

thank's

[2016-09-07 21:19] #1703 closed

[2016-09-07 21:29] gitpveck commented on #801
Hi, I've just tested it again with the current master branch on 2 F23 hosts. All looked good. Issue can be closed I guess.

[2016-09-07 21:29] #801 closed

[2016-09-07 21:39] elerion opened #1712 "webService Unauthorized"
Hi,

I have install a new cluster with ansible and after the installation I try access to ui like https://my-host/ui for example. I have always the same error Unauthorized
When I go see the security request, I can see that https certificats are expired :
![errorkube](https://cloud.githubusercontent.com/assets/14874472/18329460/cd50d7ea-7553-11e6-8c6b-e5e818cf3d49.PNG)

Have you got any idea ?

Tha

[2016-09-08 01:12] tjliupeng commented on #1706
@aledbf , My go version is go1.6.3 linux/amd64.
@ingvagabund , what do you mean the distribution? Linux? My OS is CentOS Linux release 7.2.1511 (Core).

[2016-09-08 01:17] aledbf commented on #1706
@tjliupeng please check https://bugzilla.redhat.com/show_bug.cgi?id=1038683
(installing Go from https://golang.org/dl solves this issue )

[2016-09-08 02:17] tjliupeng commented on #1706
@aledbf , that works. I install go 1.7.1 and the build succeed. Thank you very much.

[2016-09-08 02:17] #1706 closed

[2016-09-08 03:46] suyogbarve commented on #1639
Thanks prashanth, will it be possible to share some details on production readiness for nginx ingress controller. Is it ready yet to be deployed to production environment, if not are there any rough/tentative timelines on it?

[2016-09-08 07:05] frekw commented on #1657
@pdoreau I'm also trying to get the example to work on GKE and just wanted to clarify how you exposed the ingress controller and opened up the firewall?

I exposed it as a `NodePort` service and then added a firewall-rule as per this:

[code]

was that how you went about exposing the ingress controller to get everything to work, or is there anything else I need to open up in the firewall?

[2016-09-08 08:54] frekw commented on #1657
Nevermind, I got it to work by exposing `tcp:80` for the cluster. Just took 30 minutes or so for the changes to propagate.

[2016-09-08 10:01] tjliupeng opened #1715 "What cause starting nginx controll failure?"
I build ingress nginx controller and fail to start it. env: kubernetes 1.3.2, docker 1.11.2. CentOS 7.2.1

The output of kubectl describe is:
 7m    7m      1       {kubelet 16.186.74.94}  spec.containers{nginx-ingress-lb}       Normal  Created         Created container with docker id e1d3670bad8c
  7m    7m      1       {kubelet 16.186.74.94}  spec.containers{nginx-ingress-lb}       Normal  Start

[2016-09-08 10:56] ingvagabund commented on #1707
This will do the trick: ``for file in $(./hack/verify-boilerplate.sh | cut -d":" -f2); do sed -i "s/ All rights reserved\././" $file; done``

[2016-09-08 11:11] micheleorsi opened #1717 "[nginx ingress controller] possibility to specify nginx properties different for each ingress"
Hello,
the problem we are facing is that adding more and more different applications (one for each namespace) in our kubernetes cluster brings different needs in terms of configuration (timeouts for example).

I am already aware of the --watch-namespace property and I followed this discussion #847, but I think that probably a solution like this (https://github.com/nginxinc/kubernetes-ingress/tree/

[2016-09-08 11:17] micheleorsi commented on #1715
How is your deployment file?
Which version are you building?

Logs saying that kubernetes is killing the pod due to liveness probe failure, so probably the initialDelaySeconds of livenessProbe is too small or the /healthz is really down for too much time!

[2016-09-08 11:17] wernight opened #1718 "Nginx Ingress Controller frequently giving HTTP 503"
For unknown reasons to me, the [Nginx Ingress Controller](https://github.com/kubernetes/contrib/tree/master/ingress/controllers/nginx) is frequently (that is something like every other day with 1-2 deployments a day of Kubernetes Service updates) returning HTTP error 503 for some of the Ingress rules (which point to running working Pods).

Note: Running also [`kube-lego`](https://github.com/jetsta

[2016-09-08 11:44] wernight commented on #1718
I don't know where the `glog.Info("change in configuration detected. Reloading...")` goes as it might be useful to diagnose.

[2016-09-08 11:49] wernight commented on #1718
Ok found one `requeuing foo/frontend, err error reloading nginx: exit status 1`, nothing more. Didn't repeatably fail.

[2016-09-08 12:07] wernight commented on #1718
Another note, I'm running it on another cluster with less Ingress rules and didn't notice that issue there. So it'd quite likely related to how many updates happen.

[2016-09-08 12:30] #1707 closed

[2016-09-08 13:42] aledbf commented on #1715
@tjliupeng please update the healthz port to 10254

[2016-09-08 14:37] aledbf commented on #1718
How many ingress rules you are using?
Please increase the verbose level to 2 --v=2 in order to see what it
changes in the nginx.conf

On Sep 8, 2016 5:07 AM, "Werner Beroux" <notifications@github.com> wrote:

[2016-09-08 14:40] aledbf commented on #1718
Do you experience the same issue with a backend different to gitlab?

On Sep 8, 2016 4:17 AM, "Werner Beroux" <notifications@github.com> wrote:

[2016-09-08 14:41] aledbf commented on #1717
Right. I will that annotations for each setting in the next release.

On Sep 8, 2016 4:12 AM, "Michele Orsi" <notifications@github.com> wrote:

[2016-09-08 15:24] wernight commented on #1718
Yes all backends, randomly one of them.

9 Ingresses, 98 rules in total (that is hosts).

[2016-09-08 16:21] MDrollette commented on #1718
I'm noticing similar behavior. It usually occurs if I update/replace a Service. I'll get random 503's until I update something in an Ingress which seems to reload nginx and everything starts working again.

I'm happy to debug things further, but I'm not sure what info would be useful.

[2016-09-08 16:22] bprashanth commented on #1657
both hostPort 80 and nodePort (as long as you actually create a NodePort Service) should work. 30m sounds like too long, when the firewall-rules create call completes, it should be open. I assume you're just running the raw nginx controller vs nginx controller behind gce ingress controller, in the latter case you will have delay of ~15m till health checks pass.

[2016-09-08 17:44] wernight commented on #1718
Two ideas of possible fixed supposing it's some concurrency issue:

- Pass of nginx reload through a [denounce](http://reactivex.io/documentation/operators/debounce.html) function
 - Call nginx reload again something lile 3 sec after the last nginx reload (may be also through a denounce
 - Check that if it fails it really retries (probably good)
 - Perform some self monitoring and reload if it see

[2016-09-08 18:04] aledbf commented on #1718
@wernight thanks for the ideas you are proposing. Most of the points are already present:
- rate limiting for reloads
- reload only when necessary (diff of nginx.conf)
- avoid multiple reloads
Please check [here](https://github.com/kubernetes/contrib/blob/master/ingress/controllers/nginx/nginx/command.go#L60)

[2016-09-08 18:07] aledbf commented on #1718
@wernight @MDrollette
Your service is scaled to more than 1?
The service has a `livenessProbe` and/or `readinessProbe`?
What version of the controller are you using?

[2016-09-08 18:11] bdimcheff commented on #1369
I think the implications of those limitations didn't really click.  It's definitely working as expected now, though.  Thanks for your help!

[2016-09-08 18:12] MDrollette commented on #1718
I've noticed this twice since updating to v0.8.3. Both times it was after updating a Service that only had 1 pod. Both services have a readinessProbe but no livenessProbe.

[2016-09-08 18:19] aledbf commented on #1718
ok, the default configuration in nginx is to rely in the probes. If you are not using a `livenessProbe` then you need to adjust the configuration. Please check https://github.com/kubernetes/contrib/blob/master/ingress/controllers/nginx/configuration.md#custom-nginx-upstream-checks

How are you deploying the update? Deployments?
(You need to start the new version of the pod before removing the old

[2016-09-08 18:36] MDrollette commented on #1718
Thanks, I'll look into the health checks in more detail to see if that can prevent winding up in this broken state.

Yes, I'm using Deployments. Although in this case I didn't deploy any new pods, I just changed some properties on the Service.

And just to clarify, I would expect _temporary_ 503's if I update resources in the wrong order. But my concern in this case is that if the Ingress, Service

[2016-09-08 18:43] aledbf commented on #1718
Can you mention what was changed in the service?

It does but if for instance the initial test of readinessProbe requires 60 seconds the you kill the previous pod before that there's no way to avoid errors. The controller doesn't know the state of the pod, just represents the current state in the api server

[2016-09-08 20:19] wernight commented on #1718
Also using 0.8.3, also applying just few changes to Pods like updating the images (almost exclusively), also having liveness/readiness probes for almost all Pods including those giving 503 but those probes didn't pick up any issues (as Pods were running fine). Some Services are scaled to more than 1, but that doesn't seem to influence this bug as I had issues with those 1 and those with multiple P

[2016-09-08 20:30] aledbf commented on #1718
Exactly

Do you mean to avoid this

Can you search the log to see the reason for the error 1?

[2016-09-08 20:51] wernight commented on #1718
I do mean that Nginx Ingress Controller checking if Nginx is working as intended sounds like a rather good thing. May during the `/healthz` request it could do that.

The logs are no more reporting an error so cannot check the context.

[2016-09-08 21:01] aledbf commented on #1718
Just in case nginx never stops working during a reload. Only if the configuration is valid nginx starts new workers and kill the old ones when the current connections are closed.

Do you have memory limits applies to the ingress pod?

[2016-09-09 06:42] wernight commented on #1718
I have some, I can check but it should be rather high for Nginx like 100 MB

Le jeu. 8 sept. 2016 à 23:01, Manuel Alejandro de Brito Fontes <
notifications@github.com> a écrit :

[2016-09-09 07:30] wernight commented on #1718
Checked and yes it's using 100 MB almost at times. Looks like it's really using a lot more than single Nginx instances. Increased, may be it'll fix that. Good call!

Still it doesn't stay at nearly 100 MB most of the time, so I wonder why I've to manually reload Nginx when theoretically Nginx Ingress Controller could detect those issues and do that reload automatically. Why I'd have more self-chec

[2016-09-09 07:43] aledbf commented on #1718
@wernight the amount of memory required is the sum of:
- ~70MB in the master nginx process
- ~65MB * number of worker threads (default is equals to the number of cpus)
- ~50MB for the go binary (the ingress controller)

[code]

[2016-09-09 07:45] aledbf commented on #1718
@wernight the number of worker thread can be set using the directive `worker-processes`
(https://github.com/kubernetes/contrib/blob/master/ingress/controllers/nginx/configuration.md)

[2016-09-09 07:47] aledbf commented on #1718
Agree. That's why I'm asking all this question in order to be able to reproduce the behavior you see

[2016-09-09 17:43] mwielgus opened #1722 "More aggressive node estimation in ClusterAutoscaler"
The current code tries to create nodes with super high utilization. More precisely

[code]

This leads to multiple iterations as, with many pods, it is unlikely to get the right node count in the first try. We would get better results and faster reaction time if the formula was more like:

[code]

With this:
- we will have more healthy cluster than when we try to pack everything super-tight.
- the

[2016-09-09 17:45] mwielgus opened #1723 "Delete empty nodes in bulk in cluster autoscaler"
Currently we delete only one node at a time, even if there are couple completely empty nodes that can easily be deleted together.

[2016-09-09 20:27] bprashanth opened #1724 "GCE ingress should work in large clusters"
If there are > max nodes allowed in an IG, we should overflow to another IG. Currently this only works if the user also spreads cluster across zones, because each zone gets its own IG.

[2016-09-10 03:25] hongchaodeng commented on #1389
Approver handler impl: https://github.com/kubernetes/contrib/pull/1727

[2016-09-11 04:55] dominikschulz commented on #1680
It seems to work fine if you just enable the CloudCDN property after the Ingress has been created by K8s, but I still fear that a future update to the Ingress Controller may disable the CloudCDN flag. It would hit my frontend servers pretty hard if the CDN were suddently gone.

[2016-09-11 09:55] k3vinha opened #1728 "missing proxy environment settings in ansible roles"
missing proxy configuration for yum module in the following files:
ansible/roles/docker/tasks/install-rpms.yml
ansible/roles/master/tasks/install_rpms.yml
ansible/roles/master/tasks/pkgMgrInstallers/centos-install.yml
ansible/roles/node/tasks/install_rpms.yml
ansible/roles/node/tasks/pkgMgrInstallers/centos-install.yml

need to add the following lines for yum in files mentioned:
[code]

[2016-09-11 14:09] Yancey1989 commented on #1715
Hi @tjliupeng, I have the same problem, and i wanner how can i determine the right port, because the early version of nginx-ingress-controller, the health port is 10249.

[2016-09-12 01:56] tjliupeng commented on #1715
@aledbf , why should I update the port to 10254? In nginx-ingress.yaml, the livenessProbe setting is:

[code]

[2016-09-12 02:09] tjliupeng commented on #1715
Oh, I just check the code, in main.go:
`healthPort = 10254`

[2016-09-12 02:37] tjliupeng commented on #1695
@aledbf , seems your PR is in the queue for several days. As I have no experience on submit code to this repository, what is the meaning "PR has no LGTM" for your PR?

[2016-09-12 07:11] #1728 closed

[2016-09-12 14:06] #1712 closed

[2016-09-12 14:11] eksavoy opened #1732 "[Ansible] deployement with contiv"
Hi,

I try to create a new kube cluster with ansible and contiv (Network) But I have an error :
`FAILED! => {"changed": false, "failed": true, "msg": "Error when trying to enable openvswitch: rc=1 Failed to execute operation: No such file or directory\n"}`

Have you got an idea to solve this problem ?
Thank's

[2016-09-12 14:26] ingvagabund commented on #1732
What OS is in question? It looks like the service file is not present.

[2016-09-12 14:43] elerion commented on #1732
I use fedora 24

[2016-09-12 15:19] bacongobbler opened #1733 "GCE missing l7 ingress controller?"
Right now if you deploy or upgrade a GCE cluster to 1.3.6, the l7 ingress controller that is mentioned in http://kubernetes.io/docs/user-guide/ingress/#prerequisites is not present, but instead you get:

[code]

This is not mentioned anywhere in the [GCE release notes](https://cloud.google.com/container-engine/release-notes). Is this an unintentional bug in GCE or are the docs out of date and the

[2016-09-12 16:45] bacongobbler commented on #1733
Looking at the differences closer, it seems like only the [glbc image](https://github.com/kubernetes/contrib/blob/186beffac4ca5083dfd14215fbb7b85eba404e8f/ingress/controllers/gce/rc.yaml#L64-L82) is missing by default. When I dump l7-default-backend-v1.0 on a fresh cluster, I see the following: https://gist.github.com/bacongobbler/5464eec6e8d5e799945528f5e0b4a362

Is the glbc now managed by GCE or

[2016-09-12 16:55] MrHohn opened #1735 "Check multiple commands on multiple URLs in Exechealthz"
Refer kubernetes/kubernetes#30633.

Would it be possible to support checking multiple commands on multiple URLs in one Exechealthz process? I am going to run two Exechealthz processes within one pod but consider it would be better if Exechealthz supports this intuitively.

@luxas

[2016-09-12 17:00] thockin commented on #1733
Exactly.

On Mon, Sep 12, 2016 at 9:45 AM, Matthew Fisher <notifications@github.com>
wrote:

[2016-09-12 17:07] bacongobbler commented on #1733
Thanks @thockin, shall I update the docs to reflect the changes? :)

[2016-09-12 17:20] thockin commented on #1733
Aweome!

@bprashanth

On Mon, Sep 12, 2016 at 10:07 AM, Matthew Fisher <notifications@github.com>
wrote:

[2016-09-12 17:21] thockin commented on #1735
It sounds viable, but it might be complex to specify that as a flag.  Do
you want to sketch it out, or even try to make a PR?

On Mon, Sep 12, 2016 at 9:55 AM, Zihong Zheng <notifications@github.com>
wrote:

[2016-09-12 17:25] MrHohn commented on #1735
@thockin Sure, let me give it a try.

[2016-09-12 17:27] bprashanth commented on #1733
sorry for the confusion, this happened in 1.3.0 itself (see Highlights section of https://github.com/kubernetes/kubernetes/blob/master/CHANGELOG.md/#highlights).

This line is inaccurate
[code]

Please send a pr that upates it to reflect that the L7 controller runs on the master.

[2016-09-12 22:40] jnorment-q2 commented on #1671
Client Version: version.Info{Major:"1", Minor:"2", GitVersion:"v1.2.0", GitCommit:"ec7364b6e3b155e78086018aa644057edbe196e5", GitTreeState:"clean"}
Server Version: version.Info{Major:"1", Minor:"2", GitVersion:"v1.2.0", GitCommit:"ec7364b6e3b155e78086018aa644057edbe196e5", GitTreeState:"clean"}

( This is the version for atomic host ):
● centos-atomic-host:centos-atomic-host/7/x86_64/standard

[2016-09-12 23:07] #1733 closed

[2016-09-13 07:50] #1682 closed

[2016-09-13 08:02] ingvagabund commented on #1671
That looks very similar to https://github.com/kubernetes/contrib/issues/886#issuecomment-216741889. Can you update to newer version of kubernetes?

[2016-09-13 08:13] ingvagabund commented on #1483
The docker must be started before flannel (otherwise you will not be able to deploy containerized flannel/etcd).

What does it mean the flannel can not reach the old etcd server host-A? If you loose host-A with etcd, you need to reconfigure flannel to use etcd from host-B. Which in this special scenario can lead to running the flannel role first, then docker. However, in general, docker needs to b

[2016-09-13 08:55] ingvagabund commented on #1732
The task fails since `openvswitch` is not installed on Fedora. It is installed on CentOS only.

Is the contiv the only network plugin you can use? I don't know the historical context but the default network plugin for Fedora was and is flannel.

[2016-09-13 09:04] tyranron commented on #1535
@bprashanth @aledbf any suggestions?

[2016-09-13 12:38] edana-dev opened #1738 "How to configure cube-master-url when runing nginx-ingress-controller?"
I got some errors as bellow when I run then command "$ kubectl create -f examples/default/rc-default.yaml". I think it because my cube-master server is on the other server. May I ask how to configure cube-master-url?

2016-09-13T12:26:37.040520000Z I0913 12:26:37.039996       1 main.go:94] Using build: https://github.com/bprashanth/contrib.git - git-92b2bac

2016-09-13T12:27:07.043020000Z W0913 12

[2016-09-13 12:55] jnorment-q2 commented on #1671
I'm not sure that it does. Commenting out those lines fixed the issue for me, whereas it did not fix the issue for the OP in that thread.

Also, I'm already running the minor version of kubernetes that was recommended in that thread.

... and it is not an option to upgrade to a newer version of kubernetes with Atomic Host.

[2016-09-13 12:57] ingvagabund commented on #1738
Hi @edana-dev,

you can use ``--server`` option of the ``kubectl`` command. How did you hit the issue? Did you deploy the cluster with ansible? Or running the cluster locally (via ``./hack/local-up-cluster.sh``)? Or other deployment process?

[2016-09-13 13:25] edana-dev commented on #1738
Hi @ingvagabund,
Thanks for your rapid reply, I am runing the cluster locally. I think i didn't describe my problem clearly. I want to setup kubernetes loadblance on local cluster. And I run nginx-ingress-controller on the cluster, but it didn't run correcIy, and I got error logs mentioned as above.

[2016-09-14 19:07] mwielgus opened #1742 "ClusterAutoscaler may build a node-group template on half-populated node."
It is possible that some daemon sets fail to be scheduled on a node. If cluster autoscaler picks such a node and use it for building a node-group template in scaleup then it will think that a new node from that nodepgroup will have more capacity than it actually will.

[2016-09-14 21:10] Philmod commented on #1710
Any help here?

[2016-09-15 16:23] yuripourre commented on #1584
I have the same problem, how do you solved it?

[2016-09-15 16:40] mjbright commented on #1584
Hi, yes I solved this problem.

It turned out I had 2 copies of some Python selinux policy module.
I believe that the older copy was coming from a Docker installation made from getdocker.com script.

As I posted here:
    https://bugzilla.redhat.com/show_bug.cgi?id=1364703

This is how I fixed the problem (after uninstalling Docker and reinstalling from official F24 repo):

[2016-09-15 16:49] yuripourre commented on #1584
Thank you, it works!

[2016-09-15 18:39] bprashanth opened #1746 "Document and consider exposing backend timeouts"
The timeout from proxy -> backend, eg: https://cloud.google.com/compute/docs/load-balancing/http/backend-service#create_a_backend_service, at least needs per lb documentation, and probably can be surfaced better through annotations/fields since it's a fairly common concept in l7 proxies

[2016-09-15 23:04] ixdy opened #1748 "test flake shame mailer should not send emails for P2/P3 flakes"
Currently, the test flake shame mailer emails everyone who has a `kind/flake` issue assigned to them, but it only lists P0/P1 bugs in the email body. We should reconcile this.

[2016-09-17 00:40] ryanj commented on #1029
I'm planning on spending some time working on this issue as well - currently checking to see if bitergia can set this up for us (short term).

[2016-09-17 00:44] ryanj commented on #1029
Nice mention here for "most users reviewing code" (2nd over all on GH): https://octoverse.github.com/

[2016-09-17 21:54] germansosa commented on #1738
Hi @edana-dev,
you can specify the server api url adding KUBERNETES_MASTER as envinment variable in rc-default.yaml:
[code]

[2016-09-18 01:53] #1715 closed

[2016-09-18 04:05] edana-dev commented on #1738
@germansosa It works for me, thanks a lot.

[2016-09-18 04:05] #1738 closed

[2016-09-18 12:44] edouardKaiser opened #1750 "[Ingress] Service/Upstream name in the log"
Is there a way to get the service (or upstream) name logged in the NGINX log_format ?

We are trying to export the NGINX logs into Elasticsearch, but we are only interested by the logs of particular applications. Right now, it's all mixed, there's no way to differentiate which pod/service is targeted. Sure, the targeted upstream address gets logged, but that does not help to process the log.

[2016-09-18 14:49] aledbf commented on #1750
@edouardKaiser no because nginx does not provide a variable with that information.
Please use a custom template with this changes:
[code]

[2016-09-19 04:09] edouardKaiser commented on #1750
Works like a charm, thanks. I'm surprised no one was missing that information in the logs.

[2016-09-19 04:39] aledbf commented on #1750
@edouardKaiser awesome. This change will be included in the next release.

[2016-09-19 05:55] gouyang commented on #1483
In this case, seems docker must be started before flannel, but it should not run flannel role as it's containerized. It's not a block to move flannel before docker.

I just describe a real problem I have met, I can reconfigure flannel and get it work.
But isn't it better to let the ansible to do it?

In fact, docker cannot be started if flannel cannot be started. So It seems let flannel run first

[2016-09-19 21:26] #1750 closed

[2016-09-19 21:44] aledbf opened #1754 "[nginx-ingress-controller] Avoid Ingress with same path that healthz url"

[2016-09-20 17:45] alph486 opened #1761 "Name-based Vhosts in Nginx Ingress Errors out"
When using the current `nginx-alpha` ingress controller and the following ingress:

[code]

The following error occurs in the ingress controller:

[code]

This also occurs with multiple backends.

[2016-09-20 18:08] aledbf commented on #1761
Please do not use `nginx-alpha`. Instead use `nginx`

[2016-09-20 18:09] aledbf commented on #1761
@alph486 I forgtot to clarify why: `nginx-alpha` is just a reference to build custom Ingress controllers

[2016-09-20 21:38] alph486 commented on #1761
Yes, you're absolutely right. A link in the docs brought me to alpha.
Someone on slack corrected me. This can be closed. If I find the link I'll
submit a PR to docs.

Thanks.
On Tue, Sep 20, 2016 at 1:09 PM Manuel Alejandro de Brito Fontes <
notifications@github.com> wrote:

[2016-09-21 10:01] tjliupeng opened #1763 "Is possible to run 2 ingress controller for different usage in a cluster"
Hi,

We plan to run 2 ingress controller: one for front end proxy and load balancing; another is for backend load balancing. For this kind of requirement, how to config the ingress controller yaml? As we want to avoid the single point of failure issue, we need 2 controllers.

For the front end controller, it can run on a specific node which is labelled as "role=loadbalancer"
For the backend contro

[2016-09-21 20:35] #1761 closed

[2016-09-21 21:26] #1611 closed

[2016-09-21 23:02] fejta commented on #1688
This seems like a very complicated solution.

We do not use anything like this inside of Google, but perhaps the argument is it is harder to figure out whether someone has bandwidth for a review since we work at different companies?

How do other other OSS projects have this?

[2016-09-22 04:26] #1735 closed

[2016-09-22 06:43] gouyang opened #1769 "[ansible] Update flanneld config file"
On RHEL, the flannel-0.5.5-1 is using environment vairables

[code]

On Fedora 24, flannel-0.5.5-6.fc24.x86_64 is still using

[code]

Should update `contrib/ansible/roles/flannel/templates/flanneld.j2` accordingly, no rush.

[2016-09-22 10:06] ingvagabund commented on #1769
``flanneld.service`` as well.  Plus, add if fedora > VERSION based on when the updated flannel gets into stable repository.

[2016-09-22 12:39] kayrus opened #1770 "ingress: implement --watch-namespaces and --ignore-namespaces in nginx controller"
current `--watch-namespace` implementation doesn't work well.
- first of all you can specify only one namespace or all namespaces.
- when you already have system namespaces (i.e. monitoring, kube-system, etc.) along with several production namespaces, it is not possible to schedule ingress controller which will serve only production namespaces (because we can schedule only one ingress controller p

[2016-09-22 12:52] kayrus commented on #1770
Looks like duplicate of #847

[2016-09-22 17:30] #1457 closed

[2016-09-22 22:01] bprashanth opened #1776 "gce ingress is too eager in converting probes to health checks"
the gce ingress controller goes looking in `AllNamespaces` for pods matching selectors of a given service, to convert their readiness probes into http health checks. It should only adopt readiness probes from pods in the same namespace as the service.

[2016-09-22 23:23] caesarxuchao opened #1777 "Add upgrade tests as non-blocking tests in submit-queue"
...so that the bot will create issues for flaky upgrade tests.

Do we need all these tests?
- https://k8s-testgrid.appspot.com/google-1.2-1.4-upgrade
- https://k8s-testgrid.appspot.com/google-1.3-1.4-upgrade
- https://k8s-testgrid.appspot.com/google-kubectl-skew (except the tests for 1.2-1.3 compatibility)

If we need all of these tests, we'll need a script to populate the configMap key: https://g

[2016-09-23 08:16] Max-bazinga opened #1779 "create a loadbalancer, the container's status always be CrashLoopBackOff"
Hi, teamer:
I download the latest contrb and follow the example to create a  loadbalancer, using the cmd "kubectl create -f ./rc.yaml". But the status of the service-loadbalancer is always CrashLoopBackOff. The container's log are displayed as below:

  12m	12m	1	{kubelet 192.168.0.123}	spec.containers{haproxy}	Normal	Created	Created container with docker id 48b955197dc5
  12m	12m	1	{kubelet 192.1

[2016-09-23 08:32] Max-bazinga commented on #1779
sorry, the  image is not correct, close!

[2016-09-23 08:32] #1779 closed

[2016-09-23 17:29] grodrigues3 commented on #1688
@bgrant0607 @foxish @apelisse

[2016-09-23 17:48] bgrant0607 commented on #1688
@fejta What we do inside Google isn't very applicable. Inside Google, we can look at other people's calendars and vacation schedules, look at team members, see whether people have moved on to other projects or companies, ping reviewers via hangouts, escalate to managers, etc. I'm also not aware of many internal projects (maybe only one) with similar numbers of contributors and rates of change.

[2016-09-23 21:38] bprashanth opened #1783 "gce ingress should handle health check reconciliation better"
Currently the gce controller doesn't reconcile health checks periodically. This was so users could modify the health check. Unfortunately it also doesn't snapshot, so on restart, it comes up, checks for health check, checks the path, and ends up clobbering what a user put in.

We should just create the health check and backoff from reconciliation till we have a better story around how we're going

[2016-09-26 04:03] #1695 closed

[2016-09-26 14:59] dcowden commented on #1639
Just in case someone comes here and has the same issue I did:

In my case, I had this behavior because of another k8s issue in which serviceaccounts are enabled, but the token is not populated: https://github.com/kubernetes/kubernetes/issues/27973

To determine if you have this issue, look in your container and see if /var/run/secrets/kubernetes.io/serviceaccount/token is there. In my case, the se

[2016-09-26 22:44] #1507 closed

[2016-09-26 22:57] Philmod commented on #1710
Anything I could try to debug this?

[2016-09-27 15:10] pschiffe opened #1788 "[ansible] add variable to configure KUBELET_ARGS in kubelet.j2 template of node role"
Currently it's not possible to provide custom options for `KUBELET_ARGS` in `/etc/kubernetes/kubelet` file. So for example, if I want my pods to run with host network (`KUBELET_ARGS="--host-network-sources=*"`), I have to manually edit `/etc/kubernetes/kubelet` file on every node.

[2016-09-27 15:30] brendandburns opened #1789 "mungegithub old-doc-bot doesn't allow delete only changes"
We should allow delete-only changes since they are inherently making the world a better place, e.g.:

https://github.com/kubernetes/kubernetes/pull/33200

[2016-09-27 16:02] smarterclayton opened #1790 "Ingress controller reporting concurrent map writes"
Reported by @ichekrygin against v1.3.6 in https://github.com/openshift/origin/issues/10826#issuecomment-249714898

Issue below is https://github.com/kubernetes/kubernetes/pull/32125

------

I am hitting this issue in v1.3.6:

fatal error: concurrent map read and map write

goroutine 140812 [running]:
runtime.throw(0x1b9f100, 0x21)
        /usr/local/go/src/runtime/panic.go:547 +0x90 fp=0xc82059ea

[2016-09-27 16:03] aledbf commented on #1790
@smarterclayton fixed in master https://github.com/kubernetes/contrib/pull/1767 (not released yet)

[2016-09-27 16:03] smarterclayton commented on #1790
Thanks

[2016-09-27 16:13] svda opened #1791 "Allow mixed http / https GCLB Ingress rules"
I have an ingress fanout running with two https services, but I would like to add a third one using http only. This is impossible in the current config, which is as follows:

[code]

Something more flexible should be implemented, for example allowing annotations inside fanout rules. Not sure if this is possible, but this would also open the door to add http > https redirects, multi-tls (like https

[2016-09-27 21:39] #1776 closed

[2016-09-28 00:23] colemickens commented on #1492
Thinking about picking this up again. Looks like you copied the directory of one of the other extension/annotations and started adding in the annotations for `auth_request`. Can you give me a brief rundown on the 4 annotations and how they differ so I can continue on the same path you were headed down?

[2016-09-28 02:11] emmanuel opened #1795 "[nginx-ingress-controller] Proxy protocol example has bug in health check"
It appears that the proxy protocol setting (set via configmap) breaks the default health check. Nginx is expecting PROXY protocol on the default HTTP port, but the kubelet is just speaking plain HTTP. The 18080 port looks expressly designed for this purpose, so I was able to get things working merely by switching the readiness/liveness probe config to look like the following:

[code]

[2016-09-28 02:27] aledbf commented on #1492
@colemickens tomorrow this will be working (1796)

Only the annotation `ingress.kubernetes.io/auth-url` is required

[2016-09-28 02:28] colemickens commented on #1492
Oh wow, cool, thank you!

[2016-09-28 03:08] aledbf commented on #1795
@emaildanwilson what you describe is correct. The issue is that in nginx is not possible to disable PROXY protocol in some URLs.
Right now I'm testing a change in the template to use a different [default server](https://github.com/aledbf/contrib/commit/41f54005d43ebfc4af6a6bcd6a5c6ed7aeb1ff58) without PROXY protocol support (this should be used only for probes)

[2016-09-28 13:49] emmanuel commented on #1795
@alebdf - I don't completely understand the intended purpose of the `18080` port. Do you think it is safe/sensible to use that port for the probes?

[2016-09-28 14:01] aledbf commented on #1795
The requirement here was an additional port (different to 80) to test the nginx status (this avoids the use of server name and possible conflict with ingress rules)

@emmanuel the port 18080 is the [default nginx server](https://github.com/kubernetes/contrib/blob/master/ingress/controllers/nginx/nginx.tmpl#L294)
There is no PROXY protocol in the listen section, that's why it worked after the chang

[2016-09-28 16:34] emmanuel commented on #1795
@aledbf thank you for confirming that this configuration is safe. And thanks for the updated template that should allow using the default.

[2016-09-28 19:40] eghobo commented on #860
@theobolo: did you get any luck with running Grafana under ingress controller? i am having trouble with '/grafana' path, 404 error at login page.

[2016-09-28 21:46] metral opened #1799 "[nginx-ingress-controller] Ingress address counts don't match ingress-controller replica count"
I'm running into an anomaly where the Ingress resource for my nginx-ingress-controller has a count of addresses for a host that **do not** actively match the number of replicas of the nginx-ingress-controller itself.

I'm running nginx-ingress-controller v0.8.3 in a Deployment with no hostPort, but instead a NodePort-typed Service fronting the Deployment, and the Ingress resource references this S

[2016-09-28 22:01] aledbf commented on #1799
This is correct

No. If you scale from 4 to 1 there should be only one IP in the Ingress (after a couple of seconds)
Can you reproduce this multiple times (scaling up/down)?

The maximum number of different IP addresses is the number of nodes in the cluster

[2016-09-28 22:03] aledbf commented on #1799
@metral where are you running your cluster?

[2016-09-28 22:08] metral commented on #1799
Can you reproduce this multiple times (scaling up/down)?

Yes, I'm able to reproduce this issue multiple times, so it might be a bug because the additional IP's aren't going away after scaling down. Even after hours have passed.

That being said, given that the Service for this ingress-controller is of type NodePort, shouldn't the Ingress **always** be reporting all 3 addresses, and not one, despi

[2016-09-28 22:14] aledbf commented on #1799
Yes but when you scale down the number of replicas there's an update to the Ingress (to remove the IP) and this could be issue (simultaneous updates)

[2016-09-28 22:19] metral commented on #1799
Given this, shouldn't it then be the case that upon initial deployment with only 1 replica that the NodePort Service *always* reports back 3 addresses to the Ingress since each port can in fact receive traffic on the random port for the Ingress?

I ask because the Ingress only ever reports 1 address on creation of the 1 replica Deployment.

[2016-09-29 06:24] bgrant0607 commented on #1413
@rmmh Is the PR dashboard documented anywhere?

[2016-09-29 08:16] theobolo commented on #860
@eghobo I must say that i'm not using Nginx/Ingress controller for the moment, since the Azure cloud provider implementation gives me PublicIP adresses for eachs applications.

Did you change into the Grafana controller the RootPath of the grafana webserver to point to /grafana ?

[2016-09-29 14:52] kayrus opened #1801 "ingress: uninitialized "proxy_upstream_name" variable while logging request"
I tried the latest nginx.tmpl with the  https://github.com/kubernetes/contrib/pull/1751 change and get lots of error logs in nginx pod:

[code]

these logs relate to 	newrelic:

[code]

[2016-09-29 15:03] aledbf commented on #1801
@kayrus please check if #1802 removes the warning

[2016-09-29 16:39] eghobo commented on #860
@theobolo I figure it out (trailing slash was the issue), see examples below (in case if you are interested)

[code]
[code]

[2016-09-29 18:02] kayrus opened #1805 "ingress: controller doesn't reread template when it was modified inside the pod"
I use this example https://github.com/kubernetes/contrib/blob/6bc22addcdf29c531ebd1fa449aa8de2d840e242/ingress/controllers/nginx/examples/custom-template/custom-template.yaml#L52..L55
And when I update configmap with the new template I don't see any changes or related logs inside the ingress pod. I suppose it is related to inotify, but I'm not sure.

[2016-09-29 18:13] bgrant0607 commented on #1029
Thanks, @ryanj. This is urgently needed. We really need visibility into contributor behavior.

[2016-09-29 18:23] aledbf commented on #1805
@kayrus this is fixed in master but not released https://github.com/kubernetes/contrib/pull/1498

[2016-09-29 18:25] bgrant0607 commented on #1029
@philips Who set up the CoreOS bitergia dashboards?

[2016-09-29 18:28] #1801 closed

[2016-09-29 18:34] kayrus commented on #1805
@aledbf significant change. is there a way to beta-test the image without compiling it on my side?

[2016-09-29 19:03] aledbf commented on #1805
@kayrus yes. Please use `aledbf/nginx-third-party:0.40` (contains most of this [list](https://github.com/aledbf/contrib/blob/release-ingress-controller-0.9/ingress/controllers/nginx/Changelog.md#09))

[2016-09-29 20:06] emmanuel opened #1807 "[nginx-ingress-controller] Feature request: enable session stickiness per-ingress"
We are currently using the ingress-global session stickiness, but have apps with different needs and would like to be able to utilize stickiness on specific ingresses. Based on the other annotation-based configurations that are available per-ingress, it looks like this is not a huge change, since the capability to configure upstreams per-ingress is already present. WDYT?

[2016-09-29 20:08] aledbf commented on #1807
@emmanuel already in the [TODO List](https://github.com/aledbf/contrib/blob/release-ingress-controller-0.9/ingress/controllers/nginx/Changelog.md) :)

[2016-09-29 20:08] emmanuel commented on #1807
Wahoo! Thanks @aledbf. Man, you are fast!

[2016-09-29 22:24] odacremolbap opened #1809 "HAProxy Ingress Controller"
**FEATURE REQUEST /  CONTRIBUTION**

We want to contribute our **HAProxy** Ingress controller.

It is simple enough to get going easily, only Ingress spec are supported.
That limits the features of the Ingress (no configuration management through config maps, no advanced configuration using annotations, not a lot of parameters).

Although backends (kubernetes watchers, stores, ...) are mostly the

[2016-09-30 00:42] bgrant0607 commented on #1029
cc @apelisse

[2016-09-30 10:37] theobolo commented on #860
@eghobo Thanks for sharing ! Well done

[2016-09-30 13:30] cristi- opened #1814 "[peer-finder] Allow dns domain to be configured"
Hello,

 We are using peer finder for zookeeper auto discovery. However since we are using a custom dns domain with kube-dns, peer-finder is not working.

This is the parameter that's causing the issue:
https://github.com/kubernetes/contrib/blob/master/pets/peer-finder/peer-finder.go#L35

Thanks!

[2016-09-30 14:18] metral commented on #1799
Is it safe to say that even though Ingress seems to be working on all 3 of my Nodes, that the reason only 1 is actually being reported is a bug in nginx-ingress-controller? If so, I'd be interested in helping out.

[2016-09-30 15:11] kayrus opened #1816 "ansible: kube-proxy: Error looking for path of conntrack"
I've provisioned k8s using ansible scripts into Ubuntu Xenial VM and noticed the following logs:

[code]

[2016-09-30 16:12] kayrus opened #1817 "ingress: nginx - could not build map_hash"
Same issue I faced months ago when I provided new nginx config in this PR https://github.com/kubernetes/contrib/pull/1310.

[code]

Today I faced it again. But the only difference - I use docker 1.11.2 and HDD instead of 1.12 and SSD. Same Ubuntu Xenial VMs with the same amount of RAM.

I successfully reproduced this error message on pure docker container with this config:
https://gist.github.com/

[2016-09-30 20:25] ryanj commented on #1029
@bgrant0607: @Phillels has been working on that effort.  I'll send over an email introduction.

[2016-09-30 20:46] aledbf commented on #1817
@kayrus which version of the Ingress controller?
The next version contains a [fix](https://github.com/kubernetes/contrib/pull/1596) to adjust the size of the has tables without user intervention

[2016-09-30 21:08] wstrange opened #1818 "nginx examples/default/rc-default.yaml has healthz errors"
I am finding the latest rc-default config does not work anymore. The container is being restarted because it is failing the liveness / readiness probes. See errors below.

If I comment out those checks, it works fine.

This is minikube  /  k8s 1.4.0

- [30/Sep/2016:20:56:16 +0000] "GET /ingress-controller-healthz HTTP/1.1" 404 21 "-" "Go-http-client/1.1" 139 0.001 172.17.0.4:8080 21 0.001 404
172.

[2016-09-30 21:11] aledbf commented on #1818
@wstrange please change the URL to /healthz and the port to 10254.
The new release (wip) changed both and allow the user to set URL

[2016-09-30 21:14] wstrange commented on #1818
That did the trick - thanks!

Do you want me to close out this issue?

[2016-09-30 21:15] aledbf commented on #1818
@wstrange please :)

[2016-09-30 21:15] #1818 closed

[2016-10-01 07:35] kayrus commented on #1817
@aledbf 0.8.3

[2016-10-01 18:14] yolkov commented on #752
I use kubernetes 1.4, debian jessie
also get this error.

[2016-10-01 19:57] apelisse commented on #1406
I've set-up monitoring on the token so we can have a better idea of what's going on:
http://velodrome.kubernetes.io/dashboard/db/monitoring

[2016-10-02 17:39] akoenig commented on #1150
@willstudy One workaround is to convert your definition file to JSON.

[2016-10-02 20:20] yolkov opened #1821 "[kube-keepalived-vip] don't start error"
[code]

**Environment**:
- **Cloud provider or hardware configuration**: 3 baremetal nodes
- **OS** (e.g. from /etc/os-release): debian jessie
- **Kernel** (e.g. `uname -a`): Linux avi-app68 3.16.0-4-amd64 #1 SMP Debian 3.16.7-ckt25-2+deb8u3 (2016-07-02) x86_64 GNU/Linux
- **Install tools**:  kubelet as systemd service, others from manifests pods
- **Others**: calico network

vip-daemonset.yaml
[c

[2016-10-02 20:39] aledbf commented on #1821
@yolkov please check that exists a service account token. You can get more information about the error using the flag `--v=10`

[2016-10-02 20:55] yolkov commented on #1821
[code]
for gcr.io/google_containers/kube-keepalived-vip:0.8 does not work

[2016-10-03 00:50] perezje opened #1822 "No Package matching 'etcd' found available"
I have a small AWS cluster of 3 EC2 redhat 7.2 instances. I'm trying to deploy kubernetes using this ansible playbook. It connected and install k8s master and nodes fine but fails to install etcd with following error...
TASK [etcd : Install etcd via package manager] *********************************
fatal: [52.38.167.59]: FAILED! => {"changed": false, "failed": true, "msg": "No Package matching 'e

[2016-10-03 10:01] mwielgus opened #1823 "Cluster autoscaler may block if max node group size is beyond quota"
On GCE/GKE (and possibly on AWS) if node group scaling goes beyond quota then CA blocks indefinitely as the node group size in Kubernetes doesn't match to the node group size on cloud provider side.

We should check why node group scaling didn't succeed and roll-back the change.

[2016-10-03 11:02] ingvagabund commented on #1816
Looks like the binary is needed [1]. Installation of the ``conntrack`` package should be enough.

[1] https://github.com/kubernetes/kubernetes/pull/26839/files

[2016-10-03 12:47] ingvagabund commented on #1822
Most likely repository where the etcd is provided is not available. You can install the etcd from github or subscribe to proper RHEL channels.

[2016-10-03 15:48] #1492 closed

[2016-10-03 17:03] micheleorsi opened #1826 "[nginx-ingress-controller] metrics on reload"
Hello,
we are adding more and more services/ingresses/pods to our bare metal cluster.
Since the reload operation is _heavy_ and affects the balancing of our requests we would like to keep track of this event.

I developed a simple endpoint with [expvar](https://golang.org/pkg/expvar/) library to expose such information.

Are you interested in this feature? If you want I can submit a merge request

[2016-10-03 17:11] aledbf commented on #1826
@micheleorsi sure, please share information about the endpoint (gist or a comment)

[2016-10-03 17:29] micheleorsi opened #1827 "[nginx-ingress-controller] wrong balancing of requests for 20-30 seconds after configuration reload"
Hello,
we are in a situation where we have hundreds of pods and dozens of nginx ingress controllers for high-availability.

We noticed that when the readiness of a pod changes (and the configuration of _failureThreshold_ and _successThreshold_ is a low number) the sort applied in the [following lines](https://github.com/kubernetes/contrib/blob/master/ingress/controllers/nginx/controller.go#L806) c

[2016-10-03 21:40] apelisse commented on #1096
Current output:
http://velodrome.kubernetes.io/dashboard/db/kubernetes-developer-velocity

[2016-10-03 21:41] apelisse commented on #1096
Code lives here: https://github.com/kubernetes/test-infra/tree/master/velodrome/

[2016-10-04 08:26] cristifalcas commented on #1814
:+1:

[2016-10-04 12:46] aledbf commented on #1827
the sort is required to avoid unnecessary reloads

yes but I think this change should be behind a flag

[2016-10-04 14:18] micheleorsi commented on #1826
As you prefer @aledbf!

In [nginx/command.go](https://github.com/kubernetes/contrib/blob/master/ingress/controllers/nginx/nginx/command.go) I added

[code]

[code]

.. and ..

[code]

.. then I registered the [endpoint ](https://github.com/kubernetes/contrib/blob/master/ingress/controllers/nginx/main.go#L164)
[code]

Let me know if you like it, so I can submit a merge request!

[2016-10-04 14:22] aledbf commented on #1826
@micheleorsi please open a PR

[2016-10-04 14:40] foxish opened #1832 "The CLA nag munger alerting the PR author and not the commit authors"
It is simple enough to check the individual commits and their status, (at the cost of a few extra API calls).
e.g. https://github.com/kubernetes/contrib/pull/1276#issuecomment-250811324

However, when we have a large number of distinct authors, perhaps it would still make sense to ping the PR author (on a cherrypick PR for example).
This issue is to discuss whether it makes sense to always ping ev

[2016-10-04 15:05] foxish opened #1834 "CLA munger in each repository"
Currently, the model we operate under is one instance of the mungegithub bot per repository (test-infra, contrib, kubernetes).
However, with the CNCF CLA, message posting and applying CLA labels are tied to the bot. We would need to have one instance per repository running, which doesn't seem scalable (or efficient) as we have so many different repositories.

The alternatives include:
- Separating

[2016-10-05 15:09] justinsb opened #1837 "nginx controller crashed when master went down"
No real logs yet, but

[code]

From docker inspect...
[code]

[2016-10-05 15:23] justinsb commented on #1837
The root cause seems to be false-positive changes on the nginx-configmap.  Even while the cluster is stable:

[code]

So we are constantly restarting, and we can't restart if the master is down.

[2016-10-05 15:34] aledbf commented on #1837
please check is the pod is not being restarted because of a livenessProbe failure

[2016-10-05 15:48] justinsb commented on #1837
You're 100% right @aledbf - thanks!

`Liveness probe failed: Get http://100.96.4.8:10249/healthz: dial tcp 100.96.4.8:10249: getsockopt: connection refused`

And you pointed out to me on slack that the healthcheck port is 10254.  I changed it in my deployment and it is now no longer restarting - thank you again :-)

[2016-10-05 15:48] #1837 closed

[2016-10-05 17:46] andrewrutter opened #1838 "Blocking issues trying to install on Fedora"
I have been following through the process defined on http://kubernetes.io/docs/getting-started-guides/fedora/fedora_ansible_config/ which is failing for me in a couple of places.

First, any reference to firewalld is failing. For example

[code]

Second, the script is failing completely trying to generate certificates:

[code]

[2016-10-05 18:37] miend opened #1839 "GLBC ingress controller troubleshooting information is out of date, and unclear after v1.3 changes"
The troubleshooting section of [the readme for the GLBC ingress controller](https://github.com/kubernetes/contrib/tree/master/ingress/controllers/gce#troubleshooting) states that one should look at the controller pod's logs for troubleshooting information. According to the information in #1733, as of v1.3, the L7 controller runs on master, not as a regular pod. Google, of course, does not allow ac

[2016-10-06 08:42] ingvagabund commented on #1838
What Fedora version do you run the playbook on? How many nodes? Or just locally? It looks like python-firewall rpm is missing.

[2016-10-06 19:26] ixdy opened #1843 "godep restore failing for mungegithub"
[code]

cc @apelisse @lavalamp @krzyzacy

[2016-10-06 19:30] ixdy commented on #1843
We probably need something like https://github.com/kubernetes/kubernetes/pull/32592 for this repo.

[2016-10-06 19:31] ixdy commented on #1843
see also https://github.com/kubernetes/kubernetes/issues/30069

[2016-10-06 19:43] lavalamp commented on #1843
The "not a tree" error indicates you need to wipe your gopath and try again.

On Thu, Oct 6, 2016 at 12:31 PM, Jeff Grafton <notifications@github.com>
wrote:

[2016-10-06 20:11] ixdy commented on #1843
That doesn't help. As I linked, we need to update the refs, since `google.golang.org/cloud` is no longer valid.
[code]

[2016-10-06 20:21] krzyzacy commented on #1843
I'll change the cloud path and see if it will fix godep

[2016-10-06 21:00] lymichaels commented on #1718
I'm seeing the same issue with the ingress controllers occasionally 502/503ing. I usually 'fix' this by just deleting the ingress controller sending those errors. This happened on v0.8.1 as well as v0.8.3. I still have the ingress controller pods that are causing issues up (for both versions). Let me know what I can do to help debug this issue.

This is what I see when i run a ps, which shows a lo

[2016-10-07 04:28] kuroneko25 opened #1848 "Ingress can leverage healthCheckNodePort"
Hi! I'm looking for a way to make Ingress/GLBC work when a different port is desired for the health check. Here is the context:
We run containers that contain Java gRPC services on GKE. When I set up GLBC I noticed that health checks are failing because the load balancer is making HTTP1.1 requests to the pods and our gRPC servers cannot handle HTTP1.1 requests. So I came up with a work-around by a

[2016-10-07 05:00] bprashanth commented on #1848
Yeah I think we can, here's a brief sketch:

We recently added an alpha feature that allows source ip preservation for type=lb loadbalancers. As part of that implementation we introduced an annotation called `healthCheckNodePort`, docs are: http://kubernetes.io/docs/user-guide/load-balancer/#annotation-to-modify-the-loadbalancer-behavior-for-preservation-of-source-ip

We can reuse the `healthCheck

[2016-10-07 05:06] bprashanth commented on #1839
we should be surfacing more through the events: https://github.com/kubernetes/contrib/issues/1369, but in the meanwhile, can you run `kubectl describe` on the ingress? can you give me the ingress/service etc for a repro? your service needs to be type=NodePort and you need to serve a health check on / or a readiness probe eg:
https://github.com/kubernetes/contrib/tree/master/ingress/controllers/gce

[2016-10-07 05:37] kuroneko25 commented on #1848
Just making sure I understand the proposal correctly:
- We'll be able to specify `healthCheckNodePort` as an annotation when defining a service of type `NodePort`. Can this value be the port name in a multi-port service or does it have to be the actual NodePort port number?
- GLBC will figure out that a different port should be used to create the health check when processing an Ingress. Nothing el

[2016-10-07 05:45] bprashanth commented on #1848
GLBC will point the health check at `healthCheckNodePort`, just like you did, and create the firewall rules. The port needs to serve health checks for the entire service. This part needs fleshing out since it is currently designed to fulfill a different purpose.

Right now, `healthCheckNodePort` needs to be an actual port. It will graduate into a field of some sort.

This is just one (probably mos

[2016-10-07 17:01] kuroneko25 commented on #1848
So if I had an Ingress like
[code]
The health check port is responsible for serving health checks for both test-service and another-service?

[2016-10-07 17:02] bprashanth commented on #1848
no the healtCheckPort is on the service not the ingress

[2016-10-07 17:03] kuroneko25 commented on #1848
Okay that makes sense. Any estimate when this is going to get fleshed out and eventually make to Beta/GA?

[2016-10-07 23:54] lavalamp opened #1853 "submit queue: allow "squash merges""
Github has added an option to the merge button that humans can press that will allow changes to get automatically squashed and then merged. It would be great if we could enable that for the submit queue. I don't think we want to do it for all PRs, but it'd be great if the reviewer could say e.g. `/lgtm+squash` so that the author doesn't have to do a squash.

[2016-10-08 12:50] sandys opened #1854 "SSL passthrough for Ingress container"
the current ingress container cannot do L4 routing. I dont want to terminate my ssl at the ingress container because my ssl config is complicated (with lua rules and all) and i would rather not port them over to annotations.

I see that there is a readme for [proxy protocol](https://github.com/kubernetes/contrib/tree/master/ingress/controllers/nginx/examples/proxy-protocol) as well plans to use [C

[2016-10-08 19:28] apelisse commented on #1834
As discussed, I'll take care of that (if time allows)

[2016-10-08 19:30] apelisse commented on #1832
I would keep it simple, ping the author, and let him deal with his commits. The one pushing is more or less responsible for what is embedded in the PR IMO.

[2016-10-09 14:38] javiercr opened #1857 "Custom IP with GLBC doesn't work"
I'm trying to create an ingress with an IP previously created from the Google Cloud console, following the [instructions](https://gist.github.com/bprashanth/545f00b3b5488109c727) by @bprashanth :

[code]

Where `staticip` it's the name of the IP I created from the console. The annotation works (it gets added to the Ingress resource) however kubernetes totally ignores it and allocates a new IP. I a

[2016-10-09 16:59] bprashanth commented on #1857
The ip needs to be global  (https://cloud.google.com/compute/docs/vm-ip-addresses#reservedaddress, gcloud addresses create foo --global) and unused by anything else (eg: another forwarding rule). What does describe ingress show?

[2016-10-10 06:42] gmarek opened #1858 "Submit Queue should print timezones by dates."
Without it I have no idea what I'm looking at. cc @kubernetes/test-infra-maintainers @eparis

[2016-10-10 09:36] javiercr commented on #1857
@bprashanth ops, that's totally what was happening, I was creating a Regional IP address, it works with a global one. Thank you!

[2016-10-10 09:36] #1857 closed

[2016-10-10 13:08] eparis commented on #1858
All dates are given to your browser with timezone information and your browser is converting those to your local TZ. I'll see if any of those helpers can show a tz, but everything you see in the submit queue should be based on the time on your local host.

[2016-10-10 14:01] gmarek commented on #1858
Thanks for the info, but I'd rather have a TZ info, as across the system we have PST, UTC, and local (CET for me). Sometimes it's hard to understand what is what.

[2016-10-10 17:55] ixdy commented on #1858
cc @apelisse @lavalamp

[2016-10-10 18:01] lavalamp commented on #1858
...and the timezone should ALWAYS BE UTC, everywhere.

On Mon, Oct 10, 2016 at 10:55 AM, Jeff Grafton <notifications@github.com>
wrote:

[2016-10-10 18:03] apelisse commented on #1858
I don't have a strong opinion either way (UTC or not). But I agree that it should show the TZ used (one can only guess that it's local tz)

[2016-10-10 23:13] bgrant0607 commented on #1029
cc @sarahnovotny

[2016-10-11 12:42] rrati opened #1864 "AnsibleUndefinedVariable for networking when running deploy-cluster.sh"
Attempting to run the deploy-cluster.sh script like this:

cd scripts
INVENTORY=../inventory.kube ./deploy-cluster.sh

Results in an error:
fatal: [192.10.0.4] => {'msg': "AnsibleUndefinedVariable: One or more undefined variables: 'networking' is undefined", 'failed': True}

[2016-10-11 12:44] ingvagabund commented on #1864
@pschiffe

[2016-10-11 16:04] alfirin commented on #752
I use kubernetes 1.4 and I also get this error.

It's not a closed issue.

[2016-10-11 16:12] aledbf commented on #752
@yolkov @alfirin which version of the nginx ingress controller is being deployed?

[2016-10-11 16:44] yolkov commented on #752
image: gcr.io/google_containers/nginx-ingress-controller:0.8.3

https://github.com/kubernetes/contrib/blob/master/ingress/controllers/nginx/examples/daemonset/as-daemonset.yaml

[2016-10-11 16:46] aledbf commented on #752
@yolkov please post the log and the output of `kubectl describe <podname>`

[2016-10-11 16:53] yolkov commented on #752
[code]

[2016-10-11 16:55] aledbf commented on #752
Please change the port in the probe section to `10254`

[2016-10-11 17:08] yolkov commented on #752
[code]

[2016-10-11 17:11] aledbf commented on #752
This means the go app inside the pod is not started.
Please post the output of `kubectl logs <podname> --previous` to see the output before the pod is killed

[2016-10-11 17:11] yolkov commented on #752
[code]

[2016-10-11 17:14] bgrant0607 commented on #1029
CNCF bitergia dashboard: https://cncf.biterg.io/app/kibana#/dashboard/Overview

[2016-10-11 17:17] kyessenov opened #1867 "[gce ingress] Unable to use custom health checks"
We have a service that provides an API management interface. As is, it does not have "/" endpoint defined since that is dictated by OpenAPI interface specification that our service abides to. I have tried to specify a custom "liveness probe" on the pods backing the service:

livenessProbe:
        httpGet:
          path: /shelves
          port: 80

However, this is not picked up by the GCE ingre

[2016-10-11 17:20] yolkov commented on #752
[code]
maybe it's because of `I1011 17:16:16.071497       1 merged_client_builder.go:103] No kubeconfig could be created, falling back to service account.`?

[2016-10-11 17:28] zen commented on #1029
Another one, Cauldron dashboard:
https://goo.gl/Ao60nU

Regards,

--
Tomasz 'Zen' Napierała
tomasz@napierala.org

[2016-10-11 17:29] aledbf commented on #752
@yolkov I think is related to https://github.com/kubernetes/kubernetes/issues/33019 and https://github.com/kubernetes/kubernetes/pull/33136

[2016-10-11 17:29] aledbf commented on #752
@bprashanth ping

[2016-10-11 17:59] yolkov commented on #752
I'm just upgraded kubernetes to v1.4.1 and result the same.

[2016-10-11 18:01] aledbf commented on #752
@yolkov please check if the image `aledbf/nginx-third-party:0.46` solves the issue
(this image contains the next version of the nginx ingress controller)

[2016-10-11 18:33] yolkov commented on #752
it works. thanks

[2016-10-11 20:17] #1821 closed

[2016-10-11 20:51] dshmelev opened #1870 "TLS auth for nginx-controller"
How can I implement mutual tls auth on nginx-controller?
Example:

[code]

I put ca.crt to ingress secret:

[code]

but `/etc/nginx-ssl/api-api.pem` file not contain ca.crt.
Thank you.

[2016-10-11 21:11] aledbf commented on #1870
@dshmelev this is not supported (yet) https://github.com/kubernetes/kubernetes/issues/24669
workaround: concatenate the tls.crt and ca.crt

[2016-10-11 21:25] aledbf commented on #1870
@dshmelev I forgot to mention that the concatenation is just for the validation of the certification.
(I will add the mutual tls auth to the TODO list)

[2016-10-11 21:28] dshmelev commented on #1870
@aledbf thank you for fast response =)

[2016-10-11 22:15] alfirin opened #1872 "[nginx-ingress-lb] Error syncing pod, skipping: failed to "StartContainer" for "nginx-ingress-lb""
I deployed a new v1.4.1 kubernetes cluster.

I follow the tutorial to create nginx-ingress-lb.

When I do the containers always restarting with some errors:
`Readiness probe failed: HTTP probe failed with statuscode: 404`
or: `Liveness probe failed: HTTP probe failed with statuscode: 404`
or: `Back-off restarting failed docker container `
or: `Error syncing pod, skipping: failed to "StartContainer

[2016-10-11 22:16] aledbf commented on #1872
@alfirin please check the probe URL is `/healthz` and the port `10254`

[2016-10-12 05:41] alfirin commented on #752
@yolkov the last one: `gcr.io/google_containers/nginx-ingress-controller:0.8.3`.

[2016-10-12 08:23] alfirin commented on #1872
@aledbf: Thanks.

I did what you told me and it worked.

Do you think I should create a PR in order to update [this example](https://github.com/kubernetes/contrib/blob/master/ingress/controllers/nginx/examples/default/rc-default.yaml) which is obviously not working.

For the others, this is my RC for the nginx-ingress-controller:

[code]

[2016-10-12 09:04] micheleorsi commented on #1717
Hello @aledbf, we really need this feature in short time so we decided to develop on our own and then open a PR here ..
Have you got some suggestions before starting?
Thanks

[2016-10-12 09:24] alfirin opened #1873 "[nginx-ingress-lb] Need to have one nginx-ingress-controller per host"
I created a new kubernetes v1.4.1 with two minion hosts.

Then I created the `default-http-backend` and one RC `nginx-ingress-controller` following [the contrib example](https://github.com/kubernetes/contrib/tree/master/ingress/controllers/nginx) as follow:

[code]

Everything is ok for the first host:
[code]
However, for the second host I have an error:
[code]

In order to make this work for the

[2016-10-12 09:57] abudargo commented on #1873
how about using daemonset instead of rc? http://kubernetes.io/docs/admin/daemons/

[2016-10-12 10:45] aledbf commented on #1872
@alfirin no because the current examples are correct (for the next version of the ingress controller). Apologies for the discrepancy between the code and the docs. I hope to release the next version in this week

[2016-10-12 10:51] aledbf commented on #1717
@micheleorsi apologies for the delay with this. I'm waiting for https://github.com/kubernetes/contrib/pull/1847 to be merged. That PR simplifies the parsing of annotations. The new annotation for custom proxy timeouts should be similar to [this one]( https://github.com/aledbf/contrib/blob/c181263a70daca465d6c944793db7bfb00b59c08/ingress/controllers/nginx/pkg/ingress/annotations/healthcheck/main.go

[2016-10-12 11:15] aledbf commented on #1873
@alfirin please check the [daemonset example](https://github.com/kubernetes/contrib/tree/master/ingress/controllers/nginx/examples/daemonset)

[2016-10-12 12:02] micheleorsi commented on #1717
@aledbf no problem at all: you and your team are doing an amazing job following so many open issues and PRs ..
I don't know if you can answer, but do you roughly know when this #1847 will be merged? Because I actually see, it would be way easier to implement with it!

[2016-10-12 12:49] aledbf commented on #1717
@micheleorsi I hope today or tomorrow (but it depends on @bprashanth :) )

[2016-10-12 14:27] alfirin commented on #1872
Thanks a lot for your help @aledbf and for your fast answer.

How could we know about the releases / roadmap?
Or when do you push a new `gcr.io/google_containers` image?

Again, thanks a lot.

[2016-10-12 14:29] alfirin commented on #1873
@abudargo @aledbf Thanks a lot guys for your fast answer.

It worked like a charm.
However I add to put `apiVersion: extensions/v1beta1`.

We will be soon in production with kubernetes or Mesos/Marathon and we would love to know when this feature will be released (not in beta anymore)?

Thanks

[2016-10-12 14:40] aledbf commented on #1872
@alfirin this is the content for the next release https://github.com/aledbf/contrib/blob/b534dad98ce74fa072c57b8f03b95b987bc4bb23/ingress/controllers/nginx/Changelog.md
After the release the examples will be in sync `gcr.io/google_containers/nginx-ingress-controller:0.9`

[2016-10-12 14:44] aledbf commented on #1873
Please open an issue in the main [kubernetes repo](https://github.com/kubernetes/kubernetes/issues) asking for the promotion of Daemonsets to stable

[2016-10-12 15:10] alfirin commented on #1873
Ok then I filled a new issue: https://github.com/kubernetes/kubernetes/issues/34616

[2016-10-12 15:12] alfirin commented on #1872
@aledbf Thanks a lot for your help.

[2016-10-12 18:51] foxish commented on #1832
I agree with that. I think the cases are very few for now, and we can take care of it if it becomes more rampant.

[2016-10-12 20:26] #1686 closed

[2016-10-13 03:08] lewislyou opened #1875 "logging/Dockerfile CMD /usr/local/sbin/config_generator.sh && /usr/sbin/td-agent -qq --use-v1-config --suppress-repeated-stacktrace > /var/log/td-agent/td-agent.log"

[2016-10-13 03:53] #1875 closed

[2016-10-13 07:23] #1872 closed

[2016-10-13 07:24] #1873 closed

[2016-10-13 09:11] kayrus commented on #1805
@aledbf could you let me know when new nginx controller release is expected? or how can I force current 0.8.3 release reread template file when it was changed?

[2016-10-13 10:52] micheleorsi commented on #1717
Actually we are now taking the path of specify properties at _path_ level inside every ingress. Hope this is useful also for you, so that as soon as that PR is merged I can proceed with this new feature!

[2016-10-13 11:33] aledbf commented on #1805
that's not possible in 0.8.3

I don't know. There are 4 pending PRs (#1847 is the most important one) before the next release

[2016-10-13 19:34] mkobetic opened #1877 "Problems using zookeeper petset with latest stable version"
I'm using the petset yaml pretty much as is, just minimal tweaks to bump it down to the latest stable (2.4.9 atm), which should be something like this IIUC:
[code]
Just running this modified yaml through `kubectl create`, starts the first pet, then moves on to the second and stops. Looking at the logs it seems that the first pet just decides to run in standalone mode and then the second fails tryi

[2016-10-13 20:38] mwielgus opened #1878 "Cluster-autoscaler: clean up debugs"
Clean up debug messages and add missing but useful ones.

[2016-10-14 14:40] mkobetic commented on #1877
Never mind, I figured out how to use the peer-finder correctly for the pre 3.5.0 zookeeper, i.e. don't use it as an init-container but instead as the zk container itself, so mostly just move the bootstrap init container bits into the main zk container definition:
[code]
with these changes the petset seems to scale up to three nodes just fine.

Sorry about the noise.

[2016-10-14 14:40] #1877 closed

[2016-10-14 20:17] roboll commented on #1463
#1880 makes ingress class configurable

[2016-10-15 05:54] bgrant0607 commented on #869
I'm finding that many reviewers are not aware of `/lgtm`. I think that when the bot assigns a reviewer, it should post tips for reviewing, including common commands, info about Reviewable, link to more info, etc.

[2016-10-15 21:10] aledbf commented on #1854
@sandys yes, please check https://github.com/kubernetes/kubernetes/issues/24145
That being said features like "SSL pass through" must be supported by the software that provides the reverse proxy (for instance this is not possible with nginx)

[2016-10-16 00:12] whereisaaron commented on #1463
@vreon @pieterlange my use case also: different ingress controllers for internal and external load balancers. Right now you need to either:
- use two different implementations on an ingress controller just so the annotation 'ingress-class' value is different
- use --watch-namespace and have a nginx controller for every namespace, since you can only watch all or one namespace

Matching Ingress reso

[2016-10-16 19:19] jojje commented on #1867
We also hit the same problem. While waiting for your ticket to result in a proper fix, one workaround, and the one I personally employed for our env. was to add a special route processing directive in the nginx "cluster ingress service", exploiting the fact that GLBs perform health-check pings using node IP addresses and not hostnames.

In _our_ setup all cluster services intended for external con

[2016-10-16 21:14] acca opened #1881 "[vagrant] tty required to run sudo on Vagrant OpenStack provider for certain images"
Deploying with vagrant on OpenStack using centos7 base image I encountered the below error on the "Rsyncing folder" step due to tty missing from Vagrant env but required in order to run sudo on certain OS images (those with `Defaults requiretty` in `/etc/sudoers`).

This is related to https://goo.gl/fC5sPW and a fix is proposed within this PR ready for submit: https://github.com/kubernetes/contrib

[2016-10-17 19:12] aledbf opened #1882 "Proposal: remove nginx ingress controller from contrib"
Hi everyone,

I would like to propose moving the nginx ingress controller located in https://github.com/kubernetes/contrib/tree/master/ingress/controllers/nginx.

I'm not sure if this qualifies for the incubation process or just split it out straight into a repo.
This Ingress controller has been maintained for more than 10 months, with active support in the contrib issues and slack.
(I don't have

[2016-10-17 19:23] justinsb commented on #1882
I think this is a great idea (cc @bprashanth ).

The nginx ingress controller is critical to making ingress work on non-GCE platforms (in particular AWS).  Personally I consider it a core part of k8s, given that ingress is in-core.  I would be in favor of grandfathering this in to a kubernetes non-incubator repo, given that we would probably otherwise put it into the incubator and graduate it with

[2016-10-17 19:31] bgrant0607 commented on #1882
There is already an issue for this: #1441. See also #762.

[2016-10-17 19:31] bgrant0607 commented on #1882
It doesn't need to be incubated.

[2016-10-17 19:54] euank commented on #422
Still not fixed, I slipped something through without a lgtm label: https://github.com/kubernetes/kubernetes/pull/34958#issuecomment-254312053

[2016-10-18 00:49] MaikuMori opened #1884 "[NGINIX Ingress Controller] Support for 301 redirects."
Would be nice to be able to setup 301 redirects. As services come and go, certain things in the cluster get deprecated and require a redirect to a new location.

Two current solutions that I'm aware of now:
- Use custom template, but this is overkill and makes upgrading controller harder/error prone;
- Put another proxy in front of the ingress controller, also seems overkill, but maybe not a bad i

[2016-10-18 01:42] aledbf commented on #1884
@MaikuMori can you post an Ingress rules as example?

[2016-10-18 05:04] alpe opened #1885 "Incompatible health check path in `ingress/controllers/nginx` image/ examples"
With https://github.com/kubernetes/contrib/pull/1749 a new healthcheck path was introduced and the path in all the example yamls updated. Unfortunately the examples still point to the old image`gcr.io/google_containers/nginx-ingress-controller:0.8.3` which does not include the updated `nginx.tmpl`.
This results in a restart loop as the new `/ingress-controller-healthz` path is served by the 404 de

[2016-10-18 15:00] andrewsykim opened #1886 "Cluster Autoscaler should delete nodes that fail to register with the api server"
In the rare occasion that workers fail to register with the api server, the cluster autoscaler gets "stuck":
`W1018 14:50:46.022562       1 cluster_autoscaler.go:191] Cluster is not ready for autoscaling: wrong number of nodes for node group: k8s-worker expected: 3 actual: 2`
until there's manual intervention.

It would be awesome if the cluster autoscaler could detect new nodes in the cloud provi

[2016-10-18 15:01] andrewsykim commented on #1886
@mwielgus

[2016-10-18 17:32] jsindy commented on #829
Can someone link how to enable sticky sessions for the nginx ingress controller? Having some trouble finding it.

[2016-10-18 18:00] lukesmith commented on #1885
I was stumped by this yesterday when setting up the nginx-ingress-controller for the first time. I found the answer in #1872. For now I've changed the path back to `/healthz` and it's working. Hoping 0.9 will be pushed soon

[2016-10-19 00:43] grodrigues3 opened #1891 "Modify Approvers Mechanism (Notify for Cancels)"
When canceling an approve, we should have the bot add a comment /approve cancel.
We also need to remove the approvedLabel when an approver cancels the approve request

[2016-10-19 02:48] MaikuMori commented on #1884
Could be done with some awkward Ingress rule like this:

[code]

Other option is in the configmap using some sort of format:

[code]
In this example split on ` ` and then on first `:`. I'm sure there is a better separator choice.

Personally I would like free-form config map entry like:
[code]

Also such custom block set via annotations would be nice for adding custom options to server directives

[2016-10-19 03:26] saad-ali opened #1892 "Incorrect PR Size label"
In PR https://github.com/kubernetes/kubernetes/pull/33944 the bot correctly applied the ` size/XXL` label to the PR that touches 72 files and adds 6936 lines.

It later removed that label and replaced it with `size/XS` <-- Buggy behavior

[2016-10-19 03:31] saad-ali commented on #1892
Another example where the bot seems to be fighting itself: PR https://github.com/kubernetes/kubernetes/pull/28599

[2016-10-19 17:52] grodrigues3 commented on #1891
Similar to what the bot does here when the PR is changed after lgtm, we should remove the approve label and add a comment indicating that the label is being removed because the code was modified after "approval"
https://github.com/kubernetes/kubernetes/pull/34653

[2016-10-19 18:12] foxish opened #1893 "Errors when creating some issues from mungegithub"
This from the kubectl logs.

[code]

[2016-10-19 18:12] foxish commented on #1893
/cc @apelisse @lavalamp @grodrigues3

[2016-10-19 18:18] foxish opened #1894 "Mungegithub loop takes more than 10 minutes"
https://github.com/kubernetes/kubernetes/pull/34980#issuecomment-254890383

There is a delay of around 19 minutes between the `/lgtm` comment and the application of the label.
Clearly looping over the issues serially is taking much too long. Maybe we should take a look at the way the mungers are structured, find ones that can execute in parallel and allow for parallel execution to cut down on the

[2016-10-19 18:18] foxish commented on #1893
/cc @kubernetes/contributor-experience

[2016-10-19 18:21] eparis commented on #1893
Last time I saw anything like this it was because we were trying to post a message >64k....

[2016-10-19 18:21] foxish commented on #1894
Maybe we should have monitoring for this as well in velodrome.

[2016-10-19 18:22] eparis commented on #1893
Resource:Issue Field:assignee Code:invalid Message:

Although this might be trying to assign something to a person not in the organization....

[2016-10-19 18:27] foxish commented on #1893
@eparis Shouldn't we back off immediately? It seems to be trying to create the issue over and over again, which may trigger github's abuse detection mechanism.

[2016-10-19 18:32] foxish commented on #1892
@eparis any idea why this might happen? A github api glitch?

[2016-10-19 18:45] spxtr commented on #1894
We should move this functionality into one of our push-based systems such as prow or gubernator.

[2016-10-19 18:45] eparis commented on #1893
I can't find a loop anywhere in the code....

[2016-10-19 18:49] eparis commented on #1892
The sizer is supposed to ignore all changes in `vendor`    so it should be possible for a HUGE PR that only changes `vendor` to be XS.

But it is obviously broken...   Somehow the amount of changes in `vendor` are being mis-counted...

[2016-10-19 19:10] dmitriyvolk opened #1896 "Is there a way to autoscale groups down to empty?"
Usecase: keeping an `x1.32xlarge` instance idle quickly becomes very expensive, so it would be nice to have a way to start one when it's needed, and kill it afterwards.

[2016-10-19 19:30] aledbf commented on #1884
@MaikuMori I think could be useful

That said there's a some issues some of the proposals:

that is not possible because it makes impossible the creation of a generic template (please check the [current version](https://github.com/kubernetes/contrib/blob/master/ingress/controllers/nginx/nginx.tmpl) to see the logic behind

supporting "lists" inside the annotation is not an issue but you are mixing

[2016-10-19 19:44] grodrigues3 commented on #1893
Is the problem somewhere in issue-sync.go ...the Sync function?

[2016-10-19 22:02] eparis commented on #1892
Seems definitely like a github API bug...

I'm looking specifically at kubernetes/kubernetes#28599.

If I look at the api
https://api.github.com/repos/kubernetes/kubernetes/pulls/28599

I'll see that is says:
[code]

But if I look at it via git:
[code]

So the github api says there are only 18k insertions but there are really 65k insetions! When we then remove the additions/deletions from ignores

[2016-10-19 22:07] eparis commented on #1892
e-mail sent to github support

[2016-10-19 22:12] foxish commented on #1892
@eparis Thanks for figuring it out. I wonder it is a recent change on their end that caused this.

[2016-10-19 22:45] skylve commented on #1867
@jojje Pretty interesting, how did you achieve that ? Could you give more info ?

I also tried to change the healthcheck configuration directly in GLBs but it didn't help, after a while the config is reseted to the default target (`/`) and defaults settings. I have no idea why.

[2016-10-19 22:58] mwielgus opened #1898 "Cluster autoscaler: make sure that all pods present on the deleted node had a chance to be scheduled elsewhere"
Otherwise next node deletion may be premature. We are not very likely to hit this issue right now although it is theoretically possible.

cc: @fgrzadkowski @piosz

[2016-10-19 22:59] mwielgus opened #1899 "Cluster-autoscaler: Add events for scale down"
Today there are only logs.

cc: @fgrzadkowski @piosz

[2016-10-19 23:00] davidopp commented on #1898
I think this should be flag-configured. Once we have disruption budget it may not be necessary.

[2016-10-19 23:00] mwielgus opened #1900 "Cluster-Autoscaler: Integrate with Disruption Budget"
When we move DB out of alpha.

cc: @fgrzadkowski @piosz @davidopp

[2016-10-20 00:58] spxtr commented on #1894
Take a look at https://github.com/kubernetes/test-infra/pull/887. This will get us instant responses and I think the last commit (https://github.com/kubernetes/test-infra/pull/887/commits/c7d6daec17e344f579e14a6c38bfdf74157f8537) is quite simple.

[2016-10-20 04:07] MaikuMori commented on #1884
Technically NGINX supports multiple http blocks, but it's not exactly best practice and can break stuff. What about `http-block` which is inserted here [nginx.tmpl#L365](https://github.com/kubernetes/contrib/blob/master/ingress/controllers/nginx/nginx.tmpl#L365)? Or did I completely misunderstood why it's not possible? If it's inserted at the end, it can overwrite things. Personally I would prefer

[2016-10-20 04:21] foxish opened #1901 "Bot-name should be parameterizable"
Context: https://github.com/kubernetes/contrib/pull/1897#issuecomment-255005200
Intel is running their own instance of the mergebot under a different name and the CLA-ping is not recognized by the matchers because we assume that they must be made by `k8s-merge-bot`. We should ideally be able to pass in the name of the bot as a commandline argument.

cc @kubernetes/contributor-experience @lavalamp

[2016-10-20 11:15] guybrush commented on #952
Isn't this solved with #1063 ?

[2016-10-20 11:19] chamilad opened #1902 ""Exec format error" when running customized service_loadbalancer"
I tried doing some minor changes to the `service_loadbalancer.go` file and building it in a custom Docker image to be run. However when done so, the RC goes in to CrashLoopBack and `kubectl logs <pod>` shows the only the following error.

[code]

I used both Go 1.7 and 1.6 versions to build the customizations and also tried specifying the target architecture as `GOARCH=386` and `GOARCH=amd64` in t

[2016-10-20 13:21] fgrzadkowski commented on #1898
The reason to wait is not to avoid breaking disruption SLO, rather making sure that our simplified simulations are still valid. We want to avoid creating pending pods by scaling down the cluster.

[2016-10-20 13:57] eparis commented on #1901
There are actually multiple 'bots' used throughout the mungers. Not sure what that parameterization will look like, but I always hated the fact they were all hard coded...

[2016-10-20 14:31] eparis commented on #1892
[code]

[2016-10-20 14:32] eparis commented on #1892
Maybe we should calculate the size summing the file.Additions instead of using the pr.Additions and then subtracting out the file.Additions we wish to ignore?

[2016-10-20 14:59] pbitty commented on #1886
@osxi @iterion What do you do in your environment for this situation?

[2016-10-20 16:58] bprashanth commented on #952
I don't think the gce controller watches yet, it does the re-list thing, so leaving open

[2016-10-20 19:52] davidopp commented on #1898
@fgrzadkowski I didn't understand your comment.

BTW there is no well-defined notion of a pod rescheduling elsewhere in Kubernetes (except maybe for instances of a PetSet).

[2016-10-20 20:24] #1892 closed

[2016-10-20 20:56] Sushant commented on #1854
@aledbf NGINX Ingress controller (nginx-ingress-controller:0.8.3) seems to be running `nginx/1.11.3`. I believe this would be possible with `nginx/1.11.5` which has the `ngx_stream_ssl_preread_module`?

[2016-10-20 21:02] aledbf commented on #1854
@Sushant yes and no. It is possible **IF** you use the new stream feature but if you do that means TCP only because can't do L7 balancing without terminating TLS (ie all the Ingress with TLS termination in the controller won't work).

Check this issue https://github.com/nginxinc/kubernetes-ingress/issues/57#issuecomment-255208477 (already ask if is possible to use conditional routing for SSL pass

[2016-10-20 21:48] Sushant commented on #1854
@aledbf
Right. For a moment, I thought I could get away with having two instances of the Nginx ingress controller on the same cluster (1 with and 1 w/o SSL passthrough). But then I would need something like this: https://github.com/kubernetes/contrib/pull/1880 to support both types of apps.

[2016-10-21 07:15] nuschk commented on #1867
@skylve I wanted to go down that manual route as well. How fast did it change back? Mine is keeping its settings for 24h now...

Another alternative could be to add a simple http proxy to the pod in question and make it relay the request from '/' to wherever it needs to go. Seems the most simple way to do it and is probably what I will implement if I cannot override from gcloud.

[2016-10-21 08:02] nuschk commented on #1867
Guys, this *does* seem to work if you're not using named ports for mapping deployments to a service. Also, you need a readinessProbe instead of livenessProbe I guess.

Mine works now like this:

[code]

and is correctly mapped to a GCE healthcheck.

Also, as a reference, the example at https://github.com/kubernetes/contrib/tree/master/ingress/controllers/gce/examples/health_checks works as adverti

[2016-10-21 08:28] fgrzadkowski commented on #1353
Closing in favor of https://github.com/kubernetes/contrib/issues/1900

[2016-10-21 08:28] #1353 closed

[2016-10-21 14:08] gajus commented on #752
I think I am getting the same issue:

[code]

[2016-10-21 14:20] gajus commented on #752
In my case, I have made a mistake when creating the ingress controller.

I have done:

[code]

i.e. I have not noticed that there is a variable in the declaration, which resulted in `--default-backend-service=/default-http-backend`.

[2016-10-21 14:26] aledbf commented on #752
@gajus please use `kubectl create -f <yaml file>` instead (`$(POD_NAMESPACE)` is valid from the running pod)

[2016-10-21 14:50] gajus commented on #752
You can still use heredoc, you just need to disable string interpolation, i.e. `<<'EOF'`.

However, I am still having issues.

[code]

It looks like the culprit is:

[code]

However, I don't see where this is configured.

[2016-10-21 14:53] aledbf commented on #752
@gajus please change
[code]

with
[code]

[2016-10-21 15:07] mwielgus opened #1907 "Cluster-autoscaler: respect pod termination notice"
Currently pods are not terminated gracefully.

cc: @fgrzadkowski

[2016-10-21 15:29] fgrzadkowski commented on #1898
Sorry for not being clear. Let me try to clarify.

During simulation phase we check if a node could be deleted and all of the pods can be scheduled elsewhere. When we finally perform the scale down, before removing next node from a list, we should make sure that our simulation were accurate and indeed all the pods were correctly re-scheduled (i.e. recreated and scheduled somewhere else).

[2016-10-21 15:41] gajus commented on #752
Can you explain the reason or refer me to the relevant docs?

[2016-10-21 16:19] bgrant0607 opened #1908 "Prioritize contributor inconveniences"
@tmrts @pires @fabianofranz @pipejakob @idvoretskyi @bdbauer @feiskyer @chrislovecnm @wonderfly @hongchaodeng

You have requested to be added to kubernetes-maintainers in the past 9 months.

Why?

What exactly were you trying to accomplish such that you thought write access to the kubernetes repo would make it possible or help?
- Set lgtm label?
- Set release-note labels?
- Set milestone on PR or

[2016-10-21 16:28] wonderfly commented on #1908
For me it was primarily for setting release-notes labels, and assigning PRs to reviewers. I got added into the maintainers list but then I learned that I'd have to help fix flaky tests (got assigned 10+ test issues I had no clue what were) so I decided to quit. After all I could ping somebody else from the team to add the labels for me.

[2016-10-21 17:10] bprashanth commented on #1877
@mkobetic for on-change it needs to run in the app container. Current zookeeper example only uses on-start, which can run completely in init such that zookeeper itself is pid1.
https://github.com/kubernetes/contrib/blob/master/pets/zookeeper/zookeeper.yaml#L55

[2016-10-21 19:39] mwielgus commented on #1898
@fgrzadkowski - This is not exactly correct. We need to make sure that some pods from the rs/jobs/rc of the pods from the deleted nodes were created and had a chance to be scheduled.

The conditions would be:
* all rc/rs/jobs somehow involved in node deletion should have the correct number of pods created.
* there are no pods that have not been processed by the scheduler.

And actually we don't ca

[2016-10-21 20:59] ncdc opened #1912 "Add a way for the bot to avoid flake pings for issues requiring external fixes"
I have a few flakes assigned to me that can't be fixed until we move to a newer version of docker. It would be nice if there was some way, perhaps a label, to keep the bot from adding flake pings when we know we're dependent on external changes.

cc @ixdy @apelisse @lavalamp @spxtr @bgrant0607 @eparis

[2016-10-21 22:05] fgrzadkowski opened #1913 "Cluster-autoscaler: Unschedulable (and unready) nodes are blocking CA"
When debugging customer issue we've seen the following scenario:
1. Customer drained 2 nodes to force CA to remove them
2. CA started reporting that cluster is not ready for autoscaling as number of expected and current nodes does not exist. This was caused by listing only ready, schedulable nodes. See [code](https://github.com/kubernetes/contrib/blob/d519cddaa0b85d37cc912fa6cf2c0592c2b8cf74/clust

[2016-10-21 22:20] bgrant0607 commented on #1908
@pires If most of your work is on kubeadm, your problem would be solved by moving kubeadm to its own repo. :-)

[2016-10-21 22:20] roberthbailey commented on #1913
To get the CA back into service, the two options appear to be:

1. uncordon the two drained nodes
1. manually remove the two drained nodes from the MIG

Both of these options require a user to deeply understand the CA behavior and manually repair the controller.

[2016-10-21 22:29] bprashanth commented on #1396
Hmm, this should work. We have an e2e for it (https://github.com/kubernetes/kubernetes/blob/master/test/e2e/ingress_utils.go#L108). Are you running in GCE or GKE? What version Kubernetes?

I just tried and it does what I expect. Upon apply, you should see a second ssl cert, i.e:
[code]

And on re-apply you should see it go back to the original name.
This is because edits to the resource arean't al

[2016-10-21 22:39] fabianofranz commented on #1908
- Set `lgtm` label once I'm LGTM in reviews (already being assigned as reviewer by others)
- Set `release-note-*` labels
- Self-assign PR or issue
- Assign PR to someone else
- Assign issue to someone else
- Set some other labels on issues: `component/kubectl`, `area/usability`, `kind/bug`, `kind/enhancement`, `kind/feature` (for issues related to the cli)

The request is related to my work with @

[2016-10-21 23:03] bgrant0607 commented on #1908
@fabianofranz LGTM can be achieved by `/lgtm` now, FYI, if the PR is assigned to you.

[2016-10-21 23:08] fabianofranz commented on #1908
Didn't know that, thanks!

[2016-10-21 23:56] fabianofranz commented on #1908
- close issues and PRs (eventually fixed but not referenced by other PRs)

[2016-10-21 23:58] pires commented on #1908
@bgrant0607 as we speak, yes, it is _just_ `kubeadm`, in terms of code. But, as part of the aforementioned SIG's interest, we're looking into not just proposing design but also implementing stuff that will be leveraged by `kubeadm` and other tools in the future, namely self-hosted (kubelet pod api, checkpointing) and HA (discovery, TLS bootstrap). May I add this is of other SIGs' interest, e. g. s

[2016-10-22 01:04] grodrigues3 opened #1917 "Fix The Approval Handler"
In the `hasApprove` function there is a bug in the for loop

[code]

The continue statement never allows the handler to look deeper in the tree after it runs into the `fileOwners.Len() == 0`.  The continue statement means the path never gets appended to.

[2016-10-22 03:45] foxish commented on #1917
cc @hongchaodeng

[2016-10-22 15:26] feiskyer commented on #1908
For me, mostly be able to

* set labels to PR
* set assignees for PR/issue
* close issues
* auto assign PR or issue to me

[2016-10-22 21:15] davidopp commented on #1898
I don't understand this requirement. Let's say the last scale-down resulted in a pending pod (i.e. the simulation was wrong). Why should that affect your decision of whether to do another scale-down? It doesn't seem the next simulation is more likely to be wrong just because the last one was wrong. (That said, maybe if you get two bad simulations in a row, you should stop the autoscaler and raise

[2016-10-22 21:44] mwielgus commented on #1898
I wrote "created" because I want it to be created in the apiserver. It doesn't have to be scheduled, it can be marked as unschedulable. Deleting nodes while some rc/jobs/rs are yet to create pods in the apiserver (possibly in the place of nodes from the deleted node) is premature, the node may be needed in a few (milli) seconds. On the other hand, if a pod is marked as unschedulable then we know t

[2016-10-22 22:04] mwielgus commented on #1898
In theory all of these mechanisms are not needed. If CA is in sync with scheduler with regards to predicates then CA always leave nodes that can accommodate pods from the just-removed machine alive for 10 min. However, the experience shows that there can be bugs or unexpected behavior in other components that can severely affect CA.

[2016-10-23 13:26] Simperfit opened #1919 "Error Trying to run ansible on Fedora 21 / 23 / 24"
Is there something i'm doing wrong ?

http://XX.XX.XX.XX:2379 is returning 404

[code]

[2016-10-23 17:11] gajus commented on #752
I am still getting the same issue:

[code]

[2016-10-23 17:19] gajus commented on #752
Never mind. Upon further inspection of the pod logs I have realised that I forgot to setup "default-http-backend" service this time.

[2016-10-24 06:02] Pensu commented on #1561
Figured it out, I my nginx configuration had some issues. Closing it.

[2016-10-24 06:02] #1561 closed

[2016-10-24 11:51] #1899 closed

[2016-10-24 12:56] tmrts commented on #1908
I used my write access for:
- Applying team/area/kind/status labels
- Closing resolved/outdated issues
- Assigning myself/others to the issues or PRs
- Editing issues/comments to clarify the meaning and fix errors

Without write-access, these inconveniences can be alleviated by:

1. GitHub allowing finer-grained settings (Label write access, Assign write access as opposed to blanket write access)

[2016-10-24 13:52] chrislovecnm commented on #1908
Set lgtm label? Yes
Set release-note labels? No, do not have this in kops
Set milestone on PR or issue? Yes
Self-assign PR or issue? Yes
Assign PR to someone else? Yes
Assign issue to someone else? Yes
Set some other labels on issues (which ones)? Yes, kops specific
Set some other labels on PRs (which ones)? Yes, kops specific
Edit wiki - no
Something else (what)? We also needed help setting up CI

[2016-10-24 14:17] karolyi opened #1920 "nginx ingress controller compilation error"
Hey,

I want to compile the nginx ingress controller in a google cloud shell.

Running `go get .`, I get the following error:

[code]

[2016-10-24 14:22] aledbf commented on #1920
The project uses godep. You don't need to run `go get` (the vendor directory is in the parent)

[2016-10-24 14:34] mkobetic commented on #1877
@bprashanth, yup I realized that eventually, I posted the changes I made to the petset yaml above; with those the pet set spun up and has been running ever since. Thanks!

[2016-10-24 16:26] karolyi commented on #1920
sorry I'm not a go professional.

after simply executing `make controller` (as stated in the readme), I get this:

[code]

is there any extra step I have to make?

[2016-10-24 16:43] aledbf commented on #1920
@karolyi you need to follow the [Getting the Code](https://github.com/kubernetes/contrib#getting-the-code) steps to compile.

(from the errors you are using `~/kubernetes-contrib/ingress` which is no a valid path)

[2016-10-24 16:44] aledbf commented on #1920
Sorry to ask but why are you trying to compile the ingress controller and not just use the image from `gcr.io`?

[2016-10-24 16:48] karolyi commented on #1920
I'm a newcomer to k8s and in progress of building a cloud solution based on google cloud. The problem is, Google's loadbalancer doesn't handle SNI, and moreover, I just recently stumbled upon on that gcr.io image. Nevertheless, I'd like to have my own with the latest dependencies/libraries compiled. Since there was no latest tag as far as I could see, I decided to compile it for myself.

Might be

[2016-10-24 16:52] aledbf commented on #1920
Just as an comment: `latest` is not a version :)
That's the reason why there's a changelog that shows the releases and the examples always use the latest version.

[2016-10-24 16:55] karolyi commented on #1920
I beg to differ here, the jenkins docker images have a latest tag :)

I'll be of course tracking this controller, but I like to build and understand things from the ground up, hence my approach.

[2016-10-24 17:04] foxish commented on #1834
@apelisse If you put out a WIP PR, I can help with this as well, in order to speed it up.

[2016-10-24 17:06] aledbf commented on #1920
Yes, you are right but if you start using `Kubernetes` to deploy applications using [deployments](http://kubernetes.io/docs/user-guide/deployments/) if you tag images with `latest` you cannot  [rollback](http://kubernetes.io/docs/user-guide/deployments/#rolling-back-to-a-previous-revision) (without re-publishing the old image). Again that's just a comment.

[2016-10-24 21:13] mwielgus opened #1921 "Cluster-autoscaler: add a way to specify which node pool to expand"
Right now if there are two node pools that expanding which would make a pod schedulable a random one is chosen. This may result creating a 32core+ssd node for a single pod.

[2016-10-24 21:53] karolyi commented on #1920
I managed to compile it, thx... closing this ticket.

[2016-10-24 21:53] #1920 closed

[2016-10-25 00:27] grodrigues3 opened #1924 "Only Approved PRs to Be Merged After Feature Freeze"
No new features should be merged after Feature Freeze (see the exceptions doc), and we should enforce this using the mungebot, so that it does not have to be manually monitored.

I propose we do the following:
- [ ] Add a new flag that indicates the current release
- [ ] Add a new flag that indicates if we're in feature freeze period
- [ ] Add a new label (releaseCzarApproved) that indicates Saad

[2016-10-25 01:48] eparis commented on #1924
This makes sense at the very end of the bug fix period, but right after feature freeze there are so many bug fixes done that blocking on one person isn't reasonable.

Since the same people who can set the 1.x milestone can set the 'releaseCzarApproved' label I'm not sure why we need the distinction for most of the cycle. We can already only merge things with the specified 1.x milestone.

As we get

[2016-10-25 04:10] saad-ali commented on #1924
Maybe enforce it in the last three weeks? @pwittrock was the last release czar and can comment on how much of a problem it was in the past. My understanding is that this will automate manually having to monitor the merge queue for unexpected changes getting in. Less manual work is better.

Right, since the set of people that can modify the milestone is the same as the set of people that can add a

[2016-10-25 13:54] pschiffe opened #1925 "[ansible] kube-dash and kube-ui are invalid ansible variable names"
Ansible variable name can't contain dash
http://docs.ansible.com/ansible/playbooks_variables.html#what-makes-a-valid-variable-name

https://github.com/kubernetes/contrib/blob/master/ansible/inventory/group_vars/all.yml#L86

[2016-10-25 15:01] eparis commented on #1924
@saad-ali if someone other than you adds the 'approved by release czar' label we know that in the github history and we can use social behavior changes (like removing their write perms) to stop such behaviors.I think getting more things/lists in tools correct is brittle.

If such a label has `czar` in the name it would certainly be more clear than the milestone that people shouldn't be setting it

[2016-10-25 15:11] osxi commented on #1886
@pbitty To my knowledge, this hasn't happened to us (yet).

I do notice that message/behavior when nodes are still booting up and are in the process of becoming ready on the cluster.

When does that happen to you? I would agree that nodes should probably terminate if they don't come up on the cluster, especially after a reasonable amount of time like 10 minutes maybe. That behavior might also be b

[2016-10-25 15:58] karolyi commented on #1113
+1, the NodePort update helped ended my 4-day struggle finding out why the loadbalancer won't forward requests to my backend instance properly.

this should be highlighted for kubernetes, it's not really well documented, and people who come from tutorials will miss this point.

[2016-10-25 15:59] andrewsykim commented on #1886
@osxi it could happen for a variety of reasons, docker daemon crashes, failing to pull important binaries, etc. But those sorts of failures should be expected here and there and should be accounted for. At one point we had an dedicated ELB using the kubelet on each worker as a health check, so if the kubelet failed to start we would have ELB terminate the node, but thats extra expenses that we pro

[2016-10-25 18:20] sandys commented on #1854
hi manuel
thanks! btw, the nginxinc bug was also filed by me ;)

do you think we can get nginx 1.5 as the ingress controller and see if tcp
pass through is working? if you check the k8s slack channels... there are a
lot of people who want to do this (we dont want to move our ssl termination
to ingress... because that would mean porting over our configs).

if all i can do is use ingress as a dumb p

[2016-10-25 18:28] bprashanth commented on #1854
there's a proposal open for tcp ingress, and a bug open for multiple tls modes. We should combine those two to give us what we want. Please comment on  https://github.com/kubernetes/kubernetes/issues/32928 and https://github.com/kubernetes/kubernetes/pull/25821 to make sure it does what this bug requires, and re-open if we can't leverage those features for passthrough

[2016-10-25 18:28] #1854 closed

[2016-10-25 18:41] sarahnovotny commented on #1029
There's also the work that Apprenda showed at the Community meeting
<https://www.youtube.com/watch?v=_PodBS-KTQI> this week.  All this should
be consolidating under the WG-Contribex.

On Tue, Oct 11, 2016 at 10:28 AM, Tomasz Napierala <notifications@github.com

[2016-10-25 18:42] pipejakob commented on #1908
At first, my request was purely because it was a step on our new hire
checklist (which we can remove). I'm still pretty new to the team and
Google, so my asks might grow over time, but so far all I've wanted to do
is assign issues to myself to mark what I'm working on.

Jacob

On Fri, Oct 21, 2016 at 9:28 AM Daniel Wang <notifications@github.com>
wrote:

[2016-10-25 18:46] sandys commented on #1854
@bprashanth im commenting here - because i dont want to sound stupid and pollute one of the other bugs. in 25821 - the load balancers that everyone is talking about is cloud based load balancers. for example the readme mentions all the rackspace, vsphere, etc.... but i dont see haproxy/nginx anywhere.

is that going to be added to the bug ? because clearly this bug (and all the people in here) are

[2016-10-25 18:50] bprashanth commented on #1854
you can use any controller behind an ingress. If we surface the behavior in the ingress, it doesn't matter what fulfills it. We will still need N bugs for "implement ssl passthrough in [backend of choice] ingress" , but typically that's after "surface ssl passthrough in ingress".

[2016-10-25 20:05] grodrigues3 opened #1927 "Add "/dibs" to available bot commands"
Allow potential reviewers to comment "/dibs" on PRs that they would like assigned to them.   Also allow "/nack" from reviewers who have been assigned that want the PR to be assigned to someone else.

cc
@bgrant0607 @apelisse @foxish

[2016-10-25 21:36] pwittrock commented on #1924
@eparis

For context I suggested this to Saad a number of weeks back.  I suggested this because for 1.4 I manually monitored the merge queue and audited it for obvious features every 3-4 hours.  I saw a lot of pure feature additions go into the queue after feature freeze and had to manually kick most of them out.  Some I wasn't able to get to in time, and they got merged.  Some were very obviously

[2016-10-25 22:24] grodrigues3 opened #1929 "Have the bot automatically apply release-note-* labels"
We would like to require that PR authors correctly fill out the release note section in the PR template.  That means, if the PR requires no release note, they enter `NONE` in the release block section.

And if the PR requires a release note, the block is filled in with text that adequately describes the bugfix/feature.  I also think we should remove the functionality that automatically adds the PR

[2016-10-26 00:37] david-mcmahon commented on #1929
The current release note procedure comes from several iterations and lots of fine tuning.
We actually [discussed this method to drive everything from the template](https://github.com/kubernetes/kubernetes/pull/24431#issuecomment-211616486) in the original PR but at the time it was too much to ask the user and the PR-title method was familiar.

The current procedure is fairly streamlined:

1. Open

[2016-10-26 05:11] grodrigues3 commented on #1929
Thanks for the quick response.  #1908 responses indicate that a blocker for reviewers (and the reason lots of people want maintainers privilege) is adding the `release-note` label, or the `release-note-none` label.  People would like to remove the `release-note-needed` label so PRs can move forward.

Commenting `/lgtm` already allows people to lgtm files without explicitly adding labels

As far as

[2016-10-26 05:37] david-mcmahon commented on #1929
Why not allow /release-note-* and last one wins?

[2016-10-26 17:17] a-robinson opened #1931 "peer-finder gets stuck in retry loop of DNS errors when no peers are found"
While working on an init container to help with a potential edge case in cockroachdb's petset config (https://github.com/cockroachdb/cockroach/issues/10140), I spun up an init container with the following config as part of a petset:

[code]

The first pet has been stuck in the init state for more than 10 minutes, and the peer-finder is clearly having a bad time, with its logs containing the same D

[2016-10-26 17:42] bprashanth commented on #1931
Hmm, `nslookup cockroachdb` should be `nslookup cockroachdb.$NS`. The peerfinder gets the NS via downwardapi: https://github.com/kubernetes/contrib/blob/master/pets/zookeeper/zookeeper.yaml#L58, or --ns https://github.com/kubernetes/contrib/blob/master/pets/peer-finder/peer-finder.go#L43

[2016-10-26 17:48] a-robinson commented on #1931
That's not what the peer-finder is actually doing, though:

`lookup()` directly looks up the string passed to it:
https://github.com/kubernetes/contrib/blob/master/pets/peer-finder/peer-finder.go#L48

And `main()` passes it the bare service name, without qualifying it with the namespace:
https://github.com/kubernetes/contrib/blob/master/pets/peer-finder/peer-finder.go#L93

That's what I was asking

[2016-10-26 17:57] bprashanth commented on #1931
yeah the peer finder looks up srv records and compares them to its own fqdn, ie:
[code]

[2016-10-26 18:01] a-robinson commented on #1931
So you're saying the peer-finder code needs to start including the namespace in its lookups? Specifying `-type=srv` still returns SERVFAIL for a service with no endpoints.

[code]

While it works fine for a service that does have endpoints:

[code]

[2016-10-26 18:07] bprashanth commented on #1931
ah that's why we have the tolearte-unready-endpoints annotation, so you can hang till you show up in DNS (https://github.com/kubernetes/kubernetes/issues/25283). It's basically a lock on the petset.
The assumption is that database-y things manage their own readiness through internal protocols, and you can always create another service that does respect readiness and give that out to your clients i

[2016-10-26 18:17] a-robinson commented on #1931
I mean, we could make things work with the tolerate-unready-endpoints annotation set, but we don't actually need it for anything and kind of prefer not using it so that nodes don't try to join themselves. If we were to start using it, we'd have to switch the join address that the nodes use to the "public" service, which does respect readiness.

Requiring the annotation for peer-finder to work seem

[2016-10-26 18:22] bprashanth commented on #1931
Not required, only if you want to hang till you can resolve yourself, before allowing anyone else to start. If you don't care about that property (i.e etcd will just wait if started with a config of peers etcd1,2,3 till they come online, galera will crash saying I couldn't find these peers).

If you specify a readiness probe, you need to pass it to show up in dns, and you can't pass it without fin

[2016-10-26 19:48] Conky5 opened #1932 "[service-loadbalancer] haproxy server check "inter" too short"
The backend server port check `inter` value is set to 5 milliseconds: https://github.com/kubernetes/contrib/blob/master/service-loadbalancer/template.cfg#L143

This results in servers being marked as down quite frequently since they cannot always complete the check within 5ms (this is on a gcp kubernetes 2 node cluster).

Example of haproxy logs from service-loadbalancer:

[code]

High frequency:

[2016-10-27 00:12] wincus opened #1933 "[Nginx Ingress Controller] errors during deployments"
When a k8s deployment takes place some pods are terminated by the scheduler using whatever deployment strategy is defined. As the nginx controller pulls the k8s state in time intervals, a  small time window takes place where the pod is not longer running ( has been terminated ) but it is still present as backend in the nginx controller configuration file.

This has as consequence that the client m

[2016-10-27 00:24] aledbf commented on #1933
the controller watches for changes in the endpoints (time intervals).
The real problem here is that nginx does not exposes an API so in order to apply a change a reload is needed. [Here's how is done](http://nginx.org/en/docs/control.html#reconfiguration). (you should not see a disruption)

Please check the new pods are available (using a readinessProbe and livenessProbe) before the removal of the

[2016-10-27 03:16] bgrant0607 commented on #1929
@david-mcmahon Filling out the template correctly seems like it should be enough, without a separate command.

[2016-10-27 03:40] aledbf commented on #1933
@wincus please check [this article](https://blog.risingstack.com/graceful-shutdown-node-js-kubernetes/) (omit the node.js content)

[2016-10-27 06:11] anguslees commented on #1908
- Issue hygiene (assigning/removing area/openstack labels, assigning people, closing)
- Indicate that important bugfix PRs should be targeted to the current in-freeze release (I'm fine with not being "trusted" to make that call, if replaced with *some* sort of process that isn't shouting into the void)

[2016-10-27 11:44] sandys commented on #1854
@bprashanth sorry to bother you again, but I also am following https://github.com/nginxinc/kubernetes-ingress/issues/57

Do you need to "surface" anything if we are talking nginx or haproxy ingress ? It may true for the different cloud based ingresses/load balancers. I'm trying to figure out whether bug 25821 is blocking the implementation of all these various features (L4, SSL passthrough) for ng

[2016-10-27 11:58] idvoretskyi commented on #1908
Mostly acting as a PM contributor and features maintainer, I'm interested in:

Set release-note labels
Set milestone on PR or issue
Self-assign PR or issue
Assign PR to someone else
Assign issue to someone else
Set some other labels on issues - assign to SIGs, label with the actual feature status
Set some other labels on PRs - assign to SIGs, label with the actual feature status
Edit wiki
Somethin

[2016-10-27 12:12] aledbf commented on #1854
@sandys this is already working. Please wait while the new version is published in a new repository in the kubernetes organization.

This is how it works:
1. create an Ingress with the annotation `ingress.kubernetes.io/ssl-passthrough: "true"`

[code]

that's it :)

That annotation generates this code in the configuration file:
[code]

[2016-10-27 12:57] timothysc commented on #1908
+1000 to issue hygiene.

[2016-10-27 15:32] wincus commented on #1933
hey @aledbf thanks for your response .... really appreciate! That article clarifies a lot the problem.

Even when new pods are ready to accept requests and k8s services have been updated, we have seen that the nginx controller still sends traffic to old pods until its configuration is refreshed. Seems like there is a longer delay for the nginx controller to catch up the state compared with interna

[2016-10-27 15:43] skylve commented on #1867
@nuschk you are right, just tried and it worked. Really nice !
Doesn't use the http headers though, but it's ok for now.
I guess the troubles started with my healthchecks when I updated my cluster version.

@kyessenov did you try with the `readinessProbe` ?

[2016-10-27 16:23] whereisaaron commented on #1718
With both 0.8.1 and 0.8.3 when 'apply'ing updates to a Deployment the nginx controller sometimes does not reconfigure for the new Pod IP addresses. When I check the nginx.conf it still has the old IP address for the Pods the Deployment deleted. The Service referred to in the Ingress does update and has the new Pod IPs. The controller never recovers and currently the quick fix is to delete the ngin

[2016-10-27 16:37] sandys commented on #1854
@aledbf you are a lifesaver !
just to double check because we have been blocked on this

- does this need a special version of kubernetes ?
- i assume the public DNS of kubernetes.foo-bar.com is pointing to the host with the ingress controller ?
- can i do both port 80 and port 443 ?
- the way it works for us (atleast in the past with nginx) is that we redirect http -> https. so port 80 gets rewri

[2016-10-27 16:47] aledbf commented on #1933
you can see how it works [here](https://github.com/kubernetes/contrib/blob/master/ingress/controllers/nginx/controller.go#L252) and [here](https://github.com/kubernetes/contrib/blob/master/ingress/controllers/nginx/controller.go#L164) .
Basically we watch the multiple resources and a function is invoked depending if the event is adding, updating or removing a resource.
This approach allows to have

[2016-10-27 16:56] aledbf commented on #1854
No

Yes (or just use your /etc/hosts file :) )

Yes but you need to add a redirect annotation ([here's](https://github.com/kubernetes/contrib/issues/1884#issuecomment-254916222) the syntax
Why is this annotation required? I cannot decide for the user what behavior is the "correct" one so if you don't add the annotation the port 80 will not be redirected automatically.
Writing something like:
[code

[2016-10-27 17:07] sandys commented on #1854
@aledbf why do i need to annotate it at all ?

can i not let the traffic go through the port 80 of ingress controller to my nginx pod and then get a 301 redirect ?
I dont necessarily want to do this at the ingress controller level. I actually have many, many redirects in my nginx pod.. and i was wondering if I can simply use my ingress controller to pass traffic to my actual nginx pods.

will that

[2016-10-27 17:13] aledbf commented on #1854
I need to test that. Let me see if it works

[2016-10-27 17:14] sandys commented on #1854
thanks! really appreciate it!

[2016-10-27 18:15] kyessenov commented on #1867
I have not tried `readinessProbe`. The example uses readiness probe, and it's tested, so that appears the way to go. Also, my troubles were caused by me editing live pods, and that's not picked up by the controller apparently. So that's something to watch out for, pods should have the probe from the creation time.

[2016-10-27 18:15] #1867 closed

[2016-10-27 20:07] ericuldall opened #1941 "Ingress whitelist doesn't seem to be working"
I'm trying to restrict my ingress to a certain IP using the following doc (https://github.com/kubernetes/contrib/tree/master/ingress/controllers/nginx/examples/whitelist) and it doesn't seem to be working.

I'm running in a gke 1.4 cluster.

Here's my ingress yaml:

[code]

The ingress is routing traffic to the correct hosts, but the whitelist does not seem to take affect.
Does the whitelist even

[2016-10-27 20:12] aledbf commented on #1941
@ericuldall please check if the nginx log is receiving the correct IPs (externals) and not from your local cluster.

[2016-10-27 20:13] ericuldall commented on #1941
Where do I find the nginx log?

[2016-10-27 20:16] grodrigues3 commented on #1927
@bgrant0607 regarding /dibs, I was thinking about this exclusively for PRs.  As in, this is NOT going to be a way for people to get issues assigned to them.  Does that make sense to you?

[2016-10-27 20:22] ericuldall commented on #1941
I'm seeing the proper ip in the GCL Load Balancer access log.

[2016-10-27 20:24] aledbf commented on #1941
You need to check the nginx ingress controller logs.

[2016-10-27 20:26] ericuldall commented on #1941
Is this the info? There is nothing explicitly labeled as nginx, that I can see.
[code]

[2016-10-27 20:31] chrislovecnm commented on #1908
@bgrant0607 thanks for addressing this!  How will the bots work with this?? We need k8s-bot in kops.

[2016-10-27 20:32] aledbf commented on #1941
@ericuldall use `kubectl logs <nginx ingress pod>`
You should see something like:
[code]
The first field is the client IP

[2016-10-27 20:33] spxtr commented on #1908
@chrislovecnm @k8s-bot's code lives in the test-infra repo under prow. We're going to add more commands there. Feel free to file issues there with requests.

[2016-10-27 20:47] eparis commented on #1927
`/dibs` feels very informal. Maybe `/assign`, which could be extended to `/assign bgrant0607` for me to assign an issue to someone else? But first implementation would just be `/assign` and it would assign to yourself.

Why wouldn't we want this on issues? If people want to be assigned to issues?

[2016-10-27 20:48] eparis commented on #1927
What does `/dibs` do with existing assignees?

[2016-10-27 20:49] ericuldall commented on #1941
There is no nginx pod. The Ingress is an L7 Load Balancer resource in Google Cloud

[2016-10-27 20:50] ericuldall commented on #1941
And I now see that this example I was using is an nginx example. So i'm guessing the annotation does not work in the default GKE setup. Or should it?

[2016-10-27 20:51] philips commented on #1908
I really just want to be able to help triage tickets (close, reassign, etc) and help triage PRs (close, reassign, etc). Right now I feel helpless and have to rely on extremely busy people to do that.

Set lgtm label? yes
Set release-note labels? no
Set milestone on PR or issue? yes
Self-assign PR or issue? yes
Assign PR to someone else? yes
Assign issue to someone else? yes
Set some other labels o

[2016-10-27 20:54] grodrigues3 commented on #1927
@eparis great questions.  We would want this for issues if people want to self assign (or in the future, potentially assign other people).  I don't have strong opinions for `dibs` vs `assign.`  I will say that [docker](https://github.com/docker/leeroy/search?utf8=%E2%9C%93&q=dibs) uses `dibs` and it's easy to remember.

I don't think it should do anything to existing assignees for the time being.

[2016-10-27 20:55] philips commented on #1908
@bgrant0607 the other way to do this would be to remove everyone's access outside of https://github.com/kubernetes/kubernetes/blob/master/pkg/OWNERS and see what people complain about not being able to do :)

[2016-10-27 20:59] eparis commented on #1927
`assign`/`unassign` seems easier to me, especially to remember the negative. But that's just bike shedding. I'd be just as happy with `dibs`.

I will /nack `/nack` though because NAK is just a common phrase for 'I absolutely do not approve this patch'. We need some other negative version of the command...

[2016-10-27 21:00] aledbf commented on #1941
Right. The annotation only works in the nginx ingress controller.

[2016-10-27 21:00] ericuldall commented on #1941
Okay. TY. Sorry for the mistaken interpretation of that doc.

[2016-10-27 21:00] #1941 closed

[2016-10-27 21:02] grodrigues3 commented on #1927
renaming `/nack` SGTM

[2016-10-27 21:10] grodrigues3 commented on #1927
also, I think we're currently blocking on go-github implementing unassign functionality.

https://github.com/google/go-github/issues/459

[2016-10-27 22:36] apelisse commented on #1834
As discussed in https://github.com/kubernetes/test-infra/issues/930, this will eventually be implemented in `prow` (please join the discussion if you have an opinion :-).

[2016-10-28 00:41] bgrant0607 commented on #1927
@eparis @grodrigues3

How about `/reassign` instead of nack? That would permit adding `/reassign @eparis` later. Yes, `/dibs` came from docker.

PRs are higher priority, but we should implement dibs/reassign for issues, also. That's come up pretty often.

[2016-10-28 02:17] hongchaodeng commented on #1908
- [x] Set lgtm label?
- [x] Set release-note labels?
- [x] Set milestone on PR or issue?
- [x] Self-assign PR or issue?
- [x] Assign PR to someone else?
- [x] Assign issue to someone else?
- [x] Set some other labels on issues (which ones)? A variety. Depends.
- [x] Set some other labels on PRs (which ones)? Same as above.
- [ ] Edit wiki

Something else (what)? I totally agree with what @philips

[2016-10-28 07:42] euank commented on #1908
I've asked too. My answer to the list:

- [x] Set lgtm label?
- [x] Set release-note labels?
- [x] Set milestone on PR or issue?
- [x] Self-assign PR or issue?
- [x] Assign PR to someone else?
- [x] Assign issue to someone else?
- [x] Set some other labels on issues? - `area/*` and `team/*` mostly
- [x] Set some other labels on PRs (which ones)?
- [ ] Edit wiki
- [x] Something else (below)?
- [x]

[2016-10-28 07:43] porridge commented on #762
@thockin when creating new repos, do you think there should be a naming convention? For example in case of https://github.com/kubernetes/contrib/issues/1441, should its new home be github.com/kubernetes/controller-ingress or just plain github.com/kubernetes/ingress?

Something worth thinking about before there are 10 pages of repos under kubernetes...

[2016-10-28 07:58] porridge commented on #1441
I'd be happy to work on this this quarter.

[2016-10-28 13:41] andrewsykim commented on #1886
@mwielgus your thoughts?

[2016-10-28 13:52] mwielgus commented on #1886
Sorry for the delay. I must have missed this issue.

Fixing cluster and nodes is beyond the scope of cluster autoscaler. You may want to take a look at:
https://github.com/kubernetes/node-problem-detector

[2016-10-28 13:54] mwielgus commented on #1913
Fixed in https://github.com/kubernetes/contrib/pull/1935.

[2016-10-28 13:54] #1913 closed

[2016-10-28 14:10] andrewsykim commented on #1886
What if nodes fail to start the kubelet, then the node problem detector would never start.

[2016-10-28 15:44] apelisse commented on #1927
`/reassign` as a much stronger meaning than `/nack`. It will avoid lots of confusion. If we start using `nack`, we might end-up using it in many different situation and create a huge mess.

[2016-10-28 17:36] grodrigues3 commented on #1908
Thanks everyone for the feedback!  As someone mentioned earlier, github's permissions are not perfect, and we're working to grant access to a lot of the functionality requested above.  Specifically, we're trying to:

1. [WIP]have the release note added automatically based on the PR template (what the author writes in the template wThe [contribx wg](https://github.com/kubernetes/community/tree/mast

[2016-10-28 17:36] bprashanth commented on #1441
Maybe link up with @aledbf and write a rough plan? I can get Tim to open the repo. See disucssion on https://groups.google.com/forum/#!topic/kubernetes-dev/fSZcq9zkI-s

The big pieces are probably:

1. tooling: presubmit runs basic verification and unittests
2. docs restructure: this definitely needs to happen, but we need to think of what would make sense at a high leve. Probably the main README

[2016-10-28 18:32] aledbf commented on #1441
@bprashanth I already have:
1. tooling, tests and coverage: https://github.com/aledbf/ingress-controller/blob/master/.travis.yml
2. e2e testing
    travis starts etcd and api-server. I still need open a PR to start the ingress controller
4. Same as now? (make and changelog.md)

[2016-10-28 18:40] bprashanth commented on #1441
We need to agree on versioning (semver?) and what qualificatio one needs to perform before cutting a new release (if we have an e2e builder this will not matter as much). Also some guidelines for what to include in release notes. I'd agree with just running the basic nginx e2e (https://github.com/kubernetes/kubernetes/blob/master/test/e2e/ingress.go#L154) is a good starting block (not all on local

[2016-10-28 18:51] andrewsykim commented on #1886
Also I don't believe the node problem detector will clean up nodes that are marked unhealthy.

[2016-10-28 19:54] pesho opened #1947 "[Nginx ingress controller] TCP/UDP upstreams need to be sorted"
cc @aledbf

I needed to expose an FTP service (don't ask :scream_cat:). FTP is a horrible protocol which requires exposing multiple ports for "passive mode" to work. I managed quickly to achieve that using the Nginx ingress controller's support for exposing TCP services, using a ConfigMap like this:

[code]

(the `mynamespace/upload` service exposes the same ports, of course)

A couple of hours la

[2016-10-28 20:05] aledbf commented on #1947
Right. This is being done in http/s upstreams [here](https://github.com/kubernetes/contrib/blob/master/ingress/controllers/nginx/controller.go#L823)
I will add the same logic to tcp and udp services.

Just because it was like magic :) meaning there was only 1 server, no upstreams, etc and you needed to know lua. The idea behind the change was to simplify the code and lower the entry barrier to new

[2016-10-28 20:29] PierrickI3 opened #1948 "Create a scheduled job using the API"
Using minikube 0.12.0

I am trying to create a scheduled job using the API (via kubectl proxy):

`curl -X POST http://localhost:8001/apis/batch/v2alpha1/scheduledjobs -d @testscheduledjob.yaml -H 'Content-type:application/yaml'`

Contents of testscheduledjob.yaml:

[code]

I get this error:

[code]

Is there a way to create a scheduled job other than using `kubectl` at the moment?

[2016-10-28 20:36] pesho opened #1949 "[Nginx ingress controller] Additional SSL options"
A couple of suggestions for additional SSL options:
- An option to enable OCSP stapling. Should be as easy as adding the [ssl_stapling](http://nginx.org/en/docs/http/ngx_http_ssl_module.html#ssl_stapling) directive. I also think it should be on by default, as it has no significant drawbacks and can speed up the first connection.
- An option to specify the [secret key](http://nginx.org/en/docs/http

[2016-10-28 20:56] aledbf commented on #1948
@PierrickI3 I think this issue belongs to the main repo `kubernetes/kubernetes` not here.

[2016-10-28 21:01] PierrickI3 commented on #1948
Oops. Sorry. Didn't notice I was in the wrong repo.

[2016-10-28 21:01] #1948 closed

[2016-10-29 00:36] philips commented on #1908
@grodrigues3 That sounds like great progress!

But, the feedback from [fabionofranz](https://github.com/kubernetes/contrib/issues/1908#issuecomment-255491805), [anguslees](https://github.com/kubernetes/contrib/issues/1908#issuecomment-256555277), and myself is that we want to make kubernetes/kubernetes healthy by ensuring people are empowered to groom our issues. What is the plan for enabling folk

[2016-10-29 08:05] kop opened #1950 "[Nginx ingress controller] Ability to exclude routes from auth"
A little proposal for the authentication system.

It would be very helpful to have an ability to set a list of URI's (or a list of regular expressions) that should not use authentication system (both basic and external).

For example, in my current scenario, I need to limit access to our internal cluster services for users, but still be able to accept webhooks from third party systems.

[2016-10-29 11:49] aledbf commented on #1950
@kop you can do that now creating two ingress
[code]

[2016-10-29 12:55] kop commented on #1950
@aledbf, that's a good idea, thank you. Fo some reason I did not think about it.

[2016-10-30 04:01] hongchaodeng commented on #1908
Hi @grodrigues3 ,

It sounds like an advertisement for the contribx features of github bot. If so, I'm totally supportive of that too.

I actually couldn't agree more with what @philips said above. As the rule of thumb, we are facing real issues and working hard on it. We need to have access to the code we write, maintain, and review. This will help us get the work done more efficiently and better

[2016-10-30 22:02] dgoujard commented on #829
Hi,

I'm looking to enable sticky sessions too. I tried to add this configmap but it's didn't affect the ingress controller (also with manual pod kill):

[2016-10-31 09:56] svda commented on #1396
I have similar issues using Kubernetes 1.4.3. Unfortunately I am unable to upgrade the cluster at the moment because of the downtime, so if this has been fixed in a recent version I apologize beforehand.

These are my yaml's:

secrets.yaml
[code]

load-balancer.yaml
[code]

When I update the base64 certificate string and update the secrets using kubectl update -f ./secrets.yaml, I get events with

[2016-10-31 10:01] bronger opened #1953 "Upgrade Ansible installation to Kubernetes 1.4"
Currently, the installation via Ansible results in a Kubernetes-1.2-based cluster.  This should be upgraded to the current (at the time of this posting) version 1.4.

[2016-10-31 11:14] ZhangZhenhua commented on #752
hi @aledbf ,

I am having same issue on kubernetes 1.4.1. The probe port has already been 10254. Could you please shed some hints on it? Thanks!

With nginx-ingress-controller:0.8.3,  I have below logs
[code]

And with aledbf/nginx-third-party:0.46, I have
[code]

[2016-10-31 15:39] Raffo opened #1956 "Autoscaler on AWS should discover automatically the name of the ASG"
In the current implementation of the AutoScaler for the AWS CloudProvider, we need to pass the name of the autoscaling group (ASG). There's no need for this as it is possible to determine the ASG name from the instance itself via the AWS API.

[2016-10-31 17:18] aledbf commented on #752
@ZhangZhenhua this error is similar to https://github.com/kubernetes/contrib/pull/1879

nginx: [emerg] could not build map_hash, you should increase map_hash_bucket_size: 32

Please use the [custom template example](https://github.com/kubernetes/contrib/tree/master/ingress/controllers/nginx/examples/custom-template) and add `map_hash_bucket_size 64;` after server_names_hash_bucket_size

[2016-10-31 18:53] yissachar opened #1958 "Cluster-autoscaler: Scale up before pod becomes unschedulable"
Currently the cluster autoscaler waits for a pod to become unschedulable for it will start bringing new nodes up. Since nodes can take a long time to bring up, the unschedulable pod will remain unschedulable for a while. The cluster has basically entered a bad state and is now working on recovering from it.

Instead of only reactively bringing up nodes, the cluster autoscaler should also proactive

[2016-10-31 19:20] jsindy commented on #829
@dgoujard if you figure it out, please post back!

[2016-10-31 19:21] aledbf commented on #829
@jsindy you need to specify the configmap (`--nginx-configmap`) that contains the custom configuration for the ingress controller

[2016-10-31 19:23] jsindy commented on #829
Perfect! thanks

[2016-10-31 19:45] #1665 closed

[2016-10-31 19:46] #1754 closed

[2016-10-31 21:41] #1950 closed

[2016-10-31 21:42] bprashanth commented on #1885
I'll report when we have a 0.9, closing for now

[2016-10-31 21:42] #1885 closed

[2016-10-31 21:53] wattsteve opened #1960 "[ansible] github-release option failing due to flannel timeouts"
I have 4 nodes. 1 Master and 3 Workers. I am running Fedora 24 on all of them and have run dnf -y update on all of them as well. I ran the same experiment earlier today with the packageManager option and everything worked and I had a working Kube 1.2.2 cluster. However, I want a Kube 1.4 cluster, so I used the github-release option on an identical setup but new cluster and it fails with the except

[2016-10-31 21:54] wattsteve commented on #1953
... and FWIW, the github-release option should install a 1.4.x cluster but it is failing due to flannel timeouts https://github.com/kubernetes/contrib/issues/1960

[2016-10-31 23:23] bgrant0607 commented on #1908
@philips The 4585 open issues are a lost cause unless we can develop a scalable system for routing them to subteams, SIGs, or something.

Changes to assignments, labels, milestones on individual issues all seem fairly reasonable. Changes to labels on PRs is trickier, since they are used by the bot. Changes to assignments on PRs affects who can /lgtm, currently. Changes to milestones on PRs should

[2016-10-31 23:26] bgrant0607 commented on #1908
@philips @hongchaodeng If you're suggesting that we add more people to kubernetes-maintainers now, then we need to develop an official policy for who can be included.

[2016-10-31 23:56] bgrant0607 commented on #1908
Note: We should consider changing from labels to PR statuses to control PR mergeability: https://developer.github.com/v3/repos/statuses/

This would apply to lgtm, approve, do-not-merge, CLA labels, release-note labels, perhaps cherrypick labels, probably others I'm forgetting. Not sure what to do about other labels that affect submit-queue behavior, like priorities and retest labels.

[2016-11-01 00:01] rmmh commented on #1908
Statuses are properties of the commit, not of the PR, so that's not very
widely applicable. They're also much less visible to humans than labels are.

LGTM would work, and you'd get the lgtm-cancel behavior after a push for
free, but things like do-not-merge or release-note labels don't make sense
to attach to a particular commit.

On Mon, Oct 31, 2016 at 4:56 PM, Brian Grant <notifications@github

[2016-11-01 00:08] spxtr commented on #1908
Yes, those will help quite a bit. Right now it's early-access and not stable, so I'm holding off on switching our systems over.

It makes some sense to use statuses for LGTM and approval, but I think we can make labels work. The downside is that it's annoying to write `/label kind/velocity-improvement`. Much easier to click the labels button and search for something like "vel" and then click the a

[2016-11-01 01:03] hsyed opened #1963 "DaemonSet not exposing hostPort correctly."
I'm trying to get the DaemonSet example working. port 80 and 443 cause collisions on 4/6 nodes resulting in the controllers not comping up. Switching to 81 and 844 brings the controllers up but the ports aren't available on the nodes. Switching to `hostNetwork` does lead to 2/6 working controllers -- if I could find a way of mapping the ports I'd be happy.

The example leads me to believe DaemonSe

[2016-11-01 14:35] a-robinson commented on #1931
Just to provide a little closure, we talked on slack last week and concluded that it would be best for CockroachDB to start using tolerate-unready-endpoints. That means I'm no longer blocked on this, but it still may be best to include the service's namespace in the lookup to avoid hitting the DNS errors for empty result sets.

[2016-11-01 18:23] dgoujard opened #1966 "[Nginx ingress controller] file open limit"
Hi,

I created a cluster with kubeadm on ubuntu 16.04.1 lts (really awesome tool), all pods works great except the nginx ingress controller.
I got this error :
` [alert] 5#5: setrlimit(RLIMIT_NOFILE, 131072) failed (1: Operation not permitted)`

On a clean ubuntu image with docker i can reproduce this issue with this config :

[code]

`docker run -v /home/ubuntu/nginx.conf:/etc/nginx/nginx.conf:ro

[2016-11-01 20:07] foxish opened #1967 "Mungegithub loop takes too long"
As we go over each issue in the bot's main loop, we go over issues like https://github.com/kubernetes/kubernetes/issues/33388 which has some 2500 comments, it spends some 20 seconds or so (and lots of API calls) to fetch comments.
Do we really need to look at these issues completely?

cc @eparis

[2016-11-01 20:13] apelisse commented on #1967
I'll see if I have something smart to say in the next 24h :-)

[2016-11-01 21:40] saad-ali opened #1968 "Super flaky tests hit GitHub comment limit"
The `Jenkins GCI GKE smoke e2e` test failed for my PR https://github.com/kubernetes/kubernetes/pull/36003 (see https://k8s-gubernator.appspot.com/build/kubernetes-jenkins/pr-logs/pull/36003/pull-kubernetes-e2e-gke-gci/2580/), because `Something went wrong: starting e2e cluster: error running up: exit status 1`.

This is an issue tracked by https://github.com/kubernetes/kubernetes/issues/33388.

Lo

[2016-11-02 00:34] aledbf commented on #1966
@dgoujard you need to change this in `systemd` (`docker.service`)
adding something like:
[code]

[2016-11-02 05:07] foxish commented on #1834
@apelisse Is prow ready for moving the CLA functionality into it?

[2016-11-02 05:57] ZhangZhenhua commented on #752
With #1879 , it's working now. Thanks.

[2016-11-02 06:11] thockin commented on #762
We could also use multiple orgs, since GitHub has no other nesting.

Something like kubernetes-sidecars/git-sync and kubernetes-addons/ingress

I don't know if we need to impose naming conventions yet, or if we do it is
not clear what they should be...

On Fri, Oct 28, 2016 at 9:43 AM, Marcin Owsiany <notifications@github.com>
wrote:

[2016-11-02 07:07] dgoujard commented on #1966
@aledbf Thank you for the reply but it didn't works, i edited` /lib/systemd/system/docker.service` and restarted systemctl and docker but i get the same error
[code]

In the default docker.service the value are already unlimited :
[code]
maybe now we need to pass the limit on run command ? http://stackoverflow.com/a/31474407  works for me but i didn't know how to pass this parameter with kubernete

[2016-11-02 11:58] micheleorsi commented on #1826
added in the new version outside kubernetes/contrib (look into PR comments for more details)

[2016-11-02 11:58] #1826 closed

[2016-11-02 11:59] micheleorsi commented on #1717
added in the new version outside kubernetes/contrib (look into PR comments for more details)

[2016-11-02 11:59] #1717 closed

[2016-11-02 11:59] micheleorsi commented on #1827
@aledbf .. so in the end this is the only one left meaningful .. right?
We have already implemented this feature in our internal branch. Where should I create the PR?

Thanks!

[2016-11-02 12:21] aledbf commented on #1827
Please open the PR in this repository.

On Nov 2, 2016 8:59 AM, "Michele Orsi" <notifications@github.com> wrote:

[2016-11-02 13:58] dgoujard commented on #1966
With privileged mode in the pod it works.
May be it can be added to the documentation ? i think it's related to ubuntu 16.04 or maybe docker version.

Now i have still a issue with my ingress controller, the port is not binded in the host but it's an issue with CNI https://github.com/kubernetes/kubernetes/issues/23920#issuecomment-257797931 https://github.com/kubernetes/kubernetes/issues/31307

[2016-11-02 14:17] aledbf commented on #1966
@dgoujard please send information about the kernel and docker version

[2016-11-02 14:20] aledbf commented on #1966
This is not required. Let me see if I can replicate the error.
did you follow some guide with kubeadm?

[2016-11-02 14:28] dgoujard commented on #1966
@aledbf
I followed the kudeadm guide http://kubernetes.io/docs/getting-started-guides/kubeadm/ with ubuntu 16.0.4.

To reproduce the setrlimit error you didn't need to install kubernetes (just docker), it's more likely an docker/os issue.
If you run this command :
`docker run -v /home/ubuntu/nginx.conf:/etc/nginx/nginx.conf:ro gcr.io/google_containers/nginx-slim:0.9`
With this nginx.conf you will

[2016-11-02 16:09] andrejvanderzee opened #1971 "[nginx ingress ctrl] Timeout caused by TLS handshake error"
The nginx controller times out after 30 sec (while trying to watch its own status condition):

```main.go:125] unexpected error getting run-time information: timed out waiting for the condition```

The apiserver logs got many entries like this:

```http: TLS handshake error from 10.111.46.19:43942: remote error: bad certificate```

Service accounts are enabled and I can see the mount in `/var/run/

[2016-11-02 16:11] apelisse commented on #1834
@foxish No, we'll just shove it in there anyway :-/

[2016-11-02 16:22] apelisse commented on #1967
Yes, this is because of the flake nagger. It reads comments on issues. Not sure how to fix that right now.

[2016-11-02 17:10] ryanj opened #1972 "Corporate contrib stats: CLA signature logs needed from CNCF"
In order to quantify the amount of impact that various corporate groups are making, we need an effective way to establish and maintain a map of corporate affiliations per each individual contributor.

The CLA signing process is an excellent forcing function that will help ensure that this mapping is accurate and up-to-date.

CNCF should provide logs with the following information to help make thes

[2016-11-02 17:51] rmmh commented on #1893
There might be a test owner that doesn't exist on github.

[2016-11-02 18:08] spxtr commented on #1834
I'll try to have a nice framework in place in the next couple days, then we can put it there without much hassle.

[2016-11-02 18:11] foxish commented on #1834
Thanks @spxtr

[2016-11-02 19:53] ryanj commented on #1972
FYI @foxish

[2016-11-02 19:54] foxish commented on #1972
cc @caniszczyk @emsearcy

[2016-11-02 20:01] dgoujard commented on #1966
`Kernel info : Linux ubuntutest 4.4.0-31-generic #50-Ubuntu SMP Wed Jul 13 00:07:12 UTC 2016 x86_64 x86_64 x86_64 GNU/Linux`
Docker version :
[code]

[2016-11-02 21:27] dhawal55 opened #1974 "Latest changes to nginx ingress controller is not pushed as a docker image"
Trying to deploy the latest rc.yaml file on master branch fails the liveness/readiness probe. Looks like the /healthz port was changed 12 days ago but the docker image is couple months old

[2016-11-02 21:32] aledbf commented on #1974
@dhawal55 the current code is the correct one.
(we rollback a PR that used references to code in the next version)

[2016-11-02 22:14] dhawal55 commented on #1974
@aledbf I'm trying to deploy the current code and readiness/liveness check fails. The ports specified on current rc.yaml does not match the ones the image version `gcr.io/google_containers/nginx-ingress-controller:0.8.3` is listening on.

[2016-11-02 22:15] saad-ali opened #1976 "k8s bot did not open test for flaking test"
The test `[k8s.io] [Feature:Example] [k8s.io] Spark should start spark master, driver and workers` has been consistently failing in the `kubernetes-e2e-gce-examples` test suite for a long time. However I don't see any issue opened for it.

Why did the k8s-merge-robot not open an issue for it. I see other tests in that suite have triggered automated issue creation in the past: e.g. https://github.c

[2016-11-02 22:20] rtluckie commented on #1492
@colemickens were you able to get  nginx-ingress-controller + oauth2_proxy working w/ the `ingress.kubernetes.io/auth-url`?  If so, could you post a gist of your ingress def?

[2016-11-02 22:20] aledbf commented on #1974
@dhawal55 please post the output of `kubectl describe pod <ing pod>` and `kubectl logs <ing pod>`

[2016-11-02 22:22] foxish commented on #1972
cc @kubernetes/contributor-experience

[2016-11-02 22:27] kop commented on #1492
@rtluckie, how did you tried this? I'm sitting here waiting for 0.8.4 release, though it will be included only there :)

[2016-11-02 22:27] apelisse commented on #1972
Should the data be public though?

[2016-11-02 22:30] dhawal55 commented on #1974
duh!! Nginx was failing to load the ingresses:
[code]

Increasing server-names-hash-bucket-size fixed it. Thanks for your help. Closing this issue.

[2016-11-02 22:30] #1974 closed

[2016-11-02 22:32] aledbf commented on #1974
@dhawal55 in the next version this change is not needed https://github.com/kubernetes/contrib/pull/1596
Sorry for the trouble

[2016-11-02 23:18] dhawal55 opened #1977 "nginx ingress controller performance issues"
I'm running the latest nginx ingress controller (v0.8.3) on a Kubernetes (v1.4.4) cluster on AWS (m4.2xlarge instances). When I use [hey](https://github.com/rakyll/hey) to performance test my service, I see that nginx is adding 100-200 ms to response time.

Here's the output when running 500 requests against 4 nginx pods (so 125 requests each) for 2 mins:
[code]

Now, when I run the same test agai

[2016-11-02 23:33] aledbf commented on #1977
@dhawal55 please check this comment https://github.com/kubernetes/contrib/issues/1482#issuecomment-237745513

[2016-11-02 23:46] dhawal55 commented on #1977
Thanks @aledbf. I already tried `sysctl-buddy` to increase `net.core.somaxconn` but it had no noticeable effect.

[2016-11-02 23:58] aledbf commented on #1977
@dhawal55 ok, please post a gist with the output of `kubectl logs <ing pod>` to check the nginx.log

[2016-11-03 00:14] dhawal55 commented on #1977
Here a sample (i have debug loggging on):
[code]

[2016-11-03 00:30] aledbf commented on #1977
@dhawal55 please do not run tests like this with a log level bigger than 2. Can you post a test with `--v=2`?
How are you running the test? (from a node in the cluster, outside, etc) (check that the node is different from where the ingress controller is running)
What distribution, kernel and docker version are you using?

[2016-11-03 04:32] tjliupeng opened #1978 "How to use ingress controller for multiple namespaces in a K8s cluster?"
Hi, K8s guys,

We plan to deploy multiple namespaces in a K8s cluster. At present we have an nginx ingress controller for default namespace and one nginx ingress controller service which replica number is 2 for each namespaces. We check the nginx.conf in the controllers, and we find that the nginx.conf includes configuration(upstream, locations and proxy_pass, etc) for the service in other namespa

[2016-11-03 06:41] rudolfv opened #1979 "Baking Google pagespeed into the nginx-ingress-controller"
I am trying to build an nginx-ingress-controller with the Google pagespeed module built in. We are currently using the following version of the controller in our Kubernetes cluster: gcr.io/google_containers/nginx-ingress-controller:0.8.3.

Therefore I started off by modifying the build for this image gcr.io/google_containers/nginx-slim:0.9. I checked out the commit "Update nginx to 1.11.3 (4a467bf

[2016-11-03 08:20] aledbf commented on #1978
@tjliupeng you can use the flag `--watch-namespace` to limit the scope to just one namespace

[2016-11-03 10:38] aledbf commented on #1979
@rudolfv I think that is easier to copy the binary already present in 0.8.3 and the template file in the nginx image you built.

Yes that flag is deprecated. If you need to run the ingress controller locally you just need to export the environment variable `export KUBERNETES_MASTER=http://<master IP>:<port>`
Please check this https://github.com/kubernetes/contrib/pull/1467

Yes, I think is a good

[2016-11-03 13:42] rudolfv commented on #1979
Thanks @aledbf, I managed to get this working as you suggested by copying the binary already present in 0.8.3 and the template file in the nginx image I built.

It looks like part of the problem with my other approach was that I was using go 1.5.1 and the template syntax has changed in go 1.6, but might've run into other issues after that.

I also accidentally tagged one of my faulty builds with g

[2016-11-03 13:42] #1979 closed

[2016-11-03 15:56] apelisse commented on #1389
PRs adding reviewers to OWNERS files:
- [ ] https://github.com/kubernetes/kubernetes/pull/36115
- [ ] https://github.com/kubernetes/kubernetes/pull/36116
- [ ] https://github.com/kubernetes/kubernetes/pull/35833
- [ ] https://github.com/kubernetes/kubernetes/pull/35715

More to come ...

[2016-11-03 16:39] #1817 closed

[2016-11-03 16:46] aledbf commented on #1979
Awesome!

Good point. All the code in `kubernetes/contrib` requires 1.6

[2016-11-03 16:48] dhawal55 commented on #1977
@aledbf I'm running the tests in a pod in the cluster. I have 4 worker-nodes in the cluster and nginx pod is running on all 4. The test is running on only 1 pod.

OS-Version:
[code]

Kernel-version:
`4.7.3-coreos-r1`

I bumped up the logging level to debug just to see if I can get some hint on why nginx is slow. Here's log with --v=2:
[code]

Interesting, I don't see any same delay/latency in requ

[2016-11-03 17:03] aledbf commented on #1977
@dhawal55 thanks for the information.

If you check the template the nginx access log is:
[code]
Where `$request_time`  `$upstream_response_time` (check [here](https://github.com/kubernetes/contrib/tree/master/ingress/controllers/nginx#log-format) for the explanation)

From the output you sent you can see at the end of each line ` 0.002 25.1.5.10:8080 55 0.002 200` so the time in nginx is 2ms and

[2016-11-03 17:41] dhawal55 commented on #1977
@aledbfYa, I was surprised to see that too. At one point (maybe before I ran sysctl-buddy), i was seeing higher values for `$request_time` & `$upstream_response_time`. Maybe there's a buy in the perf test tool. I will try to load test using a different tool. Thanks a lot for all your help and quick responses.

[2016-11-03 17:44] bgrant0607 commented on #1908
cc @sarahnovotny

[2016-11-03 17:51] dhawal55 commented on #1977
If `hey` is buggy, I should have seen slower times when hitting the service endpoint as well, but the service endpoint and nodePort perform well. It's only when hitting via Nginx that I see the added delay.

[2016-11-03 19:12] mwielgus opened #1983 "Create a troubleshooting guide for Cluster Autoscaler."
And explain how various failures in the cluster affect CA.

cc: @fgrzadkowski @piosz

[2016-11-03 19:19] mwielgus opened #1984 "Cluster-autoscaler: add profiles so that CA can support multiple consistent strategies."
Currently you need to play with multiple flags with hard to predict results.

The profiles would be:
* Super aggressive - fast scale up, down, aggressive estimator etc.
* Conservative - slow scale ups, down, "calm" estimator etc
* Regular

cc: @fgrzadkowski @piosz

[2016-11-03 20:06] michaelscheetz opened #1985 "Not able to configure mungegithub to watch GHE servers."

[2016-11-03 20:19] aledbf commented on #1977
@dhawal55 please check https://github.com/tsenart/vegeta

[2016-11-03 21:13] foxish commented on #1985
cc @kubernetes/contributor-experience

[2016-11-03 22:24] PaoloneM commented on #717
Same issue with k8s 1.4.3 on CoreOS cluster and `gcr.io/google_containers/nginx-ingress-controller:0.8.3` ingress controller image.
I can reach nginx pod from inside the cluster curling its IP, but can't reach it from inside or outside the cluster using node IP.

[2016-11-04 00:00] wincus commented on #1933
thanks for the info @aledbf .... we were able to deploy without errors by taking ideas from the article you shared. Specifically we now trap the SIGTERM signal k8s sends and trigger a graceful shutdown.

Thanks Again!

[2016-11-04 00:00] #1933 closed

[2016-11-04 00:05] bgrant0607 commented on #1908
Please see:
https://groups.google.com/forum/#!topic/kubernetes-dev/owb9kYKmicU
https://github.com/kubernetes/community/tree/master/project-managers

[2016-11-04 02:55] tjliupeng commented on #1978
@aledbf, any reference for this flag? I google it and found no formal introduction about it. I just want to know how to use it? Is this flag is for controller?

[2016-11-04 08:21] aledbf commented on #1978
@tjliupeng here https://github.com/kubernetes/contrib/blob/master/ingress/controllers/nginx/main.go#L73

[2016-11-04 13:21] fgrzadkowski commented on #1984
I think we should be very careful with adding such profiles as it'd be a decision that would affect API, so hard to change. Once we really understand user needs and what they want to achieve, it may turn out that we should just improve current logic without actually exposing knobs to the users.

[2016-11-04 13:51] pires commented on #1908
Thanks for putting the effort into solving this. I think the bot thing will definitely help and will wait on that. Just wanted to help make things faster, not more complicated.

[2016-11-04 22:10] bgrant0607 commented on #1908
@idvoretskyi

Questions:

What do you mean by "actual feature status"?

I'd like to keep the rules about what should and shouldn't be done to PRs to be as simple as possible.

What parts of the wiki in the kubernetes repo? It's likely that whatever content you need to modify should be moved elsewhere.

[2016-11-06 23:13] mwielgus opened #1994 "Cluster-autoscaler: reduce the number of HA-related logs"
Currently there is lots of renewed lease logs.

cc: @davidopp @fgrzadkowski @jszczepkowski @piosz

[2016-11-07 04:46] bprashanth opened #1995 "Cluster-autoscaler: scale on schedule"
if I know a set of events that might produce higher load (dates/times, eg: sports events), I can specify a timetable and have the scaler preemptively scale instead of taking a hit

[2016-11-07 04:55] davidopp commented on #1995
There's this
https://github.com/kubernetes/contrib/tree/master/diurnal
but I think it would fight with autoscaler (autoscaler would just scale down before the load arrived).

For one-time events the user could adjust min_nodes ahead of time. For diurnal pattern, the autoscaler could theoretically model it and predict. For things like sporting events I'm not sure there's a good solution other than

[2016-11-07 05:05] bprashanth commented on #1995
I can just specify a list of date/time and go about doing whatever I want right (vs waiting for that date/time, scaling up, then doing whatever i want)?

[2016-11-07 05:11] davidopp commented on #1995
I'm not doubting that you can do it, it just seems not very elegant to feed in the entire year's worth of sporting events ahead of time (in a ConfigMap, I guess?), modify it as changes occur, delete entries after they happen so it doesn't grow unbounded in length, etc. Presumably for each one you'd need an estimate of the intensity too (Super Bowl might require 200 nodes, normal events might requi

[2016-11-07 05:11] davidopp commented on #1995
@mwielgus

[2016-11-07 05:13] bprashanth commented on #1995
Yeah it surely is better, I think we're bounded by the time it takes to create a node, provision it with gke components, then register with apiserver though. When compared to pod startup time this is an eternity.

[2016-11-07 05:21] tjliupeng commented on #1978
Thanks.

[2016-11-07 05:21] #1978 closed

[2016-11-07 05:28] tjliupeng opened #1996 "Is it possible to generate nginx.conf which the server in upstream uses K8s FQDN instead of IP Address in the ingress controller?"
Hi,

With the ingress controller, in the upstream of the nginx.conf, the server is IP address as follow;
upstream xxxx-svc-8080 {
        #least_conn;
        sticky;
        server 172.77.52.7:8080 max_fails=0 fail_timeout=0;
        server 172.77.57.6:8080 max_fails=0 fail_timeout=0;
}

Is it possible to generate the server with FQDN, such as [pod-name].[namespace].pod.cluster.local instead of I

[2016-11-07 08:51] tjliupeng opened #1997 "How to config the nginx.tmpl for session sticky according to cookie JSESSIONID in nginx ingress controller?"
Hi,

In the default nginx.tmpl, the session sticky setting for upstream is as follow:

{{ if $cfg.enableStickySessions -}}
sticky hash=sha1 httponly;

Does this setting support the session sticky? If yes, what is the session sticky by?  cookie or others?

In our environment, we try to access http://xxx.xxx.xxx.xxx/webtier, and I config the upstream as follow:
upstream itsma-sm-webtier-svc-8080 {

[2016-11-07 09:42] fgrzadkowski commented on #1994
Can you please explain which exactly line is too excessive? Looking at the code it seems that the only time we log something as `Info` is when a change happens, e.g. we become a leader, or we loose leadership. All other logs are logged as V(4).

https://github.com/kubernetes/kubernetes/blob/master/pkg/client/leaderelection/leaderelection.go

[2016-11-07 10:11] aledbf commented on #1997
@tjliupeng the module to add sticky session support is https://bitbucket.org/nginx-goodies/nginx-sticky-module-ng
This adds a new cookie with the name `route` (the name is not configurable now but you can change the template for this purpose)

[2016-11-07 10:14] aledbf commented on #1996
@tjliupeng this is possible but requires a changes an the use of a resolver in nginx. The resolver in nginx is tricky and not good with updates and high number of queries. Also this introduce a percibible latency serving requests

[2016-11-07 13:25] tjliupeng commented on #1997
@aledbf , what do you mean "the name is not configurable now but you can change the template for this purpose"? I can change the template for what purpose? My purpose or using the cookie route?

[2016-11-07 13:34] tjliupeng commented on #1996
Ok. Thanks. So we won't consider this requirement at present.

[2016-11-07 13:34] #1996 closed

[2016-11-07 14:58] fgrzadkowski opened #1998 "cluster-autoscaler: wrong comments in drain.go"
https://github.com/kubernetes/contrib/blob/master/cluster-autoscaler/simulator/drain.go

1. Comments to both functions mention `force` flag which doesn't exist
2. First comment seems have part of the last sentence missing

[2016-11-07 18:17] grodrigues3 opened #2001 "Merge on Approved Only"
Merge PRs only if they have the "approved" label

[2016-11-07 18:22] idvoretskyi commented on #1908
@bgrant0607

Other words: I'd like to make sure that kubernetes/features repo items are in sync with kubernetes/kubernetes and vise versa. So, the issues/PRs in kubernetes/kubernetes have to be labeled with regards to kubernetes/features.

Yes, I've double-checked the wiki content, most if the wiki items in my field of interest are targeting kubernetes/features and kubernetes/contrib mostly.

[2016-11-07 21:46] andrewsykim opened #2004 "AWS Cluster Autoscaler E2E Tests"
I'd like to help add some E2E tests for the cluster autoscaler in AWS. Where would be a good place to start? Are there examples for the GCE E2E test suite I can reference?

[2016-11-07 21:46] andrewsykim commented on #2004
@mwielgus

[2016-11-07 22:10] mwielgus commented on #2004
@justinsb Could you please advice?

[2016-11-07 23:44] zmerlynn commented on #2004
@kubernetes/sig-aws

[2016-11-08 05:29] tjliupeng opened #2005 "Can least_conn and sticky work together in the nginx controller?"
Hi,

In my environment, one upstream in nginx.conf include both

least_conn;
sticky hash=sha1 httponly;

Then in the nginx log I found the error message:
E1108 04:33:07.380779       1 command.go:92] failed to execute nginx -s reload: 2016/11/08 04:33:07 [emerg] 156#156: You can't use sticky with another upstream module in /etc/nginx/nginx.conf:254

Is it possible to make least_conn and sticky work

[2016-11-08 08:29] fgrzadkowski commented on #1994
@mwielgus explained to me offline which log messages he means and it is working as intended. V(4) is supposed to be very verbose. We added `--v=4` in CA command line, because we are currently debugging number of issues and we need all logs.

[2016-11-08 08:29] #1994 closed

[2016-11-08 12:34] aledbf commented on #2005
No. You can choose sticky sessions or custom balancing algorithm.

[2016-11-08 16:48] apelisse opened #2006 "Mungegithub doesn't handle identical blocking and non-blocking jobs"
If a job is both in the non-blocking queue and the blocking queue, everything starts acting funny (can someone say what's actually broken?).

We should probably:
- [ ] Validate/test that the configuration is sane as early as possible
- [ ] Act properly even if the configuration is slightly misleading: consider jobs in both lists to be blocking.

[2016-11-08 20:43] ixdy commented on #422
this happened again in https://github.com/kubernetes/kubernetes/pull/36407.

[2016-11-08 20:51] apelisse commented on #422
This one is probably even worse. It has `do-not-merge` and doesn't have `lgtm`...

[2016-11-08 20:54] ixdy commented on #422
Well, it's basically the same issue, I think. It had `lgtm` when SQ started testing it, and then I removed `lgtm` and added `do-not-merge`, but the SQ never looked again, apparently.

[2016-11-08 23:49] #422 closed

[2016-11-09 05:43] kop commented on #1492
@aledbf, is there a chance to see this released anytime soon?

[2016-11-09 06:07] tjliupeng commented on #2005
@aledbf , for a new session, what algorithm is used to decide an upstream server for this session and then assign a cookie "route" to it?

[2016-11-09 10:36] chrislovecnm commented on #2004
@andrewsykim sorry to keep you hanging, but all of us are at kubecon. @justinsb have you wrote a test like this? I know that there was a bunch of disscusion today about arch limitations of autoscalers today in ec2.

[2016-11-09 19:02] andrewsykim commented on #2004
Thanks for getting back to me @chrislovecnm, kubecon sounds like a blast, wish I was there! I did some digging into the current test suite and it seems like https://github.com/kubernetes/kubernetes/blob/master/test/e2e/cluster_size_autoscaling.go would be a good place to start. I'm just not sure what we use to get the cluster up for E2E testing and where the cluster autoscaler implementation shoul

[2016-11-09 22:51] r2d4 opened #2010 "[Ingress] 0.8.4 Release?"
I understand ingress is being moved to kubernetes/ingress so if issues are being move there feel free to close this and I'll reopen there.

Could we push a 0.8.4 release of the nginx-ingress controller?  The last one was released awhile ago

[code]

[2016-11-10 01:35] aledbf commented on #2010
@r2d4 I'm sorry for the delay. As you realized Ingress is being moved to `kubernetes/ingress`.
The reason for the delay is the refactoring done to the controller (temporal place https://github.com/aledbf/ingress-controller)

[2016-11-10 10:23] SchwarzM opened #2011 "Peer-finder unable to cope with non standard cluster domain"
Currently the peer-finder is hardcoded to "svc.cluster.local" which is the default but cannot be overridden.

https://github.com/kubernetes/contrib/blob/master/pets/peer-finder/peer-finder.go#L35

myName constructed here is faulty for us:
https://github.com/kubernetes/contrib/blob/master/pets/peer-finder/peer-finder.go#L86

Ending in an endless loop here:
https://github.com/kubernetes/contrib/blob

[2016-11-10 13:29] mrmm opened #2012 "Ingress Controller - external address value"
Hi,
I have been using Nginx Ingress Controller with Kubernetes cluster on AWS and i have noticed that the address field in the ingress object is updated automatically based on which host the Pod of IngressController is running on.
I think it would be better if the external IP or maybe a service name (will be LoadBalancer Service) to extract the external IP from.
Thanks.

[2016-11-10 13:30] aledbf commented on #2012
@mrmm this is fixed (not released yet). Next version will use the correct value in AWS and GCE

[2016-11-10 13:32] mrmm commented on #2012
@aledbf thanks for the reply, i am looking forward for the release ;)

[2016-11-10 16:13] gambol99 opened #2014 "Ingress Controller - whitelisting"
We're running 0.8.3 ingress at present, the controller doesn't appear to order the whitelisted ip addresses, this is causing the controller to constantly reload on a 10s interval timer.

[code]
[code]

Hence every 10s i'm seeing
[code]

[2016-11-10 16:23] gambol99 commented on #2014
Just at a glance ... i'm guessing the issue is at https://github.com/kubernetes/contrib/blob/master/ingress/controllers/nginx/nginx/ipwhitelist/main.go#L56

[2016-11-10 16:32] aledbf commented on #2014
@gambol99 fix to be included in next version.

[2016-11-10 18:34] chrislovecnm opened #2016 "Developer office hours for kops"
We need to setup a zoom based office hours every week this is for developers to come ask questions about what they are working on.

@calebamiles HELP :)  Label and assign to me @kris-nova and @justinsb

[2016-11-10 19:39] aledbf commented on #775
This issue was moved to kubernetes/ingress#7

[2016-11-10 19:39] #775 closed

[2016-11-10 19:40] aledbf commented on #799
This issue was moved to kubernetes/ingress#8

[2016-11-10 21:23] calebamiles commented on #2016
assigning @justinsb per request, please let me know if you'd like to be unassigned.

[2016-11-10 23:49] timstclair opened #2019 "OWNERS for vendored dependencies"
Once https://github.com/kubernetes/contrib/issues/1389 (OWNERS implementation) is complete, we should consider adding OWNERS (specifically approvers) for each vendored (godep) dependency. I'm concerned that dependencies are not sufficiently reviewed right now, and version-bumps are typically blind sync-to-head operations.

Since a thorough review (audit) of vendored code is probably off the table

[2016-11-10 23:52] apelisse commented on #2019
Thanks for opening this issue Tim, I've had that same problem already (https://github.com/kubernetes/kubernetes/pull/36023) that we don't know exactly what we're supposed to do.

[2016-11-11 00:08] timstclair commented on #2019
BTW - to put this work in perspective, we have approximately 150 separate vendor dependencies.
[code]

[2016-11-11 10:37] jayprakashji opened #2022 "[ansible] kube2sky crashing, unable to connect to api"
HI,
I'm fighting with an issue with (near) default install of ansible/kube.
Many logs an outputs in attached file.

It all comes down to :
I1111 10:17:40.832838       1 kube2sky.go:604] Ignoring error while waiting for service default/kubernetes: Get https://10.254.0.1:443/api/v1/namespaces/default/services/kubernetes: dial tcp 10.254.0.1:443: getsockopt: connection refused. Sleeping 1s before ret

[2016-11-11 10:37] jayprakashji commented on #2022
[ansible_kube_logs.txt](https://github.com/kubernetes/contrib/files/585589/ansible_kube_logs.txt)

[2016-11-11 14:03] jayprakashji commented on #2022
after digging more into how proxy iptables work.

Problem is virtualbox and interface that proxy chooses.
On host-only network, guests do not have access to internet, but can comunicate with host and them selfs.
On Nat network, guests have internet, but can not communicate with each other or host.
https://bertvv.github.io/notes-to-self/2015/09/29/virtualbox-networking-an-overview/

Common config i

[2016-11-11 14:23] gambol99 commented on #2014
cheers @aledbf  ... Any idea when the next release is scheduled? ... or I can just go an build a patched version for now ..

[2016-11-11 16:56] andrewsykim commented on #2004
Seems like in the jenkins test suite we rely on `kube-up` to E2E tests, I also opened https://github.com/kubernetes/kubernetes/pull/36387 in preparation, but it seems like kube-up is deprecated.

[2016-11-11 20:25] wittrock opened #2023 "[GCE L7LB controller] Can't create new Google Cloud Load Balancer with ingresses"
When trying to create an ingress with `kubectl create -f ingress.yaml` and watching the ingress description as it's created, I see an error from the Google API:

```  7m		2s		23	{loadbalancer-controller }			Warning		GCE	googleapi: Error 400: Invalid value for field 'resource.timeoutSec': '200'. TimeoutSec should be less than checkIntervalSec., invalid```

My intuition here is that the ingress cont

[2016-11-11 20:29] bprashanth commented on #2023
https://github.com/kubernetes/contrib/tree/master/ingress/controllers/gce#health-checks
https://github.com/kubernetes/contrib/blob/master/ingress/controllers/gce/examples/health_checks/README.md#limitations

Do you have a readiness probe? (we should probably validate against readiness probes that have a timeout > interval at the kube api level too)

[2016-11-11 20:31] chrislovecnm commented on #2016
@calebamiles please assign to me

[2016-11-11 20:33] calebamiles commented on #2016
you are also assigned to the issue, @chrislovecnm

[2016-11-11 20:38] wittrock commented on #2023
I do, and in retrospect it totally makes sense that GLBC would use the readiness probes of the deployments for the services the ingress points at as health check parameters. I'm editing the deployment now and I'll let you know what happens.

[2016-11-11 20:40] bprashanth commented on #2023
Sorry, editing doesn't work yet for health checks (from link above):
[code]

Health checks aren't surfaced through the api, so after first create, the ingress will backoff from any modifications to allow users the flexibility to change it. If you want ingress to recreate the health check for you, the backend service must disappear (so either delete the ingress or delete the backend service directl

[2016-11-11 20:51] wittrock commented on #2023
Editing the readiness probe in one of the services and recreating the ingress has fixed it.

Thanks for the quick response, as always!

[2016-11-11 20:51] #2023 closed

[2016-11-11 21:14] foxish commented on #1581
This one is now handled by prow. @apelisse @spxtr
Closing.

[2016-11-11 21:14] #1581 closed

[2016-11-12 00:13] apelisse commented on #1389
PRs that can't be merged before each owners file is merged, and are properly tested in a different repo:
- https://github.com/kubernetes/contrib/pull/2018
- https://github.com/kubernetes/contrib/pull/2002
- https://github.com/kubernetes/contrib/pull/1923

[2016-11-12 19:15] ObviusOwl opened #2026 "[ansible] ansible fails with 'kube_binaries' is undefined when using packageManager on fedora 24"
Hi,
I'm on a fully updated fresh install of fedora 24. The configuration is almost default except enabled kube-ui and kube-dash.

Ansible fails with:

[code]

Deleting the content in `roles/master/tasks/download_bins.yml` helps.

The same applies for `roles/master/tasks/install_rpms.yml` where ansible complains about undefined `kube_rpms` (logs not included for brevity)

Deleting the content of th

[2016-11-13 00:14] chrislovecnm commented on #2004
@andrewsykim @zmerlynn can assist with this a tad.

[2016-11-13 06:07] lvnilesh commented on #2026
I see similar failure

    ./deploy-cluster.sh --tags=masters -vvv

[code]

[2016-11-14 13:10] soudy opened #2027 "[ingress] Path regex matching"
I was wondering about regex matching in Ingress paths like nginx does with `~`. For example, I'd like to be able to do something like this:
[code]
And have /user/test/tiles/ go to the `specific` service. At the moment it will only literally match `/user/*/tiles`. I see [here](https://github.com/kubernetes/contrib/blob/494064ba4e685a3d9432411bcd72dc5d49641316/ingress/controllers/nginx/nginx.tmpl#L2

[2016-11-14 13:31] aledbf commented on #2027
this is the correct location https://github.com/kubernetes/contrib/blob/master/ingress/controllers/nginx/nginx.tmpl#L226

The Ingress spec defines path as https://github.com/kubernetes/kubernetes/blob/master/pkg/apis/extensions/v1beta1/types.go#L910
but it does not specify a way to identify a regex and that's why the literal `location <path>` is used in nginx.

that feature never existed (please c

[2016-11-14 13:37] simonmorley commented on #1517
I have a similar issue but can't delete to test as the ingress in live. Version 1.4.5 on GCE.

[code]

[2016-11-14 13:47] soudy commented on #2027
I see, thanks for clearing things up for me. An annotation would be ideal indeed, perhaps I can put some time into this.

[2016-11-14 18:10] zmerlynn commented on #2004
@andrewsykim: I also have `kops` e2e tests in Jenkins, if you want to get it working there.

[2016-11-14 18:23] andrewsykim commented on #2004
@zmerlynn whichever e2e test suite is preferred works for me. Does kops add cluster autoscaler to the cluster or is that something we would have to add?

[2016-11-15 08:21] discostur opened #2031 "contrib/keepalived-vip can't create multiple VIPs"
Hi,

im trying to setup multiple VIPs inside of one Kubernetes cluster. One VIP is running smooth, but keepalived-vip doesn't setup another VIP:

**vip-configmap.yaml**

[code]

**kubectl exec kube-keepalived-vip-8lkjf cat /etc/keepalived/keepalived.conf**
[code]

I expected keepalived-vip to read the second configuration from my configmap, raise an additional IP address and map the traffic to my

[2016-11-15 13:17] timactive commented on #1817
Hi,
@aledbf  i have same issue.

[code]

My config

[code]

[2016-11-15 16:52] fgrzadkowski opened #2032 "Cluster Autoscaler - cluster autoscaler thinks that a pod can scheduler, when it cannot"
I have created the cluster using these commands:

https://github.com/kubernetes/kubernetes/issues/34772#issuecomment-260594667

I see many pending pods and CA got blocked with the following logs:

[code]

There are many of those lines for different pods.

I checked one of the nodes and it seems that scheduler is correct - it has 4 cores and 3480m are being used and pods requires 550m. It seems we

[2016-11-15 18:22] #1834 closed

[2016-11-15 23:32] bgrant0607 commented on #1488
@grodrigues3 Is this addressed by #1930?

[2016-11-15 23:32] bgrant0607 commented on #1929
@grodrigues3 Was this addressed by #1930?

[2016-11-16 00:28] #1985 closed

[2016-11-16 01:04] foxish commented on #1405
Was blocked by https://github.com/kubernetes/contrib/issues/1834
Contrib and pr-bot now have CLA managed by prow. Will extend it to the entire org this week and send out email.

[2016-11-16 01:08] #1925 closed

[2016-11-16 01:32] grodrigues3 commented on #1929
Yes, it was.  I'll close the issue.

[2016-11-16 01:32] #1929 closed

[2016-11-16 01:40] grodrigues3 commented on #1488
No, this is not addressed by that #1930 .  I can open a new PR that adds the "release-note-none" label to PRs that only modify code in those directories.

[2016-11-16 07:03] tjliupeng opened #2038 "Why the host of INGRESS must be FQDN instead of IP address?"
Hi,

Could any experts tell me that why the host of INGRESS must be FQDN instead of IP address? In some virtual environment, we can get IP address and the FQDN might not be reached.

Thanks

[2016-11-16 09:13] #1881 closed

[2016-11-16 09:46] tjliupeng opened #2039 "Why the rewrite directive change the matched URL code?"
Hi,

We define Ingress rewrite annotation for our service. And get the nginx log below:
`
2016/11/16 08:42:36 [notice] 25#25: *14 rewritten data: "/action=encrypted&data=MzJ8mNJbn7G5d8dxZBSaBSMBM0dIdzC0Ovzv+TVHrfJi84M=", args: "", client: 15.107.4.151, server: shclitvm0647.hpeswlab.net, request: "GET /stproxyport/action=encrypted&data=MzJ8mNJbn7G5d8dxZBSaBSMBM0dIdzC0Ovzv%2BTVHrfJi84M%3D HTTP/1.1",