[2016-06-28 01:51] edouardKaiser commented on #1140
I couldn't have explained it better. Thanks @glerchundi

[2016-06-28 02:50] thockin commented on #1140
If you go through the service VIP you can't ever do session affinity.  It
also incurs some overhead, such as conntrack entries for iptables DNAT.  I
think this is not ideal.

To answer the questions about "coordination" this is what readiness and
grace period are for.  What is supposed to happen is:

RC creates 5 pods A, B, C, D, E
all 5 pods become ready
endpoints controller adds all 5 pods to th

[2016-06-28 03:50] edouardKaiser commented on #1140
I do understand this is not idea for everyone, this is why I was talking about an option for this behaviour.

[2016-06-28 04:38] thockin commented on #1140
But I don't see how it is better for anyone?  It buys you literally
nothing, but you lose the potential for affinity and incur performance hit
for no actual increase in stability.

On Mon, Jun 27, 2016 at 8:50 PM, Edouard Kaiser <notifications@github.com>
wrote:

[2016-06-28 04:53] edouardKaiser commented on #1140
Correct me if I'm wrong, I probably misunderstood something in the [termination of pods](http://kubernetes.io/docs/user-guide/pods/#termination-of-pods) flow:

When scaling down, the pod is removed from endpoints list for service and, **at the same time**, a TERM signal is sent.

So, for me, at this exact moment, there is an opened window. Potentially, this pod (which is shutting down gracefully),

[2016-06-28 05:11] thockin commented on #1140
On Mon, Jun 27, 2016 at 9:53 PM, Edouard Kaiser
<notifications@github.com> wrote:

Pedanticly, "at the same time" has no real meaning.  It happens
asynchronously.  It might happen before or after or at the same time.

The pod can take as long as it needs to shut down.  Typically
O(seconds) is sufficient time to finish or cleanly terminate open
connections and ensure no new connections arrive.  So,

[2016-06-28 05:33] edouardKaiser commented on #1140
True, "at the same time" doesn't mean that much here, it's more like those operations are triggered in parallel.

I wanted to point out that possibility because I ran some tests before opening this issue (continuously sending requests to an endpoint backed by multiple-pods while scaling down). And when ingress-controller was using VIP, the down-scaling was happening more smoothly (no failure, no r

[2016-06-28 06:09] thockin commented on #1140
On Mon, Jun 27, 2016 at 10:33 PM, Edouard Kaiser
<notifications@github.com> wrote:

Nope.  kube-proxy is replaceable, so we can't really couple except to the API.

I'd say you got UNlucky - it's always better to see the errors :)

If termination doesn't work as I described (roughly, I may get some
details wrong) we should figure out why

[2016-06-28 06:29] edouardKaiser commented on #1140
Thanks for the explanation Tim, I guess I can close this one.

[2016-06-28 06:29] #1140 closed

[2016-06-28 06:36] thockin commented on #1140
Not to impose too much, but since this is a rather frequent topic, I wonder
if you want to write a doc or an example or something?  A way to
demonstrate the end-to-end config for this?  I've been meaning to do it,
but it means so much more when non-core-team people document stuff (less
bad assumptions :).

I'll send you a tshirt...

On Mon, Jun 27, 2016 at 11:29 PM, Edouard Kaiser <notifications@g

[2016-06-28 06:45] edouardKaiser commented on #1140
Happy to write something.

Were you think about updating the README of the Ingress Controllers (https://github.com/kubernetes/contrib/tree/master/ingress/controllers/nginx)?

We could add a new paragraph about the choice of using endpoint list instead of service VIP (advantages like upstream tuning, session affinity..) and showing that there is no guarantee of synchronisation even by using the ser

[2016-06-28 09:15] glerchundi commented on #1140
@thockin thanks for the explanation, it's very water clear now.

[2016-06-28 11:02] asalkeld commented on #1161
I have added the ability to assign issues to a proxy contributor (called "k8s-almost-a-contributor") and removed the labelling. Next is to bikeshed on a better user name, then we need to create this user and add it as a contributor...

[2016-06-28 11:47] edouardKaiser commented on #1140
I'm glad I have a better understanding on how it works, it makes sense if you think about the kube-proxy as just an API watcher.

But to be honest, now I'm kind of stuck. Some of our applications don't handle very well the SIGTERM (no graceful stop..). Even if the application is in the middle of a request, a SIGTERM would shutdown the app immediately.

Using Kubernetes, I'm not sure how to deploy

[2016-06-28 12:02] ingvagabund commented on #886
[code]

Installing the addons from the kubernetes/contrib master HEAD.

[code]

[code]

[2016-06-28 12:12] ingvagabund commented on #886
@gouyang can you confirm? My steps:

1. provision one node (or VM)
1. install the latest rpms from brew
1. clone contrib repository
1. use this inventory file
[code]

1. update ``ansible/roles/master/tasks/main.yml`` removing everything up to the first task, i.e. keep
[code]
The reason is to skip the part where the kube is installed via ansible scripts.

1. run ``ansible-playbook -i inventory.txt

[2016-06-28 12:17] ingvagabund commented on #886
It works even if you skip step ``5``. I just takes a little longer and you can get:

[code]

Anyway, the ansible roles should be rewritten to be able to just run the minimal subset of roles to install kube-addons on system with kubernetes already installed on.

[2016-06-28 12:29] ingvagabund opened #1280 "ansible: refactor roles so kubernetes-addons role runs with the minimal subset of tasks"
When I have a kubernetes already installed and setup on a cluster, I would like to setup the kube-addons on the same cluster without running through the ``kubernetes`` and ``master`` roles.

Currently, when running the ``kubernetes-addons`` the ansible tries to re-install the kubernetes and if there is a newer version of it available, it gets installed. Which is not demanded in some scenarios.

[2016-06-28 12:30] ingvagabund commented on #886
For better refinement of the roles: https://github.com/kubernetes/contrib/issues/1280

[2016-06-28 12:30] ingvagabund commented on #1280
@eparis area/ansible label please

[2016-06-28 18:54] mwielgus opened #1283 "Cluster autoscaler requires all migs to be autoscaled"
Otherwise it doesn't do any scale up or scale down.

[2016-06-28 19:37] fgrzadkowski commented on #1283
@mwielgus Please, please, please! Be more verbose in PRs & issues! It'd be very hard for anyone to understand why is it an important bug and what was actually broken. We're working in a large project, with huge community and we should make sure that our people can understand what and why we are doing. This is really important.

[2016-06-28 22:02] aledbf commented on #829
Please check this answer https://github.com/kubernetes/contrib/issues/1140#issuecomment-228934295

[2016-06-28 22:37] nottix commented on #829
Thank you

[2016-06-28 22:37] #829 closed

[2016-06-28 23:22] mwielgus commented on #1283
More details were added in the fixing PR approximately 40 min before your comment. https://github.com/kubernetes/contrib/pull/1282#issuecomment-229147889.
Sorry if you were confused, I did this fix well beyond my office hours and was too distracted by personal issues to think about elaborate description. And one "please" is enough, no need to get emotional.

The issues is quite straightforward and

[2016-06-29 01:35] thockin commented on #1140
wrt writing something, I was thinking a doc or a blog post or even an
example with yaml and a README

On Mon, Jun 27, 2016 at 11:45 PM, Edouard Kaiser <notifications@github.com>
wrote:

[2016-06-29 01:48] thockin commented on #1140
You also have labels at your disposal.

If you make your Service select `app=myapp,active=true`, then you can start
all your pods with that set of labels.  When you want to do your own
termination, you can remove the `active=true` label from the pod, which
will update the Endpoints object, and that will stop sending traffic.  Wait
however long you think you need, then delete the pod.

Or you could

[2016-06-29 02:52] lavalamp opened #1286 "PRs in the queue should sort by first LGTM date"
...instead of by PR number. I think this would be fairer to people.

[2016-06-29 02:52] lavalamp commented on #1286
@eparis sound ok?

[2016-06-29 03:48] edouardKaiser commented on #1140
Thanks for the advice, I tend to forget how powerful labels can be.

Regarding writing something, I can write a blog to explain why using and endpoint list is better. But I'm not sure what kind of example (YAML) you are talking about.

[2016-06-29 06:04] thockin commented on #1140
I guess there's not much YAML to write up. :)  I just want to see something
that I can point the next person who asks this at and say "read this"

On Tue, Jun 28, 2016 at 8:48 PM, Edouard Kaiser <notifications@github.com>
wrote:

[2016-06-29 06:05] edouardKaiser commented on #1140
No worries Tim, I keep you posted.

[2016-06-29 06:07] thockin commented on #1140
Fantastic!!

On Tue, Jun 28, 2016 at 11:05 PM, Edouard Kaiser <notifications@github.com>
wrote:

[2016-06-29 06:37] gouyang commented on #886
@ingvagabund Your steps are right.

[2016-06-29 06:38] gouyang commented on #886
@rakesh-k All problem are fixed, could you please take a look at this again?

[2016-06-29 07:00] gouyang opened #1287 "[ansible] Put did_install varible to group_vars//all.yml"
I'm running testing on the same environment over and over, it takes lots of time to make sure the packages `kubernetes, docker, etcd, flannel` are latest each time. These packages are already latest so I want to skip checking latest package in the ansible script.

Run the default playbook will install openssl and PyYAML as well, it's not so obvious to user if they install package manually, so inte

[2016-06-29 07:09] ingvagabund commented on #1287
Is this RHEL or Fedora or other OS? For Fedora, the package can become outdated at any time. But I can imagine a situation when you install particular versions of packages and then let the ansible to finish the configuration. In this case, it makes sense to provide ``skip_installation`` or flag with similar meaning.

Is this affecting only the mentioned packages or are there other?

So you are say

[2016-06-29 07:20] mwielgus commented on #1283
Fixed in #1282.

[2016-06-29 07:20] #1283 closed

[2016-06-29 07:25] gouyang commented on #1287
It only for RHEL. There is fedora-install.yml for fedora and centos-install.yml for CentOS. I've used `--skip-tag` options before, but `did_install` is just for this purpose.

I will send PR to make changes only for these mentioned packages.

[2016-06-29 07:42] gouyang commented on #1287
Not touch them so they behaves the default, they will be updated.

The goal is not to checking the very common packages: kubernetes, docker, etcd, flanneld.
Turn `did_install` to true in group_var is easy to achieve it.

[2016-06-29 10:29] siddharthist opened #1290 "[ansible] Use already-present certificates"
In [Mantl](https://mantl.io), we already have TLS certificates that we'd like to use for as many purposes as possible (to reduce attack surface, ease frequent rotation, etc). Can we use these Ansible roles with already generated certificates, and skip the generation setup here?

[2016-06-29 10:33] siddharthist opened #1291 "[ansible] Upload roles to Ansible galaxy"
To make these roles more reusable in other projects, they should be uploaded to Ansible Galaxy.

[2016-06-29 11:43] ingvagabund commented on #1290
@siddharthist there is an effort to broken the roles into more independent parts going on. Are you aware of any other parts of the ansible you would like to skip?

[2016-06-29 11:54] siddharthist commented on #1290
@ingvagabund Probably the Docker, addons, and possibly contiv roles. Thanks for the quick response! How can I stay updated on the status of the modularization?

[2016-06-29 12:03] ingvagabund commented on #1290
@stephenrlouie

[2016-06-29 13:45] stephenrlouie commented on #1290
@siddharthist #982 is the first PR to make this modularization. Unfortunately I've been taken on other projects and haven't had much time to follow through with the rest of the roles. Once etcd gets merged it could serve as a model for the rest.

[2016-06-29 14:46] aledbf commented on #904
@simonswine can you close this issue? (the mentioned items are implemented now)

[2016-06-29 14:59] simonswine commented on #904
Yes all of this has been implemented

[2016-06-29 14:59] #904 closed

[2016-06-29 17:16] bprashanth commented on #1051
please reopen if not fixed

[2016-06-29 17:16] #1051 closed

[2016-06-29 17:16] bprashanth commented on #739
assuming this is fixed

[2016-06-29 17:16] #739 closed

[2016-06-29 17:18] bprashanth commented on #784
assuming this is fixed in 0.61

[2016-06-29 17:18] #784 closed

[2016-06-29 18:00] girishkalele opened #1293 "Need pre-commit hook to run tests on client side"
Saw a failure in the travis CI build log for my PR - #1189

It would help if we mirrored the steps in .travis.yml in a pre-commit hook so that users can verify changes locally.

[2016-06-29 21:19] eparis commented on #1286
I've heard this before, and I don't think it's wrong. But I can think of the argument that someone who has spent the last month dealing with lots and lots of reviews but only got LGTM yesterday has already been waiting their turn and shouldn't have to wait behind the one-liner which got LGTM slightly before.

I don't think it makes a big difference if we keep the queue at reasonable depth but woul

[2016-06-29 21:43] lavalamp commented on #1286
Yeah, that's not a bad point, either. It might not hurt to show the (first)
LGTM time, though.

On Wed, Jun 29, 2016 at 2:19 PM, Eric Paris <notifications@github.com>
wrote:

[2016-06-30 11:53] ingvagabund opened #1298 "Ansible: generalization of roles, CI, joined effort"
**Decomposition of roles to elevate modularity**

As pointed by @stephenrlouie, it makes sense to generalize the roles and make them independent of playbooks [2]. To deploy kubernetes on one node cluster, there is no need for flannel. Sometimes, only kubernetes addons are needed.

Related issues:
- share the roles in Ansible galaxy [1]: https://github.com/kubernetes/contrib/issues/1291
- deploy ku

[2016-06-30 14:12] ingvagabund commented on #762
Ansible will go under kubernetes/kube-deploy repository (sooner or later).

[2016-06-30 14:52] stephenrlouie commented on #1298
@danehans

[2016-07-01 06:45] bgrant0607 opened #1302 "Dashboard to show stats for all repos"
Now that we're sprouting lots of repos, it would be useful to have a single dashboard with PR / issue / submit queue stats for all the repos.

Maybe such a thing already exists.

[2016-07-01 09:49] wernight opened #1303 "QUIC & HTTP/2 Ingress controller"
I see there are [various Ingress controller](https://github.com/kubernetes/contrib/tree/master/ingress/controllers), even though I don't know how to choose in my Kuberentes Yaml files.

I'd like to suggest having one that enabled QUIC and HTTP/2 like https://devsisters.github.io/goquic/ does. It should also support WebSockets. That would allow easy creation of a network Ingress frontend that would

[2016-07-01 11:58] ingvagabund commented on #1290
@siddharthist assuming you would provide a source where your certificates are located and with the predefined names, it should be quite straightforward to skip the ``gen_certs.yml`` tasks. I would suggest to define ``kube_cert_source_url`` or similar varible in ``kubernetes`` role if set would cause the ``gen_certs.yml`` being skipped and certificates ``{{ kube_cert_source_url }}/ca.crt``, ``{{ ku

[2016-07-01 15:11] ingvagabund commented on #1287
What about to put ``etcd_[role_]skip_install``, ``docker_[role_]skip_install``, ``master_[role_]skip_install`` and similar vars into each role. In a sense to skip every package installation. It does not make much sense to skip installation of kubernetes-master but keep updating openssl. The role will install/update each package or not at all.

[2016-07-01 15:12] ingvagabund commented on #1287
One ``skip_install`` on a global scope will not be enough once the individual goals get separated into its own repositories (or merged with other repos). Let's make each role as much autonomous as possible.

[2016-07-01 15:53] bgrant0607 commented on #1219
The dockercon talk:
http://www.slideshare.net/icecrime/dockercon-us-2016-scaling-open-source-operations

Metrics:
icecrime/vossibility-stack

https://github.com/docker/leeroy

@fejta Are you actively looking at this?

[2016-07-01 15:55] bgrant0607 commented on #1250
cc @kubernetes/contributor-experience

[2016-07-01 15:55] bgrant0607 commented on #869
We should check out https://github.com/facebook/mention-bot (#1250).

[2016-07-01 15:57] bgrant0607 opened #1304 "Make mungegithub work on all our repos"
cc @kubernetes/contributor-experience

[2016-07-01 16:14] bgrant0607 commented on #1096
cc @kubernetes/contributor-experience

[2016-07-01 16:29] ekozan opened #1305 "Commit a85ed07 : Break Coreos install with ansible"
[code]

[2016-07-01 16:53] ekozan commented on #1305
@ping ingvagabund

[2016-07-01 19:06] siddharthist commented on #1290
@ingvagabund Yes, the paths to the already present certificates would have to be provided. Optimally, there would also be an option to point to certs already on disk.

[2016-07-01 19:15] aledbf commented on #1303
@wernight the [nginx ingress controller](https://github.com/kubernetes/contrib/tree/master/ingress/controllers/nginx) supports http/2, spdy and websockets ootb.
I'm not sure nginx will support `QUIC` in the near future

[2016-07-02 00:30] aledbf commented on #799
@alanhartless using `server_name *.example.com;` means only the first matched server (in the generated nginx.conf) will route traffic to the service, the rest is not going to be reachable. That's why you need to specify the host.

[2016-07-02 00:34] aledbf commented on #1248
@bprashanth I think this is already implemented in the gce and nginx ingress controllers.

[2016-07-02 00:35] bprashanth commented on #1248
Yep thanks for following up

[2016-07-02 00:35] #1248 closed

[2016-07-02 01:07] aledbf commented on #1150
@brandong954 please open an issue in the main Kubernetes repo.

This could be related to https://github.com/kubernetes/kubernetes/issues/22904

[2016-07-02 01:09] aledbf commented on #1123
@micheleorsi any update on this?

[2016-07-02 02:25] aledbf commented on #730
for nginx this was fixed in https://github.com/kubernetes/contrib/pull/1063

[2016-07-02 03:08] #789 closed

[2016-07-02 03:08] #790 closed

[2016-07-02 03:09] bprashanth commented on #730
This is fixed in the gce controller as well, but it doesn't yet watch secrets. That can be handled in another bug.

[2016-07-02 03:09] #730 closed

[2016-07-02 07:28] wernight commented on #1303
I wasn't referring to just supporting it, but to have it automatically server as HTTP/2 QUIC reverse proxy. Like QoQuic but for all domains (or selected domain of an Ingress). I agree having support for it and then install GoQuic on all endpoints.

Just wondering, how can one use the Nginx Ingress instead of whatever is the default (that doesn't support WebSocket in my test)?

[2016-07-02 19:13] bgrant0607 commented on #1250
It looks like this tries to identify potential reviewers by looking at "blame" for lines touched by a PR. I don't think that's exactly what we want, but maybe it would help us understand how to get data to populate OWNERS.

[2016-07-02 19:28] apelisse commented on #1250
It's also what I understood by looking quickly at the page. This was my first idea before I knew about OWNERS file.

It is kind of similar to https://github.com/git/git/blob/master/contrib/contacts/git-contacts.txt

[2016-07-04 00:15] gouyang commented on #1287
The purpose of using `did_install` is to skip install these packages `docker, flannel, etcd and kubernetes`, which maybe installed manually, eg: I installed them manually because I pull it from brew, they are newer than CDN. So `did_install` is convenient to use in this case.

But it does not give enough flexibility as you mentioned:
1. It does not cover all the stuff which need to install, like o

[2016-07-04 08:03] ingvagabund commented on #1305
@stephenrlouie ?

[2016-07-04 08:05] ingvagabund commented on #1305
From https://github.com/kubernetes/contrib/blob/master/ansible/roles/etcd/tasks/etcd2-start.yml:

[code]

s/etcd2_started/etcd_started.

@ekozan can you update the ``etcd2-start.yml`` manually and see if it works?

[2016-07-04 08:13] ingvagabund commented on #1305
https://github.com/kubernetes/contrib/pull/1309

[2016-07-04 08:36] gouyang commented on #1287
I see no difference between this way and `did_install`.

There is no complaint about the current situation which is checking all packages updates, the issue maybe only raised on a stable testing environment and testing frequently, because the installation part eat time and the packages are actually latest.

I added a comment above the variable in the PR, which let user know what's situation if the

[2016-07-04 08:39] ingvagabund commented on #1287
``did_install`` is already use and meant for different use. It is role-scoped variable. It can not be used in a global level.

[2016-07-04 08:40] ingvagabund commented on #1287
Oh, now I see your point. For this use cases, it makes sense.

[2016-07-04 08:43] ingvagabund commented on #1287
Still, if your commit gets applied and ``did_install`` is set to false, only etcd gets installed. As the etcd installation tasks set ``did_install`` to true, it is then never reset to ``false`` in kubernetes installation tasks and ``kubernetes`` gets never installed.

[2016-07-04 11:25] gouyang commented on #1287
@ingvagabund Have you tested the PR, I tested it here it works well.

[2016-07-04 11:35] gouyang commented on #1287
@ingvagabund I'm okay on the issue if your solution is better, may you open a new issue or send a PR for it and I can see how can the problem be solved in another way.

[2016-07-04 13:29] ingvagabund commented on #1287
@gouyang it works by accident. If you run the playbook with your patch on Fedora on 1-node cluster, it works like this:

1. ``did_install`` is false by default
1. once the master role gets run, ``pkgMgrInstallers/fedora-install.yml`` gets included as there is no check for ``not did_install``
1. so ``kubernetes-master`` gets installed on fedora no matter what ``did_install`` is set to
1. at the end

[2016-07-04 14:12] mwielgus opened #1311 "Cluster-autoscaler: support other cloud providers"
This is an umbrella bug for all issues and PR for supporting other (than GCE/GKE) cloud providers in cluster autoscaler.

[2016-07-05 06:42] gouyang commented on #1287
I tested twice on Fedora 24 and once on RHEL, does not see any failures. My steps are:
1. uninstall all kubernetes packages
2. run the script `setup.sh`

[2016-07-05 09:49] micheleorsi commented on #1123
sorry @aledbf .. not yet!
We focused on production and I didn't have time to investigate this problem. For the moment we always close the TCP connections.

I hope to have some news in the next couple of weeks. I'll keep you posted!

[2016-07-05 11:45] fcvarela opened #1314 "[nginx-ingress-controller] Nginx aborts reloads w/ certificate errors"
The ingress controller writes certificates to /etc/nginx-ssl on a goroutine and reload nginx on another. On a busy nginx controller, I've observed that nginx throws errors like:

`2016/07/05 11:32:56 [emerg] 13#13: PEM_read_bio_X509("/etc/nginx-ssl/xxx-yyy") failed (SSL: error:0906D066:PEM routines:PEM_read_bio:bad end line)`

After this happens any rc/pod/deployment restart that results in pods g

[2016-07-05 16:20] mikesplain opened #1316 "[nginx-ingress-controller] real_ip_header is duplicate when useProxyProtocol is enabled"
It seems as though since https://github.com/kubernetes/contrib/commit/a152cc44707b8f214666ba7468ceb6575478333b, if useProxyProtocol is enabled, real_ip_header is set twice causing an error when reloading nginx:

[code]

This prevents the ingress controller from starting in 0.8 if useProxyProtocol is enabled.

[2016-07-05 17:04] #1316 closed

[2016-07-05 17:05] mikesplain commented on #1316
Thanks @aledbf and @bprashanth for the quick fix!

[2016-07-05 17:06] bprashanth commented on #1316
The new image is not out yet, I'll post on here when it is

[2016-07-05 19:38] ingvagabund commented on #1287
@gouyang node and master in the same VM?

[2016-07-05 19:41] #1305 closed

[2016-07-05 20:05] aledbf commented on #1314
@fcvarela do you have some step to replicate this error?
(I'm trying to get this error in order to test your PR)

[2016-07-05 20:55] fcvarela commented on #1314
Unfortunately no, it requires setting up a few hundred ingress rules spanning a few dozen hosts all using tls secrets. I set logging level to --v=5 and noticed the nginx error interleaved with logging from ssl.go updating pem files from secrets, indicating the nginx reload signal was triggered while files were being written in a non atomic way, hence the rename from tmp instead of asynchronous wri

[2016-07-06 00:22] gouyang commented on #1287
yes

[2016-07-06 08:43] gmarek opened #1322 "k8s-bot: there should be a command to rerun GKE smoke tests only"
I wasn't able to find one. cc @eparis @lavalamp

[2016-07-06 08:55] willstudy commented on #1150
I have encountered this problem. Has anyone been solved yet ？

[2016-07-06 11:45] aledbf commented on #1314
@fcvarela how many certificates are you trying to use?
I made [this script](https://gist.github.com/aledbf/f8ce0e89c6051212f2e65ef3acc996d5) that creates 1000 certificates and ingress rules and I cannot reproduce this issue

[2016-07-06 11:51] fcvarela commented on #1314
Not that many, we are using 12 certificates covering a few hundred hosts (one of the certs is a wildcard) and a few hundred ingress rules. My impression is that once the pem files are generated all will work fine. But if you have continuous activity generating ingress rules and adding hosts or containers crash-looping (and therefore registering/unregistering endpoints as upstream servers), then th

[2016-07-06 12:11] fcvarela commented on #1314
Here's the error output (--v=5)
`I0706 12:07:18.444747       1 controller.go:1036] endpoints found: [{10.244.2.8 8080 0 0}]`
`I0706 12:07:18.451327       1 ssl.go:99] DNS [*.XXX.net *.XXX.net] 2`
`I0706 12:07:18.453132       1 ssl.go:99] DNS [*.XXX.net *.XXX.net] 2`
`2016/07/06 12:07:18 [emerg] 13#13: PEM_read_bio_X509_AUX("/etc/nginx-ssl/NAMESPACE-SECRETNAME.pem") failed (SSL: error:0906D06C:PEM

[2016-07-06 16:11] #1314 closed

[2016-07-06 16:39] lavalamp commented on #1322
This is actually a jenkins/test-infra thing, not a merge bot thing. @fejta @ixdy

[2016-07-06 17:41] bprashanth commented on #1316
pushed gcr.io/google_containers/nginx-ingress-controller:0.8.1

[2016-07-06 17:45] ixdy commented on #1322
cc @spxtr

[2016-07-07 05:45] edouardKaiser commented on #1140
I just created this blog entry:

http://onelineatatime.io/ingress-controller-forget-about-the-service/

I hope it will help some people. Feel free to tell me if there is anything wrong, anything that I could do to improve this entry.

Cheers,

[2016-07-07 06:15] thockin commented on #1140
Great post!!

Small nit:

[code]

should probably be:
[code]

3 and 4 happen roughly in parallel.  3 and 5 are async to each other, so
it's just as likely that 5 happens first as vice-versa.  Your Ingress
controller would be `4.1. Ingress controller observes the change and
updates the proxy` :)

On Wed, Jul 6, 2016 at 10:45 PM, Edouard Kaiser <notifications@github.com>
wrote:

[2016-07-07 06:21] edouardKaiser commented on #1140
Thanks Tim, I will update it !

[2016-07-07 17:02] pbitty commented on #1311
/cc @andrewsykim

[2016-07-07 17:20] ingvagabund opened #1325 "systemd defaults: remove ServiceAccount from admissions"
As a starting user of kubernetes I would like to use the default account as much as possible and discover concept of admissions later. Currently, when the kubernetes is installed and the ``kube-apiserver`` started, I can not start playing with k8s right away. I have to tune the configuration first.

Let's discuss what are the disadvantages of disabling the ``ServiceAccount`` admission control [1].

[2016-07-07 18:51] sjenning commented on #1325
I think it should be removed from the default list and a comment added saying it can be added back after the controller-manager is configured with a ```--service-account-private-key```.

[2016-07-08 02:43] fejta commented on #1322
Yes please assign to @spxtr (ideally in test-infra repo)

[2016-07-08 02:49] spxtr commented on #1322
Right now it uses the same command as the GCE test. It's pretty simple to change it, just need to update the regex.

Something like `@k8s-bot gke e2e test this` where the `gke` is optional?

[2016-07-08 02:55] dnascimento opened #1327 "[nginx-ingress-controller] JWT and Client SSL Verify"
NGINX can handle JWT token validation to provide authentication on APIs.
Verify Client SSL Certificate should also be possible.

It requires to change the spec in kubernetes project to add:

[code]

[2016-07-08 02:58] fejta commented on #1322
sgtm, we have this for node already

[2016-07-08 08:31] gmarek commented on #1322
Closing in favor of kubernetes/test-infra#269

[2016-07-08 08:31] #1322 closed

[2016-07-08 11:41] cvle opened #1329 "Nginx Ingress Controller - Default Backend when using HTTPS"
NGINX redirects all HTTP traffic for undefined hosts to the default backend. But when using HTTPS the traffic all goes to the first defined TLS host in the generated `nginx.conf`.

By default NGINX should direct all traffic regardless of HTTP or HTTPS to the default backend. When using HTTPS NGINX should serve a default self-signed certificate.

What do you think?

[2016-07-08 13:22] stevesloka commented on #864
Hey @prefer / @bprashanth, I'm hitting this same issue now. I have my ca.crt in the secret that the service account uses, do I need others as well?

[2016-07-08 14:48] yvespp opened #1331 "Nginx Ingress Controller - global default certificate"
I want to be able to configure a certificate in the namespace of the Ingress Controller and it should be used for all Ingress rules, regardless of their namespace and their Ingress TLS configuration.
An Individual Ingress resource should still be able to overwrite it.

**Use-case:**
Wild card DNS and certificate are set up for *.mycorp.com. A user can now setup an ingress rule for myns.mycorp.com/

[2016-07-08 14:49] aledbf commented on #1327
@dnascimento the NGINX ingress controller is just an implementation of Ingress spec.
Please open a proposal in the kubernetes/kubernetes repository to add JWT token validation.

[2016-07-08 15:26] aledbf commented on #1331
ping @bprashanth

[2016-07-08 16:08] aledbf commented on #1327
@dnascimento I forgot to add that we can add this feature just for the nginx ingress controller using 2 annotations

[2016-07-08 16:20] nballotta commented on #1329
Same issue here. I think @aledbf is looking into a solution for that :)

[2016-07-08 16:57] simonswine opened #1334 "pet/redis: redis-server won't run"
I am not too sure what changed, but I am not able to run the redis PetSet.

The `install` and `bootstrap` container succeeds, but somehow the binary links against musl c library which is not available in the latest debian:jessie:

[code]

after install musl everything works fine

[code]

@bprashanth

[2016-07-08 16:58] bprashanth commented on #1334
Might be the image, please try: https://github.com/kubernetes/kubernetes/issues/28078#issuecomment-228629148
@aledbf

[2016-07-08 17:11] simonswine commented on #1334
yes the e2e example is working for me

[2016-07-08 17:12] bprashanth commented on #864
The service account controller (in kube-controller-manager) and the apiserver need to use the same private key because the bearer token inserted by the service account is encrypted with it.

[2016-07-08 17:15] simonswine commented on #1334
@bprashanth t y for the quick reply. Should I create a PR using the e2e image?

Another solution would be to use jessie as base image like in `redis-install:0.1`

[2016-07-08 17:16] bprashanth commented on #1334
I think there was a size difference that we tried to optimize. I'm fine with either, if we could add musl to the existing image without the overhead of jessie that would probably be best.

[2016-07-08 23:32] dnascimento commented on #1327
What about the following changes to the spec:

1. JWT: Per host or per-location
2. ClientVerify: Per host
3. TLS as host property too, instead of an array.
4. Specify ports on hostname.
5. Support regex on hostname (nginx)
6. Allow to mount a lua script and exec on host

This is great when combined with ELB! Great job!

[2016-07-09 12:53] timoreimann commented on #1140
however long you think you need, then delete the pod.

I was wondering if the above approach could potentially be built into Kubernetes directly. The benefit I see is that people won't need to create custom routines which effectively bypass all standard tooling (e.g., kubectl scale / delete).

If labels aren't the right thing for this case, I could also think of a more low-levellish approach: Intr

[2016-07-10 05:31] thockin commented on #1140
I'm very wary of adding another way of doing the same thing as a core
feature.  For the most part, graceful termination should do the right thing
for most people.

I could maybe see extending DeploymentStrategy to offer blue-green rather
than rolling, but that's not really this.

On Sat, Jul 9, 2016 at 5:53 AM, Timo Reimann <notifications@github.com>
wrote:

[2016-07-10 22:01] timoreimann commented on #1140
@thockin If I understand correctly, the way to allow for a non-interruptive transition using graceful termination is to have a SIGTERM handler that (in the most simplistic use case) just delays termination for a safe amount of time.

Is there a way to reuse such a handler across various applications, possibly through a sidecar container? Otherwise, I see the problem that the handler must be implem

[2016-07-10 22:10] thockin commented on #1140
On Sun, Jul 10, 2016 at 3:01 PM, Timo Reimann <notifications@github.com> wrote:

There's no use to handle SIGTERM from a sidecar, if the main app dies
upon receiving it.  It doesn't "just" delay - it notifies the app that
its end-of-life is near, and that it should wrap up and exit soon, or
otherwise be prepared.

The problem is that "handling" SIGTERM is really app-specific.  Even
if you just cat

[2016-07-10 22:57] timoreimann commented on #1140
What I meant by delaying termination is that a custom SIGTERM handler could keep the container alive (i.e., `time.Sleep(reasonablePeriod)`) long enough until the point in time where it's safe to believe that the endpoint controller has taken the pod out of rotation so that requests won't hit an already dead pod. I don't think this is an ideal approach for reasons I have mentioned -- my assumption

[2016-07-10 23:14] bprashanth commented on #1140
you should fail your readiness probe when you receive a sigterm. The nginx controller will health check endpoint readiness every 1s and avoid sending requests. Set termination grace to something high and keep nginx alive till existing connections drain. Is this enough? (I haven't read through previous conversation, so apologies if this was already rejected as a solution).

It sounds like what you'

[2016-07-11 04:48] thockin commented on #1140
On Sun, Jul 10, 2016 at 3:57 PM, Timo Reimann <notifications@github.com> wrote:

I'm a little confused, I guess.  What you're describing IS the core
functionality.  When a pod is deleted, we notify it and wait at least
grace-period seconds before killing it.  During that time window (30
seconds by default), the Pod is considered "terminating" and will be
removed from any Services by a controller (

[2016-07-11 17:04] micheleorsi opened #1344 "[nginx ingress controller] Nginx statistics based on IP:PORT"
Once we started to collect statistics from the /nginx_status page we noticed that they are based on IP:PORT, instead of name-of-pod.

Which means that when pods come and go (with different pod name but eventually with the same IP:PORT) NGINX "inherits" the history of a previous pod that was using the same IP:PORT (but had different name).

Would it be possible to have nginx statistcs based on name

[2016-07-11 17:10] mwielgus opened #1345 "Cluster-autoscaler: correctly support completely empty nodes"
Make sure that appropriate node info is created also for nodes that have absolutely no pods running on them.

[2016-07-11 17:15] foxish commented on #1304
A couple of questions I had, @lavalamp/@eparis, if you could answer these, it would help me out.

- How and where from are the [health charts for the past week](http://storage.googleapis.com/kubernetes-test-history/k8s-queue-health.svg) generated?
- Can we assume that the underlying mechanism by which we run tests and read log files will remain the same for other repositories? In that case, it see

[2016-07-11 17:29] lavalamp commented on #1304
That's in the test-infra repo, @fejta and I talked about getting that
running in the same pod as the munger.

And yes, I think we should mandate the same test result distribution
technique, just with a different bucket per repo (or maybe different
directory, but I think different bucket would be less confusing).

On Mon, Jul 11, 2016 at 10:17 AM, Anirudh Ramanathan <
notifications@github.com> wrot

[2016-07-11 18:13] foxish commented on #1304
There is a hardcoded "requiredContexts" [here](https://github.com/kubernetes/contrib/blob/master/mungegithub/mungers/submit-queue.go#L72), and a parameter we supply from the commandline [here](https://github.com/kubernetes/contrib/blob/master/mungegithub/mungers/submit-queue.go#L488). We use the former in some places (such as [this](https://github.com/kubernetes/contrib/blob/master/mungegithub/mun

[2016-07-11 18:19] lavalamp commented on #1304
Yeah, those should be exposed as flags.

Also default values to our flags should be moved into the deployment.yaml
file.

On Mon, Jul 11, 2016 at 11:13 AM, Anirudh Ramanathan <
notifications@github.com> wrote:

[2016-07-11 19:41] aledbf commented on #1344
@micheleorsi is possible but requires a change to use of the DNS addon and this introduces a not optional dependency to use the ingress controller.
Let me see if this option could be behind a flag

[2016-07-11 19:47] foxish commented on #1304
Okay. Does it also make sense to remove defaults from code completely and just have them in the yaml file? Some places may need some additional error handling code in that case.

[2016-07-11 19:51] lavalamp commented on #1304
Depending on the default, yes. Definitely anything with a string like
"kubernetes" in it. And yes, I wouldn't be surprised if more error handling
was needed.

On Mon, Jul 11, 2016 at 12:47 PM, Anirudh Ramanathan <
notifications@github.com> wrote:

[2016-07-12 05:42] foxish commented on #1304
The first [PR](https://github.com/kubernetes/contrib/pull/1349). The first one which makes the submit-queue accept GCS parameters such as bucket-name and directory from the command-line. I'm unable to add reviewers, could you please add them for me?

[2016-07-12 12:51] mwielgus opened #1352 "Cluster-autoscaler: use full drain logic in scale down."
Grace period in particular.

cc: @piosz @jszczepkowski @fgrzadkowski

[2016-07-12 12:54] mwielgus opened #1353 "Cluster-autoscaler: use disruption budget"

[2016-07-12 13:34] micheleorsi commented on #1123
Just finished some tests and actually nginx itself doesn't gracefully shutdown requests in keep-alive status.

Here is my test:
- a simple service that serves traffic at http://localhost:8081/load
- nginx (1.10.1) runs in this way:

- sample.conf is this:

[code]

- ab testing running:

.. then I noticed then when I launch ..

.. I continue to receive

.. until the very end, before nginx quit.

Th

[2016-07-12 13:47] aledbf commented on #1123
That's a good idea. Can you open a ticket in nginx with the content of the your last comment?
(to keep it simple please do not mention kubernetes)
This is the nginx issue tracker https://trac.nginx.org/nginx/

[2016-07-12 14:40] eparis commented on #1186
Define 'changed'....   If the PR hasn't changed at all we shouldn't using a token (we'll satisfy the ETAG). If github is telling us it changed we don't have any caching (outside of the proxy) across loops....

I'm not sure what to do here (looking for work for an intern)

[2016-07-12 15:04] micheleorsi commented on #1123
Thanks for your suggestions @aledbf !
I just opened a ticket in nginx trac.

Let me link here (https://trac.nginx.org/nginx/ticket/1022) for future reference!

[2016-07-12 15:04] #1123 closed

[2016-07-12 17:49] erictune opened #1354 "nginx-slim: bake daemon off option into image"
To use ningx with docker, you need to set `daemon off`.
So, people who run this image end up adding these 5 lines to pod spec:

[code]

Would it make sense to add:
`RUN echo "daemon off;" >> /etc/nginx/nginx.conf`
to the Dockerfile so that people don't have to add those lines?

[2016-07-12 17:50] erictune commented on #1354
@aledbf do you maintain contrib/images/nginx-slim/?

[2016-07-12 17:56] aledbf commented on #1354
@erictune yes. The CMD already contains [daemon off](https://github.com/kubernetes/contrib/blob/master/images/nginx-slim/Dockerfile#L29) but I can that echo in the Dockerfile

[2016-07-12 18:09] bgrant0607 commented on #1304
@foxish Once this is working, it should assign PRs in contrib automatically. :-)

[2016-07-12 18:52] erictune commented on #1354
Oh.  Maybe that is good enough.

I was looking at this example:
http://kubernetes.io/docs/user-guide/petset/
which has this yaml https://raw.githubusercontent.com/kubernetes/kubernetes.github.io/release-1.3/docs/user-guide/petset.yaml
and was thinking it could be made shorter.

[2016-07-12 19:08] aledbf commented on #1354
@erictune I just created https://github.com/kubernetes/kubernetes.github.io/pull/827

[2016-07-13 09:04] fgrzadkowski commented on #1352
More context:

Currently we perform checks if we could drain a given node (e.g. all pods are managed by controllers), but in the end we just delete underlying node. As a result node is not drained, rather simply disappears. As a result we do not respect things like grace period or disruption budget (once it's available).

[2016-07-13 14:37] foxish commented on #1304
Which are the other repositories against which we want to start running mungegithub right away? Do any of them have jenkins-ci tests? I'm trying to define the success criteria for this issue (and have some other repository to run against).

[2016-07-13 16:25] lavalamp commented on #1304
Let's start with contrib?

It runs a travis presubmit that needs to pass. It doesn't have any jenkins
jobs (yet).

test-infra might be good to have after that (@fejta).

On Wed, Jul 13, 2016 at 7:37 AM, Anirudh Ramanathan <
notifications@github.com> wrote:

[2016-07-13 18:03] eparis commented on #1304
contrib   :)

[2016-07-13 18:06] lavalamp commented on #1304
And I think the success criteria is that you can turn up a complete set of
our tools against a new cluster in an hour, that it's clearly documented
and anyone with the keys can do it, and that it's easy to push an update to
all the deployments.

On Wed, Jul 13, 2016 at 11:04 AM, Eric Paris <notifications@github.com>
wrote:

[2016-07-13 20:39] erictune commented on #1354
Thanks, @aledbf

[2016-07-13 20:39] #1354 closed

[2016-07-13 21:08] wittrock opened #1362 "[GCE L7LB controller] watch cluster uid config map so updates propogate without restart"
After upgrading two of my clusters in the same project from versions 1.2.5 to version 1.3 of kubernetes, their GCE objects are clobbering each other, and it seems to be because my manually-set `cluster-uid` got deleted during the upgrade.

[code]

Even if I edit this configMap and add a cluster-uid, my GCE resources still clobber each other. For instance, all load balancers created by creating ing

[2016-07-13 21:10] bprashanth commented on #1362
If this is on GCE you can restart your controller by ssh-ing into the master.
Assuming this is on GKE, I can restart your controller (I also just mailed you).
Deleting the pod won't restart the actual container, since we're now running it as a static pod.

[2016-07-13 21:11] bprashanth commented on #1362
This is also a bug because we should allow modification of cluster-uid by watching the configmap, we currently don't do so, which is why the restart is necessary. Thanks for the report.

[2016-07-14 07:31] bgrant0607 commented on #869
Looks like I also filed this here: https://github.com/kubernetes/kubernetes/issues/24844

[2016-07-14 11:17] tushar281188 opened #1367 "kubernetes/Ingress: Getting connection refused error on running nginx-ingress replication controller"
Hi,

I am trying to run ingress controller example but getting "Get https://204.17.5.1:443/apis/extensions/v1beta1/ingresses: dial tcp 204.17.5.1:443: getsockopt: connection refused" error, where "204.17.5.1" is kubernetes service cluster IP.

I changed port in rc.yaml to 443 but still facing the same error.

Found nearly similar conversation at "http://stackoverflow.com/questions/34147547/can-not

[2016-07-14 14:24] ingvagabund opened #1368 "ansible: when installing flanel from f25, it has different systemd env variables"
I did that [1], changelog:
[code]

This needs to be reflected in the playbook.

[1] http://koji.fedoraproject.org/koji/buildinfo?buildID=776500

[2016-07-14 16:24] bprashanth opened #1369 "Better events for the gce ingress controller"
At least:
1. Service not found, because its common for people to try to ingress a service in a different namespace
2. Service doesn't have node port
3. What health check and port the url is using
4. tls cert issues (wrong keys in secret, bad certs)

[2016-07-15 03:20] bgrant0607 commented on #1250
This doesn't quite look like what we want.

[2016-07-15 03:20] #1250 closed

[2016-07-15 04:14] bprashanth commented on #1362
I think this was fixed, feel free to reopen if that's not the case

[2016-07-15 04:15] bprashanth commented on #1362
No, that doesn't make sense. The issue isn't fixed, a single occurrance of the issue was worked around. reopening.

[2016-07-15 04:30] apelisse commented on #915
How do we define "docs" ?

Files in `docs/`, `*.{md,txt}`, or `!*.{go,sh}`?

[2016-07-15 05:35] bgrant0607 commented on #915
@apelisse I'd be happy if we started with *.md

[2016-07-15 15:24] aabed opened #1371 "Creating tokens for new nodes"
Everything works fine when you create a full cluster, but when you want to add a new node to the cluster with _--limit_ option the task for generating tokens is never called because

[code]

So how about adding a condition so that it would generate token for the new added node

[code]

[code]

[2016-07-15 16:45] david-mcmahon opened #1372 "Show details per user on master and branch PR state via dashboard"
Open/closed in both locations and relevant labels cherrypick-*.
cc @matchstick @lavalamp @eparis @bgrant0607

Moved from https://github.com/kubernetes/kubernetes/issues/27403

[2016-07-15 17:46] bgrant0607 commented on #1304
@foxish I'd like to run this on kubernetes.github.io.

cc @kubernetes/docs

[2016-07-15 18:44] #481 closed

[2016-07-15 22:37] foxish commented on #1304
[This PR](https://github.com/kubernetes/contrib/pull/1375) turns some more hardcoded options into flags. The next steps (based on my discussion with @lavalamp are:

1. Integrate the chart generation from the test-infra repository into the submit queue deployment.yaml so that we can deploy it per submit-queue; some changes may be needed to make the generated html status pages generic.
2. Explore th

[2016-07-16 00:26] bgrant0607 commented on #1304
Thanks, @foxish. This is super-important.

[2016-07-16 18:08] ingvagabund commented on #1368
Relevant only during update from ``version < 0.5.5-7`` to ``version >= 0.5.5-7``.

[2016-07-16 20:46] jcmoraisjr opened #1381 "[service-loadbalancer] fixes and improvements"
I've implemented a couple of fixes and improvements on service loadbalancer in order to use it on our company. Have a look at [this compare](https://github.com/kubernetes/contrib/compare/master...jcmoraisjr:features).

Let me know in what commits you are interested and I'll create the PRs.

[2016-07-17 10:30] ingvagabund commented on #1368
When updating to ``flannel-0.5.5-7`` user must update the ``/etc/sysconfig/flannel`` manually. This is suitable for documenting. Not to much that one can handle within ansible.

[2016-07-17 10:56] ingvagabund commented on #1287
Following effort in this PR [1], all roles are being re-factored and broken down into semantic tasks as install, configure, start (and possible others). Once done, operator can use --skip-tags="install" to skip installation/update of components/dependencies/packages.

[1] https://github.com/kubernetes/contrib/pull/1380

[2016-07-17 16:56] #1368 closed

[2016-07-17 22:18] bgrant0607 commented on #1029
Examples of some contributor stats here:
https://apprenda.com/blog/kubernetes-community-update-april-2016/

[2016-07-17 23:02] chrisgaun commented on #1029
@bgrant0607 I am the one who collects the info in that blog and I'd be happy to help collect more on monthly basis

[2016-07-18 01:28] atombender opened #1383 "[nginx-ingress-controller] Basic auth header is not stripped"
If you use basic auth in an ingress, then the `Authorization` header is passed along to the proxied upstream, which can result in incorrect behaviour if the upstream doesn't expect one.

For example, [Drone](https://github.com/drone/drone) will ignore its session cookie if the auth header is specified.

The correct behaviour is to strip the header and not pass it to the upstream.

Until this is fi

[2016-07-18 01:52] aledbf commented on #1383
@atombender use a custom template and add `proxy_set_header Authorization "";` in the location with the basic auth

[2016-07-18 01:53] atombender commented on #1383
@aledbf Thanks, I just discovered the template. That's just a temporary workaround, of course.

[2016-07-18 01:54] aledbf commented on #1383
Yes, tomorrow I will open a PR to remove the `Authorization` header when the auth annotation is used

[2016-07-18 02:34] atombender commented on #1383
@aledbf: This PR fixed the issue for me.

[2016-07-18 03:09] aledbf commented on #1383
@atombender awesome. Thanks!

[2016-07-18 06:07] gouyang commented on #1287
The approache looks elegant to solve the problem, any further discussion will go to #1380.
Close this.

[2016-07-18 06:07] #1287 closed

[2016-07-18 15:21] ingvagabund commented on #1325
http://stackoverflow.com/questions/33528398/why-dont-i-have-a-default-serviceaccount-on-kubernetes

[2016-07-18 15:31] ingvagabund commented on #1325
Maybe, it would make more sense to write down an article/tutorial how to setup the service account. Or at least collect a list of already existing articles. With ServiceAccount on a user is forced to google out the issue and learn more about (at least to remove the ServiceAccount from the admissions). However, yes, it is not install and run.

[2016-07-18 15:47] sjenning commented on #1325
IIRC the minimum procedure for enabling services accounts is:
- create a self-signed apiserver key/cert
- modify the apiserver ``` --service-account-key-file``` and controller-manager ```- -service-account-private-key``` configs to use the apiserver key for service account secret creation and authorization
- restart the apiserver and controller-manager

This is at least a 4 or 5 step process

[2016-07-18 15:49] bgrant0607 commented on #869
@apelisse This is the task I was referring to.

cc @matchstick

[2016-07-18 22:39] apelisse opened #1388 "Makefile has MUNGERS and mungegithub/submit-queue/deployment.yaml duplicates the list"
In `mungegithub/Makefile` there is a list of all mungers in `MUNGERS`.
The same list is duplicated in `mungegithub/submique-queue/deployment.yaml` making things kind of confusing.

We should probably find a way to DRY.

[2016-07-19 01:09] bgrant0607 commented on #1219
@jfrazelle has part of vossibility-stack running.

[2016-07-19 01:16] bgrant0607 opened #1389 "Finish OWNERS implementation"
Described here:
https://github.com/kubernetes/contrib/pull/474#issuecomment-226249631

cc @eparis @davidopp @philips @mike-saparov @hongchaodeng @kubernetes/contributor-experience

@philips Please add your suggestions here.

[2016-07-19 02:16] bgrant0607 commented on #1389
Copying from #474:

Previous workflow:
* a reviewer, who didn't necessarily have write access (and therefore label access), would be assigned
* the reviewer would eventually type "LGTM" into a comment
* the author would (often) squash commits and/or rebase
* the reviewer would then apply the `lgtm` label if they had label access, or would notify someone in kubernetes-maintainers to do that if they

[2016-07-19 02:59] yyeexxhhh commented on #752
2016-07-19T02:49:48.822403794Z I0719 02:49:48.821857       1 main.go:96] Using build: https://github.com/bprashanth/contrib.git - git-6aa39d7
2016-07-19T02:50:18.828922039Z F0719 02:50:18.828641       1 main.go:125] unexpected error getting runtime information: timed out waiting for the condition

[2016-07-19 04:03] bgrant0607 commented on #1029
@chrisgaun Thanks!

A monthly report of the kind you produced in April would be great.

The idea behind this issue is to provide positive reinforcement of desirable contributor behavior  (e.g., fixing bugs, reviewing PRs, answering stackoverflow questions), provide negative reinforcement of undesirable contributor behavior (e.g., not fixing flaky tests they own -- #24759), and identify candidates

[2016-07-19 14:15] jfrazelle commented on #1219
I will work on getting it into the main cluster where the bots are and we can open it up to the public for play

[2016-07-19 14:16] jfrazelle commented on #1219
so I wrote a lot of github.com/docker/leeroy what a lot of people know as "gordontheturtle" and i think a lot of it doesnt apply here mostly because its heavily integrated with jenkins and it seems like the k8s-bot does a lot of labeling already

[2016-07-19 14:19] jfrazelle commented on #1219
also a lot of the chat driven commands were specific to IRC too (I built those as well) seems like we could easily port them to use the slack API though

[2016-07-19 14:20] jfrazelle commented on #1219
I really wish there was a way here to build something that would benefit a lot of different projects cc @icecrime to see if they have anything they have been wanting as well so we could maybe collaborate on something that works for all

[2016-07-19 14:22] bgrant0607 commented on #1219
cc @caniszczyk

[2016-07-19 14:24] jfrazelle commented on #1219
oh and if we are switching to `git commit -s` for the CNCF CLA instead we can use leeroy (gordontheturtle) to check those

[2016-07-19 18:20] timstclair opened #1390 "Munger to echo labels in comments"
Github doesn't include labels anywhere in email notifications, which can make it hard to prioritize Kubernetes issues by email.

Until github adds this feature, I propose we have the k8s-bot echo label additions or removals in a comment, in a format that's easily parsed by email filters.

Would this feature be welcome, or too spammy?

/cc @matchstick

[2016-07-19 19:14] nikhiljindal opened #1391 "Mergebot merged a PR that had needs-rebase label"
https://github.com/kubernetes/kubernetes/pull/26298 was merged by mergebot even though it had the needs-rebase label.

cc @k8s-oncall as FYI

cc @lavalamp @eparis

[2016-07-19 20:00] lavalamp commented on #1391
The PR must not have needed a rebase or it wouldn't have been possible to merge it. Maybe the github API had a hiccup while the merge bot was checking mergability.

[2016-07-19 20:01] lavalamp commented on #1391
Or maybe something got rolled back that made it mergable again?

[2016-07-19 22:09] #915 closed

[2016-07-19 23:24] bgrant0607 commented on #1096
See also https://github.com/kubernetes/kubernetes/issues/24762

[2016-07-19 23:27] apelisse commented on #1096
I'm still working on that (and kubernetes#24762), but I'm trying to do it on the side so that I can make progress on contributor experience.

[2016-07-20 01:32] eparis commented on #1391
Agreed, I'm not too worried although this may be a case of https://github.com/kubernetes/contrib/issues/422

[2016-07-20 02:18] bgrant0607 commented on #1096
@apelisse Please briefly summarize here what you are working on.

[2016-07-20 02:20] bgrant0607 commented on #1096
I included some of Antoine's graphs here: https://groups.google.com/forum/#!topic/kubernetes-dev/MoyWB66vAKY

We're also going to run vossibility-stack.

[2016-07-20 02:22] bgrant0607 commented on #1390
@timstclair Thanks for filing an issue. I totally agree. Was already on https://github.com/kubernetes/community/wiki/Roadmap:-Contributor-Experience

cc @kubernetes/contributor-experience

[2016-07-20 02:53] apelisse commented on #1096
Here's what I'm doing in a few words:
- Github cache so that we can easily pull numbers without having to request from github
- InfluxDB time-series database to save relevant numbers
- Grafana to display charts

The goal is to be able to compute data from historic data, and create the most relevant metrics.

[2016-07-20 04:27] davidopp commented on #1390
I assume you mean "echo label additions or removals"

I'm all in favor of this as long as we limit it to issues (not PRs) and do batching (often a slew of labels wlil be added to an issue at once -- a team or two, an area or two, a priority, etc., and getting one email for each will drive people insane). Also I'm not convinced "removed" is needed -- maybe just "added" is sufficient? I'm just worri

[2016-07-20 04:32] bgrant0607 commented on #1390
Just added is a good idea.

[2016-07-20 06:13] andreassolberg opened #1396 "GLBC - Issues about effectively replace / updating a certificate"
I've successfully managed to setup an ingress with a certificate. However, I have not yet found a way to reliably replace the certificate on the ingress.

The documentation at:
- https://github.com/kubernetes/contrib/tree/master/ingress/controllers/gce

does not mention updating or replacing certificates. I would suggest that a section is added to cover this.

I expected that when I replace the ce

[2016-07-20 08:05] UTSLibraryITS opened #1397 "Exechealthz unable to resolve DNS when running as a Kubernetes Pod"
The **gcr.io/google_containers/exechealthz** container uses Busybox as it's base image. The Busybox image is unable to perform DNS resolution when running in a Kubernetes pod.

For example, the KubeDNS add on uses exechealthz `nslookup` command as a health check. This does not work.

You can recreate the issue by using the example pod: https://github.com/kubernetes/contrib/blob/master/exec-healthz

[2016-07-20 17:20] lavalamp commented on #1390
Every time we do this it costs API call quota. We should figure out how
many label set events we think this will observe and see if that's feasible.

On Tue, Jul 19, 2016 at 9:32 PM, Brian Grant <notifications@github.com>
wrote:

[2016-07-20 17:24] bgrant0607 commented on #1390
@lavalamp By quota, do you mean rate limits?

https://developer.github.com/v3/#rate-limiting

Are we hitting these limits now?

[2016-07-20 17:24] bgrant0607 commented on #1390
And could we get N times the quota by creating N different bot accounts?

[2016-07-20 17:35] #1331 closed

[2016-07-20 17:35] #1329 closed

[2016-07-20 17:37] bgrant0607 opened #1405 "mungegithub should manage CLA labels"
Similar to the Google bot.

After we switch to the CNCF CLA.

Example using CNCF CLA (on a cncf repo):
https://github.com/cncf/demo/pull/7

It would probably be easier than running a separate bot.

[2016-07-20 17:50] lavalamp commented on #1390
Yes, we're running close-ish to the limits.

We could get more quota by making more bot accounts. That would work right
up until github blocks us for abuse. (I asked github support what they
would think of this option.)

We can't get more quota. (I tried pretty hard.) If we rearchitected the
merge queue to use webhooks instead of polling them, then I could try
asking again but basically they're no

[2016-07-20 17:54] bgrant0607 opened #1406 "Optimize github rate-limit quota usage of bot"
Forked from #1390

Github says we should be using webhooks instead of polling.

cc @lavalamp @kubernetes/contributor-experience

[2016-07-20 17:54] #1383 closed

[2016-07-20 18:26] AdrianGPrado opened #1407 "[Ansible] sudo depreciation warning"
The current playbook uses the ansible module `sudo` which is depreciated and will be removed in future releases. This causes a warning and it will be an error in the future.

    [DEPRECATION WARNING]: Instead of sudo/sudo_user, use become/become_user and make sure become_method is 'sudo' (default). This feature will be removed in a future release. Deprecation warnings can be disabled by setting d

[2016-07-20 18:33] imsky opened #1409 "[Ansible] option to keep easyrsa "context directory""
it would be useful to keep the easyrsa directory (https://github.com/kubernetes/contrib/blob/master/ansible/roles/kubernetes/files/make-ca-cert.sh#L74) around on the client side in order to generate additional client certificates.

[2016-07-20 18:34] yvespp commented on #1331
As I understand the pull request fixed the log message and cleaned up the handling if the requested https server was not found.

This part is still not implemented: I want to be able to configure that all ingress rules use https even if they don't have a tls config.
Instead of http, https should be the default for all rules.

Can you please reopen this issue?

[2016-07-20 18:59] imsky opened #1410 "[Ansible] FLANNEL_ETCD needs to reference internal master IP"
i periodically get timeouts when setting up Flannel on AWS since the etcd host is inaccessible.

i use a dev machine, so i reference the external IPs in inventory, however the etcd config advertises on the internal IPs, so Flannel is unable to reach the etcd cluster.

i'm not sure if it is simple to create an automated workaround, but this should be referenced in docs.

[2016-07-20 19:09] foxish opened #1411 "[mungegithub] Deployment of cherrypick from the Makefile does not work."
When we try something along the lines of:
`REPO=docker.io/eparis APP=cherrypick KUBECONFIG=/path/to/kubeconfig make deploy`
The image name is not updated when creating cherrypick/local.deployment.yaml.

This may be because mungegithub/cherrypick/deployment.yaml points to `docker.io/eparis/cherrypick:2016-03-14-7fb1dae`, instead of a `gcr.io` image.

[2016-07-20 20:12] bgrant0607 opened #1413 "Active PR status dashboard"
Script that generates a text version:
[code]

It sounds like @rmmh may be working on something similar.

[2016-07-21 00:37] bgrant0607 commented on #1029
Other public sources:
http://stackalytics.com/?project_type=kubernetes-group&metric=commits
http://redmonk.com/fryan/2016/03/21/kubernetes-revisited-top-corporate-contributors-over-time/

[2016-07-21 03:07] foxish opened #1415 "[mungegithub] Modify mungegithub to use config files instead of command-line arguments."
The number of command-line arguments is getting large and unwieldy. We should switch to reading config files instead.
It would also let us group these command-line options into logical sub-units which is currently not possible.

[2016-07-21 22:52] bgrant0607 commented on #869
Example: https://github.com/kubernetes/kubernetes/pull/28936

[2016-07-21 22:54] eparis commented on #1415
I've not looked at it, but I know `github.com/spf13/viper` is supposed to help add config files on top of cobra/pflag...

[2016-07-21 22:58] foxish commented on #1415
@eparis I will take a look at that. Thanks!

[2016-07-22 09:33] timoreimann commented on #1140
@thockin sorry for not getting back on this one earlier. I did intend to follow up on your response.

First, thanks for providing more details to the matter.

I'm fine with accepting the fact that graceful termination involves some timely behavior which also provides a means to set upper bounds in case things start to break. My concerns are more about the happy path and the circumstance that presu

[2016-07-22 20:30] bgrant0607 commented on #1413
@rmmh could you please describe here what you are doing?

[2016-07-22 20:35] bgrant0607 commented on #1389
@hongchaodeng @xiang90 Do you have any more questions about this?

[2016-07-22 21:00] foxish opened #1422 "[mungegithub] ping inactive reviewers and reassign"
Formerly part of issue #869
- Ping the PR due to lack of inactivity, notifying either the PR author or the assignee, depending on who last touched the PR (keep track of whose court it's in).
- Create a way to postpone the next ping for a fixed amount of time (day, week, month, next release cycle).
- Reassign PRs whose assignees never responded.

Additionally:
- label stale PRs.

[2016-07-22 21:12] hongchaodeng commented on #1389
@bgrant0607
No questions from me so far. Will try to get this done by next Monday.

[2016-07-22 21:35] apelisse commented on #1304
@foxish @lavalamp  what's left to be done for this issue to be fixed? I'd enjoy seeing a checklist

[2016-07-22 21:43] foxish commented on #1304
Things left to do at this point are:
- [ ] Deploying ConfigMaps & configuring Ingress (https://github.com/kubernetes/contrib/pull/1395).
- [ ] Parameterizing queue-health containers and running them as part of the submit-queue deployment (https://github.com/kubernetes/test-infra/issues/306).
- [ ] Update documentation to ensure someone can turn up submit-queue/cherrypick against a new repository.

[2016-07-22 21:55] foxish opened #1423 "[mungegithub] Add munger to create and maintain labels on a repository"
- Take a YAML file stored in the repository and create labels on the repository.
- Add labels to repository as the file is updated.

[2016-07-23 00:03] foxish commented on #1423
@bgrant0607 Does this structure make sense for the label synchronization? Is what we want centralized control of labels, or per-repository control as in these PRs?

[2016-07-23 00:15] bgrant0607 commented on #869
The Google CLA bot doesn't explicitly notify the author. Example:
https://github.com/kubernetes/kubernetes/pull/29452

Our bot will likely take over notification and labeling when we switch to the CNCF CLA (https://github.com/kubernetes/kubernetes/issues/27796).

[2016-07-23 01:57] whereisaaron commented on #847
There is somewhat of a design double-standard here, because when using '--watch-namespace' the nginx controller still lets you target cross-namespace Services for TCP/UDP, but not cross-namespace Services for HTTP/HTTPS. This is because Ingress resources require a service name in the same namespace as the Ingress, but the configMaps used for TCP/UDP allows you to specify a Services using a 'namesp

[2016-07-23 21:59] hongchaodeng commented on #1389
Here's a follow-up to the proposed workflow:

The [findowner](https://github.com/coreos/findowner/blob/master/main.go) program will generate owners for each package. Do you want me to assign according to the new owner list in the implementation?

PR (https://github.com/kubernetes/contrib/pull/1428) will enable munger to look for 'LGTM' comment from reviewer and apply an 'lgtm' label.
I will try to

[2016-07-24 03:51] foxish opened #1430 "[mungegithub] Cherrypick application logging several errors"
When inspecting stdout/err for cherrypick, one sees several messages of the kind:

[code]

[2016-07-25 14:43] chrisgaun commented on #1029
I am talking to JJ and others at Apprenda about building the dashboard. Should have more information soon.

[2016-07-25 15:36] grodrigues3 opened #1432 "[mungegithub] Create Munger To Automatically Add Labels To Issues"
Issues currently require manual labeling for routing.   Let's automate the process with some simple machine learning.

[2016-07-25 15:37] grodrigues3 commented on #1432
@lavalamp @apelisse

[2016-07-25 16:28] bgrant0607 commented on #1029
Great, @chrisgaun! Thanks!

[2016-07-25 17:18] Lukenickerson commented on #1029
@bgrant0607 -- Below is an Initial thought on a display for the leaderboard -- is this close to what you were thinking of?

![image](https://cloud.githubusercontent.com/assets/3942453/17110241/028d9be4-526a-11e6-900b-bc8f119d0cad.png)

Thinking about the implementation details of this... Which issues are related to the other dashboards you mentioned? ([1413](https://github.com/kubernetes/contrib/i

[2016-07-25 17:27] bgrant0607 commented on #869
We need notifications for:
* PR assignment
* Commit push
* Build / unit test failure

[2016-07-25 17:28] bgrant0607 commented on #869
PR workflow proposal:
https://docs.google.com/document/d/194MGgJHlm4ovXtvzvkjzzBZG_v47d95nsjuuaUe1Log/edit?ts=57929ed1#

[2016-07-25 20:23] bgrant0607 commented on #1372
To clarify:

This is discussing:

http://cherrypick.k8s.io/#/queue.

https://github.com/kubernetes/contrib/tree/master/mungegithub/cherrypick

[2016-07-25 20:23] bgrant0607 commented on #1029
@Lukenickerson That looks promising.

Nice-to-have features:
* Configurable number of contributors to show (10, 25, 50, 100)
* Configurable time period (month, quarter, year, all time)

#1413: Not sure. Ask @rmmh on that issue.
#1302: Not AFAIK. @foxish is working on getting the submit queue to work on multiple repos, but I believe [stats](http://submit-queue.k8s.io/#/info) will be reported per-re

[2016-07-25 20:24] bgrant0607 commented on #1029
@Lukenickerson I'd probably put the different views (PRs merged, PRs reviewed, etc.) as tabs horizontally, to match the convention used by http://submit-queue.k8s.io/

[2016-07-25 20:26] bgrant0607 commented on #1389
@hongchaodeng FYI, I filter all email that doesn't mention "bgrant0607", so I didn't notice your update. I'll try to respond later today.

[2016-07-25 20:29] david-mcmahon commented on #1029
re #1372, Nothing has been built yet.  I filed this issues in response to a @matchstick request who may have more input if needed.

[2016-07-25 20:33] bprashanth commented on #847
We discussed cross namespace ingress on https://github.com/kubernetes/kubernetes/issues/17088

Till now the granularity of Ingress has been at the namespace boundry. If you want to target services across namespaces you can use the serviceloadbalancer: https://github.com/kubernetes/contrib/tree/master/service-loadbalancer. I think allowing cross namespace ingress will make isolation harder. Or rath

[2016-07-26 04:40] bgrant0607 commented on #1389
@hongchaodeng

The bot implementation will be in contrib. The updates of OWNERS needs to happen in the kubernetes repo. These can occur relatively independently. As a starting point, current reviewers should be moved to approvers, and we could use `findowner` for lists of reviewer candidates. Due to how old the original reviewers lists are and to how much refactoring we do, I imagine we'll need to

[2016-07-26 04:44] bgrant0607 commented on #1029
Example of organizational-level metrics:
http://mesos.apache.org/blog/dev-community-status/

[2016-07-26 04:48] thockin commented on #1389
I know most of the talk about repo-splitting was in the main repo, but...

Any objections to breaking off a new repo for "autobots" and putting all
automation and bots etc there?  In the vein of making the bots more
generic, a whole distinct repo might help.

On Mon, Jul 25, 2016 at 9:40 PM, Brian Grant <notifications@github.com>
wrote:

[2016-07-26 06:07] bgrant0607 commented on #1389
@thockin I agree, but could we please not discuss it on this issue?

[2016-07-26 06:14] bgrant0607 commented on #762
As mentioned by @thockin in https://github.com/kubernetes/contrib/issues/1389#issuecomment-235161997 and in comments above, we should move mungegithub to another repo. I'm currently thinking `github-tools`. We also need to move the doc munger, as mentioned in https://github.com/kubernetes/kubernetes/issues/29314. Other github-related tools could go into that repo, also.

[2016-07-26 06:17] thockin commented on #1389
ACK.  Is there an issue for this topic or should I open one?

On Mon, Jul 25, 2016 at 11:07 PM, Brian Grant <notifications@github.com>
wrote:

[2016-07-26 06:18] thockin commented on #762
+1, having a distinct repo would further the goal of being repo-agnostic
and generic.

On Mon, Jul 25, 2016 at 11:14 PM, Brian Grant <notifications@github.com>
wrote:

[2016-07-26 17:01] bgrant0607 commented on #762
Stab at suggesting where each thing should go. Will gradually fill these in. Suggestions welcome.

* 404-server: For testing Ingress. Move to ingress repo or test-infra.
* addon-resizer: Move to kube-deploy.
* ansible: Move to kube-deploy or merge with kargo and delete.
* cluster-autoscaler: Move to cluster-autoscaler repo.
* cni-plugins: Move to cni-plugins repo.
* compare: Move to test-infra rep

[2016-07-26 17:35] bgrant0607 commented on #1413
PR: https://github.com/kubernetes/test-infra/pull/310

[2016-07-27 14:27] goltermann opened #1439 "Script or automation to ping list of GitHub issues"
Sometimes we want to manually ping a set of issues with the same text - something "this is a v1.3 bug, only 1w left in that release."  That's not something we would fully automate, since the list and reason will vary over time.

Having a script or even UI where I could put
1a - list of GitHub IDs (or)
1b - GitHub issue query
2 - text to be put in each issue
and have it auto-ping all those issues c

[2016-07-27 15:10] timothysc commented on #133
cleaning, closing this out from previous comments.

[2016-07-27 15:10] #133 closed

[2016-07-27 15:20] Lukenickerson commented on #1029
Those examples are good for inspiration.

Where would this live w/r/t code repo and hosting? Would it make sense for this to be part of https://github.com/kubernetes/community or a separate "Community Tracking" project in the kubernetes GitHub space?

[2016-07-27 17:53] dims commented on #1029
@bgrant0607 @Lukenickerson one more example of org level metrics:
http://stackalytics.com/?project_type=kubernetes-group&release=all&metric=commits

And individual one as well:
http://stackalytics.com/?project_type=kubernetes-group&release=all&metric=commits&user_id=bburns%40google.com

This dashboard was geared towards metrics we track in OpenStack. But may give you ideas...

Another good example

[2016-07-27 22:56] bprashanth opened #1441 "Move ingress to a new repo"
I've been meaning to split ingress off into its own repo but haven't had time. All ingress controllers are already modular enough to run in their own containers, and already have Godeps in the contrib/ingress/_vendor directory.

Currently we get some tooling for free in contrib (persubmit verification, munging etc) that would be nice to continue to have. It would also be good to nail down a concre

[2016-07-27 22:57] bprashanth commented on #762
Filed https://github.com/kubernetes/contrib/issues/1441 for ingress

[2016-07-28 01:55] bgrant0607 commented on #1029
@Lukenickerson We are moving to fine-grained repositories. As discussed in the recent  thread on kubernetes-dev@googlegroups.com, either its own repo or part of a "github-tools" repo would be reasonable.

As for hosting, we run the bot on a Kubernetes cluster. I was thinking we could run this in the same cluster.

[2016-07-28 01:59] bgrant0607 commented on #1406
@rmmh @spxtr This is the issue I mentioned earlier today. Please explain what are you working on.

[2016-07-28 02:15] rmmh commented on #1406
Right now each loop takes ~10 minutes to apply every munger to every open issue, so improving this will help responsiveness for everything. (Issue assignment, flake handling, etc)

The general idea is to change the core loop from `config.ForEachIssueDo(mungers.MungeIssue)` to `config.ForEachChangedIssueDo(mungers.MungeIssue)`.

Changed issues could be determined by (from easiest to hardest swag es

[2016-07-28 02:31] rmmh commented on #762
Mungegithub should be in its own repo.

Travis CI should work well for almost all of these repos, since they should have small, fast test suites. This also means the submit queue flow shouldn't be necessary-- just merge when the CI status is green.

[2016-07-28 02:39] bgrant0607 commented on #1406
Some info:

According to http://submit-queue.k8s.io/#/info, the bot is making 10 API calls per second.

Rate limit is 5k per hour, which is 1 per second:
https://developer.github.com/v3/#rate-limiting

So we use quota until we run out and then stall?

[2016-07-28 02:43] rmmh commented on #1406
We cheat by using ETag headers, which doesn't consume our quota, but it
takes just as much time.

On Wed, Jul 27, 2016 at 7:39 PM, Brian Grant <notifications@github.com>
wrote:

[2016-07-28 03:16] bgrant0607 commented on #762
@rmmh If tests are fast, then submit queue will be fast.

[2016-07-28 03:23] rmmh commented on #762
OK, we can make the submit-queue trigger a travis build to test the merge commit then. Travis is a *much* better experience for everyone involved.

[2016-07-28 04:36] thockin commented on #762
dnsmasq should probably move into a kube-dns repo, along with the kube-dns
code.

On Tue, Jul 26, 2016 at 10:01 AM, Brian Grant <notifications@github.com>
wrote:

[2016-07-28 07:15] eparis commented on #1406
github support suggested we use the `since` argument to https://developer.github.com/v3/issues/#list-issues-for-a-repository instead of checking every issue every time. That might be a couple of lines of code changed and be a big win.

web-sockets would get us a much better place, but last I looked, there wasn't a good library for web sockets and I didn't feel like writing it for go-github.

[2016-07-28 09:29] mdshuai opened #1442 "[Ansible] How install different kubernetes version clusters on fedora/rhel"
Sometime I want to install a latest k8s version, like( v1.3.3 ,  v1.4.0-alpha.1), I notice there is a version parameter https://github.com/kubernetes/contrib/blob/master/ansible/roles/kubernetes/defaults/main.yml#L2
But if I change it to different version, it still install a k8s cluster with v1.2.
How to install different version k8s cluster with ansible on fedora/rhel? How to install k8s cluster

[2016-07-28 10:14] ingvagabund commented on #1442
Current practice is to install kubernetes from distribution builds (see [1]). Retrieval of kubernetes binaries from github repository is carried out for CoreOS and Ubuntu only [2].

Currently, you can install only the latest kubernetes rpms.

Currently, you can not.

Though, in both cases it would not be hard to extend the playbook to support both scenarios. Let me take a look at it.

[1] https://

[2016-07-28 11:07] zen commented on #1029
Very simple reporting script that we are using:
https://github.com/gitfred/statkube

[2016-07-28 11:12] ingvagabund commented on #1325
What about to extend the kubernetes rpms with ``deploy.sh`` script that will deploy the kubernetes cluster on the host? It would run a subset of playbooks and take care of all the steps. Something like:

[code]

[2016-07-28 13:17] ingvagabund commented on #1442
This could be fixed as a part of https://github.com/kubernetes/contrib/pull/1444 kubernetes roles refactoring.

[2016-07-28 13:19] ingvagabund commented on #1325
At the same time, it make sense to install kubernetes-addons as well so a user have running DNS and other extensions.

[2016-07-28 15:28] spxtr commented on #762
I agree that travis should be sufficient for most repos. However, travis can be a bit of a pain when you have multiple languages, or when you want to do long or continuous testing. Travis also limits to 5 concurrent builds per org, so that's not great. I'm working on something better right now but it won't be ready right away.

I would really rather not run the submit queue/mungers against every r

[2016-07-28 16:09] apelisse opened #1445 "[mungegithub] Bot mis-labels PRs when Github fails"
Looks like Github had a hiccup yesterday. We should deal with that properly.

Trying to find the full list of where it happened:
https://github.com/kubernetes/kubernetes/pull/29618
https://github.com/kubernetes/kubernetes/pull/29619
https://github.com/kubernetes/kubernetes/pull/29622
https://github.com/kubernetes/kubernetes/pull/29623
https://github.com/kubernetes/kubernetes/pull/29631
https://git

[2016-07-28 16:40] apelisse commented on #1406
Yes, using `since` seems like the easy fix right now. It's not going to work for anything "time-based" like close-stale-pr though. Not something we can't work-around ...

[2016-07-28 17:25] rmmh commented on #1406
Since also doesn't won't work for statuses, since they don't modify the updated_at timestamp. :(

We can categorize mungers based on whether they might have work whether or not updated_at has changed-- ones that look at statuses will always need to run.

Close-stale-pr could be run once a day-- when the munger first starts, and if 24 hours have elapsed since its last check.

[2016-07-28 17:45] lavalamp commented on #1406
I think there is actually a decent go library for websockets? If that's the
only thing stopping us I'll try to find some time to go find it...

On Thu, Jul 28, 2016 at 10:25 AM, Ryan Hitchman <notifications@github.com>
wrote:

[2016-07-28 17:47] rmmh commented on #1406
I think eparis meant webhooks (HTTP event pushes), not websockets.

[2016-07-28 17:48] lavalamp commented on #1406
The github library we're using doesn't support that?

On Thu, Jul 28, 2016 at 10:47 AM, Ryan Hitchman <notifications@github.com>
wrote:

[2016-07-28 17:54] rmmh commented on #1406
No, I don't think it has the appropriate types to unmarshal the JSON events that github POSTs to webhooks.

Changing the code to be push-based instead of pull based is significantly more work than just not running all the mungers on unchanged issues each loop.

[2016-07-28 18:10] lavalamp commented on #1406
I'm not sure if it's really that bad. We'd switch to running the BeforeEach
functions periodically, we'd register for webhooks and dump the results in
a queue, then drain the queue for 10 minutes until it's time to run
BeforeEach again. My pkg/util/workqueue might be useful for this. We could
add some code to enforce that each issue/PR is munged only once per "loop".
I think we could make this cha

[2016-07-28 18:14] spxtr commented on #1406
`go-github` has some support for webhooks, but it's not great. It gives you HMAC testing and most of the structs have the webhook fields, but you have to do all the listening and unmarshaling yourself. I do this [here](https://github.com/kubernetes/test-infra/blob/master/ciongke/cmd/hook/main.go)

[2016-07-28 18:29] SleepyBrett opened #1448 "NGINX ingress - Invalid memory or nil pointer dereference"
This issue started happening recently and I've been unable to tease out what the issue is thus far: Here are the error logs of my pod with --v=3

[code]

Thoughts?

UPDATE: this is clearly a problem with my template (which I'm injecting via volume mounted configmap) trying to figure out if it's the template itself (probable).

Confirmed this was a problem in my template,  a nicer error message mig

[2016-07-28 18:48] eparis commented on #1406
hooks. sockets. brain. vacation. off.

[2016-07-28 21:14] aledbf commented on #1448
Good point. Right now there's no error handling when a user loads a custom template.
I'm opening a PR to add a validation and improve the error message

[2016-07-28 21:27] cevian commented on #690
The above is not quite correct. The race condition  between the callback here: https://github.com/kubernetes/contrib/blob/master/election/lib/election.go#L83:
and the start of the leaderelection client here:
https://github.com/kubernetes/contrib/blob/master/election/lib/election.go#L122

Pretty much postgres-system-1 was the leader when the original leader was queried on line 71 but lost the leade

[2016-07-29 00:08] mdshuai commented on #1442
@ingvagabund thanks for your comment

[2016-07-29 05:34] bgrant0607 commented on #1389
There is actually a doc:
https://github.com/kubernetes/kubernetes/blob/master/docs/devel/owners.md

[2016-07-29 06:07] bgrant0607 commented on #762
Created pr-bot repo for mungegithub.

[2016-07-29 08:54] amarruedo opened #1451 "NGINX Ingress Controller - Error reading file /etc/nginx/GeoLiteCity.dat"
Hi!

I am experiencing the folowing issue with nginx ingress controller:

[code]
Everything worked fine for me prior to version 0.7 of nginx controller (i.e. prior to introducing GeoIP). Now, it fails to reload nginx configuration and container crashes, which leads the nginx pod to a CrashLoopBackOff state.

I just changed the nginx image version in my deployment from 0.6 to 0.8.1 (I've tested wit

[2016-07-29 11:16] ingvagabund commented on #1410
@imsky what about to use host names (e.g. ``etcd-server``) instead of raw IPs? Depending on your entries in ``/etc/hosts`` under each node you can point ``etcd-server`` to internal IP.

[2016-07-29 11:18] ingvagabund commented on #1407
@AdrianGPrado can you open a PR for the ``s/sudo/become``?

[2016-07-29 11:52] ingvagabund commented on #1129
Basically, you need what Vagrant does [1] with ``lineinfile`` module [2] before it runs the ansible deploy cluster playbook.

In my CI environment, all host names equals to their private IPs (automatically done by provisioning system). So there is no need for DNS resolution.

Other option is to use dynamic inventory. You need two pieces:

* a file (e.g. ``CLUSTER_RESOURCE``) with a list of IPs of

[2016-07-29 11:58] ingvagabund commented on #975
As @eparis says, I have always run the Vagrant together with libvirt provider. As I am ``vagrant`` consumer only, I have no idea if there is a way to simplify the ``300`` long ``Vagrantfile`` file.

At least, I would like to have a CI for ``Vagrant`` + ``libvirt`` combo so I can run it together with the current ansible CI.

[2016-07-29 12:03] ingvagabund commented on #931
Let's do that as part of the roles refactoring. I would like to finish https://github.com/kubernetes/contrib/pull/967 first. Together with refactoring of etcd https://github.com/kubernetes/contrib/pull/1380 and kubernetes https://github.com/kubernetes/contrib/pull/1444 roles. After that, it will be more pleasant to minimize the number of outside dependencies.

[2016-07-29 12:34] ingvagabund commented on #838
Not sure if you will be able to separate master service without increasing complexity. As both ``master`` and ``node`` roles depend on ``kubernetes`` role, each invocation of ``apiserver``, ``scheduler`` and other playbooks will call ``kubernetes`` and ``common`` role. At the same time, ``kubernetes`` role is responsible for generating of certificates and tokens.

If would be great to make sure th

[2016-07-29 12:44] ingvagabund commented on #838
Answering myself, the ``kubernetes`` role gets run only once [1]. Unless ``allow_duplicates: yes`` is specified.

[1] http://docs.ansible.com/ansible/playbooks_roles.html#role-dependencies

[2016-07-29 12:51] ingvagabund commented on #838
Anyway, https://github.com/kubernetes/contrib/pull/1444 is prerequisite for the ``master`` decomposition. The PR refactors and breaks the ``master`` and ``node`` into more tasks, generalizing the ``main.yml`` file. Once merged, it can be broken out into more roles/micro-services.

[2016-07-29 12:52] ingvagabund commented on #1129
@dcwangmit01 would the dynamic inventory help in your case?

[2016-07-29 12:56] ingvagabund commented on #834
This should be fixed https://github.com/kubernetes/contrib/issues/886

[2016-07-29 13:00] ingvagabund commented on #801
It depends on available repos. By default, the ``updates-testing`` repository is available on all released Fedoras. Can you check out content of /etc/yum.repos.d/ directory and grep for the ``updates-testing``? I have been running the ansible on F23 (and F22 before) without any problems.

[2016-07-29 13:13] ingvagabund commented on #657
Most likely the ``node-1-2`` can not be resolved. Does the node name has entry in ``/etc/hosts``?

[2016-07-29 13:18] ingvagabund commented on #660
Let's assume we have enough resources to test it. Another problem is a free public place for uploading test results. @danehans, @rutsky are you aware of any such place? In the worst case I could  upload the artefacts to a github repository. However, http server would be better. At the same time we will need a garbage collector removing all results older than a month (depending on the disk usage).

[2016-07-29 13:21] ingvagabund commented on #664
Fixed as a part of https://github.com/kubernetes/contrib/pull/1444

[2016-07-29 13:25] ingvagabund commented on #671
I would avoid any dependency if possible. Currently, ``master`` and ``node`` roles depends on common. With introduction of dependency on ``pre-ansible``, you will run even more. Let's analyse the ``common``, ``pre-ansible`` and other roles to see, what is common and break all the facts initialization and other "one-time" tasks into more roles instead of keeping all of it inside ``common``. Of cour

[2016-07-29 13:29] ingvagabund commented on #757
@BraunreutherA is it still an issue? Running the ansible on F23, the docker service starts.

[2016-07-29 13:33] #764 closed

[2016-07-29 13:54] aledbf commented on #1451
@amarruedo are you mounting a volume? The file exists in the image:
[code]

[2016-07-29 14:25] ingvagabund commented on #838
The ``node``/``master`` can be decomposed into 3 steps:

* tasks common for node/master (collection tokens, certs)
* install, configure and start/restart kube services
* tasks common for node/master (run fluentd, update firewalld and iptables)

The middle step can be made independent. In a case of node, tokens can be collected after kubelet and proxy are running. For the master case, you need apis

[2016-07-29 14:29] AdrianGPrado commented on #1407
@ingvagabund PR open #1408. I have rebased it on top of `master` branch, current HEAD is `33d52f3`.

[2016-07-29 16:29] rutsky commented on #660
@ingvagabund which artifacts do you mean?
Is it just log of Ansible/Vagrant (i.e. maybe few kilobytes of logs per build)?
I think such logs can be stored even on CI machines.

[2016-07-29 17:45] dcwangmit01 commented on #1129
@ingvagabund Thanks for responding, and for the detailed pointer in the right direction.  I'm going to take the dynamic inventory approach and write a script that interprets my ~/.ssh/config.

I also realize now that the unresolvable hostname issue I experienced was not due to code changes, but was instead due to changing my inventory to be based on hostnames defined in my ~/.ssh/config, instead o

[2016-07-29 17:45] #1129 closed

[2016-07-29 18:07] ingvagabund commented on #660
At the moment just logs. Running on CentOS, Fedora, RHEL, CoreOS, Ubuntu, etc. it can get few KB * 10. So at the beginning it is more likely about any storage.

Assuming the CI logs are publicly available, it could work as well.

[2016-07-30 03:25] apelisse commented on #1445
https://github.com/kubernetes/contrib/pull/1446 tentatively fixes that.
It's being blocked because a big refactoring would be better, but I'm not sure if we shouldn't fix the  issue before the problem happens again.

[2016-07-30 17:26] bgrant0607 commented on #869
Github added more signals to notification emails. I'll adjust my filters to take advantage of these and will report whether it helped. We should add a link to this in our PR workflow documentation:
https://help.github.com/articles/about-notification-emails/#the-cc-address

[2016-07-30 18:02] foxish commented on #1304
https://github.com/kubernetes/contrib/pull/1456 adds configmaps for docs and contrib. We should be able to spin up an instance after this.
The DNS changes appear to have propagated as well. We can start pointing things to:
http://kubernetes.submit-queue.k8s.io/

[2016-07-31 16:29] #1407 closed

[2016-08-01 05:25] zllovesuki opened #1457 "NGINX Ingress Controller - net.core.somaxconn=128"
The setup works fine (btw thank you community :) ), however the logs is flooded with:
[code]

Is there any way to tune `net.core.somaxconn` or ignore the log?

[2016-08-01 05:40] linkmancheng commented on #228
Hi Tim,

Can Kubernetes support Ali loadbalance or storage now?
Thanks.

[2016-08-01 05:50] amarruedo commented on #1451
@aledbf I'm not mounting any volume, and yes, I checked that the file exist inside the container. I thought that the problem could be related to a corrupt GeoLiteCity.dat, but if that was the case, then I woldn't be the only one experiencing this issue.

[2016-08-01 06:01] thockin commented on #228
As far as I know, nobody has sent us any patches for AliCloud support.

On Sun, Jul 31, 2016 at 10:40 PM, linkmancheng <notifications@github.com>
wrote:

[2016-08-01 06:20] amarruedo commented on #1451
Well, I found the problem, reviewing for 100th time my nginx deployment specification I realized that I had  set memory limit of 10mb on the pod (classic copy/pasting from other deployment specification, my bad!), which I guess is not enough for GeoLiteCity.dat, and thus, it fails opening the database.

I deleted memory realted resource limits from the delpoyment specification and now everything w

[2016-08-01 06:20] #1451 closed

[2016-08-01 08:50] ingvagabund commented on #1290
@siddharthist any PR for this feature is welcome. I have started refactoring the ``kubernetes`` role [1]. Still, the task responsible for the certificates generating is untouched. I suggest to create a new task (e.g. ``retrieve_certs.yml``) that will replace the current ``gen_certs`` [2].

[1] https://github.com/kubernetes/contrib/pull/1444
[2] https://github.com/kubernetes/contrib/blob/master/ans

[2016-08-01 13:37] aledbf commented on #1457
@zllovesuki this is the example that shows how is possible to tune net.core.somaxconn https://github.com/kubernetes/contrib/blob/master/ingress/controllers/nginx/examples/sysctl/change-proc-values-rc.yaml

[2016-08-01 20:09] zllovesuki commented on #1457
@aledbf uh, that is very...."hacky."

I would assume that there's no other way to change the values other than using a "buddy" container to modify sysctl value?

[2016-08-01 20:14] aledbf commented on #1457
I know :) but until something like https://github.com/kubernetes/kubernetes/pull/26057 is implemented this is the least privileged way to change sysctl settings.

In the next version of the ingress controller that warning appears only using `--v=3`.

[2016-08-01 22:43] bprashanth commented on #1457
Of course, run it privileged or with net=host :)
There is no better way IMO

[2016-08-01 22:48] bprashanth opened #1459 "Nginx controller should work with local-up-cluster"
It's the best way to get people familiar with ingress, but currently it fails with:
[code]

I *think* this is because there is no service account. It should just default to using localhost:8080, i thought the client library did this but i might be wrong. I thought `clientConfig` would default to this if nothing else worked, but obviously I'm wrong or missing an option. Can take a look when i have

[2016-08-01 23:07] aledbf commented on #1459
I was expecting the same thing but the main contains https://github.com/kubernetes/contrib/blob/master/ingress/controllers/nginx/main.go#L125
which is true by default.

[2016-08-01 23:09] bprashanth commented on #1459
hmm, setting it to false works? if so it's worth adding a snippet to the readme about this

[2016-08-02 06:43] hongchaodeng commented on #1389
@kubernetes/contributor-experience
In order to implement the approval munger, I need to define approver and implement some helper function to "get" approver.
Is there any work around it currently? Let me know if any.

My implementation plan follows the comment:

@bgrant0607 One question. What does it mean by "transitive coverage of directories touched should gate application of the approved label.

[2016-08-02 09:07] pieterlange opened #1463 "NGINX ingress controller - make ingress.class option configurable"
The newly added "ingress class" option allows cluster administrators to select which set of ingress controllers serves certain Ingress objects by setting an `kubernetes.io/ingress.class` annotation. Currently the NGINX controller is hardcoded to look for ingresses with an "nginx" value or nonexistent/empty annotation.

If we make this option configurable through the configmap settings, cluster adm

[2016-08-02 09:11] pieterlange commented on #1463
I might send a pull request for this, but had to write something down to remind myself of this as this usecase has been spinning in my head for a while and i just noticed the new option which could be (ab)used for this. Comments welcome.

[2016-08-02 09:17] anuribs opened #1464 "Error while generating secret json config in /tmp/secret.json"
I am trying to create a service loadbalancer using "rc.yaml" file as mentioned in https://github.com/kubernetes/contrib/tree/master/service-loadbalancer whic gets successfully deployed. Further I am trying the nginx https service example mentioned in https://github.com/kubernetes/kubernetes/tree/master/examples/https-nginx. however when I do `make keys secret KEY=/tmp/nginx.key CERT=/tmp/nginx.crt

[2016-08-02 13:20] mstrzele opened #1465 "Can't use this repo as a submodule"
Seems that someone added empty dirs as a submodules in `kubeform` directory. Unfortunately this causes error when `contrib` is being used as a submodule in other repository:

[code]

[2016-08-02 20:06] siddharthist commented on #1290
We've done this work as part of Mantl, but it made a few environment specific changes as well. Anyone is welcome to use our ASL2 code, of course :)

[2016-08-02 22:04] #1465 closed

[2016-08-02 22:11] zllovesuki commented on #1457
@aledbf For now, I commented out the corresponding line in `util.go` and recompile controller.go. Hopefully, there's a flag for verbosity soon.

[2016-08-02 22:13] bprashanth commented on #1457
Hmm, doesn't `--v=0` work (you'd add it to the args in the nginx controller yaml)?
I agree we should reduce spammy logs in general.

[2016-08-02 22:15] zllovesuki commented on #1457
@bprashanth Disclaimer: I'm very new to the Kubernetes project, even newer to Go lang in general. Yes, I was thinking of the flag `--v`, but I was searching for such flag in the source code, and I didn't see this flag, so I assume that such flag would have no effect.

[2016-08-02 22:15] bprashanth commented on #1457
[code]

[2016-08-02 22:17] bprashanth commented on #1457
yeah that's fine :)
It might not work, and that'd be a bug, but give it a shot. Modify the args: https://github.com/kubernetes/contrib/blob/master/ingress/controllers/nginx/rc.yaml#L102
with
[code]

[2016-08-02 22:18] zllovesuki commented on #1457
Nevermind, I found the gem:

https://github.com/kubernetes/contrib/blob/1a677a237150f6617788897a21c7ea93230b0af3/ingress/vendor/github.com/golang/glog/glog.go#L401

So that's why I couldn't find the verbosity flag.

[2016-08-02 23:22] foxish opened #1470 "No assignees for some PRs"
We have [11 PRs](https://github.com/kubernetes/contrib/pulls?q=is%3Aopen+is%3Apr+no%3Aassignee) to which Blunderbuss is unable to make an assignment. We must investigate why it fails to make an assignment.

Logs from Blunderbuss:
[code]

It appears that some of them are PRs which add code to directories which have since been deleted from the repo. We should possibly close those PRs.

[2016-08-03 02:09] foxish opened #1472 "Details link from the Submit Queue should point at the right instance"
![screenshot from 2016-08-02 19 06 24](https://cloud.githubusercontent.com/assets/906471/17351540/6ec1bdd8-58e4-11e6-95f4-fa27c569dcbc.png)

It currently points at the main repository's submit-queue on contrib as well.

[2016-08-03 03:01] bgrant0607 commented on #869
We could autodetect messages like "this should be closed".
Example: https://github.com/kubernetes/kubernetes/issues/28817

[2016-08-03 03:08] apelisse commented on #869
Somewhat related but @fejta and I agreed that it would be nice to have a close-stale-flake-issues munger.

[2016-08-03 21:04] #1432 closed

[2016-08-03 22:39] bgrant0607 commented on #1389
@hongchaodeng A user listed as an approver in an OWNERS file applies to files in that directory and in all subdirectories of that directory, so someone in the root OWNERS file could approve all PRs.

[2016-08-04 00:35] foolusion opened #1482 "nginx ingress high latency / low rps vs service"
calling via internal aws elb

    Running` 30s test @ http://elwin.k8s-a.ttoapps.aws.cloud.nordstrom.net/?userid=mm&teamid=test
      500 goroutine(s) running concurrently
    50085 requests in 30.16710187s, 17.19MB read
    Requests/sec:           1660.25
    Transfer/sec:           583.49KB
    Avg Req Time:           301.159048ms
    Fastest Request:        87.959178ms
    Slowest Request:

[2016-08-04 00:40] bprashanth commented on #1482
what is 25.0.0.20? the perf regression between {internal elb/nginx} x service is alarming

[2016-08-04 00:40] bprashanth commented on #1482
@aledbf fyi

[2016-08-04 01:36] foolusion commented on #1482
@bprashanth  25.0.0.20 is the ip address of the service for http-router (nginx ingress) in my cluster.

[2016-08-04 03:09] aledbf commented on #1482
@foolusion I cannot reproduce this scenario.
Can you provide more information about your cluster?

**Followed Procedure:**

Install kubernetes in GCE
[code]

SSH master node
[code]

Install nginx ingress controller
[code]

remove the limits in elwin (the default nodes do not fullfil the requirements)

create a service (to not use an IP)
[code]

[code]

[code]

[2016-08-04 03:22] gouyang opened #1483 "[ansible] Move role flannel before role docker in deploy-cluster.yml"
This is a real problem I met during testing.
Steps to reproduce the problem:
- There are two host A and B, inventory file looks like on host A.

[code]
- Run `setup.sh` on host A, the cluster is up.
- After some time, Host A is down and I can use host B only.
- The inventory on host B looks like

[code]
- Make some changes to /etc/sysconfig/docker or /etc/sysconfig/docker-network
- Run `setup.sh`

[2016-08-04 04:23] bprashanth commented on #1482
25.0.0.20 is a public ip (as opposed to a cluster private pod ip which you can get from kubectl get po -o yaml), so I was asking if it's the external ip of the node the pod is on?

[2016-08-04 06:06] gouyang opened #1484 "[ansible] Move role node before role kube-addons"
Make node ready before deploy addons because addons are running on node eventually. It reduce unnecessary logs at least.

[2016-08-04 14:21] eparis commented on #1483
Did you mean to say `will NOT exit` ? Is that a good thing?

[2016-08-04 16:33] lavalamp commented on #1178
This has been done.

[2016-08-04 16:33] #1178 closed

[2016-08-04 17:43] foolusion commented on #1482
the main differences i see are we have a config map that does some stuff and we are using an older version of the ingress image nginx-ingress-controller:0.62. I am just a user of the cluster so don't really know about the setup details. Can i just overwrite my current http-router with the one you used and expect everything to still work?

apiVersion: extensions/v1beta1
    kind: DaemonSet
    meta

[2016-08-04 17:49] foolusion commented on #1482
@bprashanth not sure how/why that ip was assigned but it's listed as a cluster-ip

    [10:46:32]x7qj@M00973465:~$ kubectl get svc --namespace=kube-system
    NAME                   CLUSTER-IP   EXTERNAL-IP   PORT(S)         AGE
    default-http-backend   25.0.0.39    <none>        80/TCP          2d
    http-router            25.0.0.20    <none>        80/TCP          2d
    kube-dns

[2016-08-04 18:43] aledbf commented on #1482
yes but first check your custom template with the provided in the new version (there are new sections in the template)

[2016-08-04 21:15] foolusion commented on #1482
@aledbf I tested with the default nginx ingress you listed (https://raw.githubusercontent.com/kubernetes/contrib/master/ingress/controllers/nginx/rc.yaml). The performance has improved greatly. Here are the results.

using the service

    Running 30s test @ http://elwin/?teamid=test&userid=mm
    500 goroutine(s) running concurrently
    3975570 requests in 29.804068243s, 1.16GB read
    Requests

[2016-08-05 02:45] aledbf commented on #1482
@foolusion you think this can be closed after the version upgrade?

[2016-08-05 02:48] #207 closed

[2016-08-05 02:48] #204 closed

[2016-08-05 02:49] #205 closed

[2016-08-05 02:49] #203 closed

[2016-08-05 02:57] aledbf commented on #1463
The [GCE controller](https://github.com/kubernetes/contrib/blob/master/ingress/controllers/gce/controller/utils.go#L55) also uses this annotation [limitations](https://github.com/kubernetes/contrib/blob/master/ingress/controllers/gce/BETA_LIMITATIONS.md#disabling-glbc).
Right now is used by Ingress controllers to ignore one or more Ingress rules.
Why not use the `--watch-namespace` to reduce the s

[2016-08-05 03:17] aledbf commented on #1482
@foolusion you can try [this example](https://github.com/kubernetes/contrib/blob/master/ingress/controllers/nginx/examples/sysctl/change-proc-values-rc.yaml) to test a different scenario (this will improve the test)

[2016-08-05 03:19] gouyang commented on #1483
Yes，I mean `will NOT exit`.
It currently failed on this situation, by moving role flannel before role docker and all steps are PASS, isn't it good?

[2016-08-05 07:52] foxish commented on #1406
From the bot statistics, it appears that `GetPR(...)` is the one API call that we're unable to cache well. Why is that? Is there something we could do in specific for it?

![screenshot from 2016-08-05 00 39 55](https://cloud.githubusercontent.com/assets/906471/17430001/be76aba4-5aa6-11e6-8acb-1c302b5a7738.png)

[2016-08-05 11:26] pieterlange commented on #1463
I didn't know about ```--watch-namespace``` :). But i'm not convinced that's a good option for me either, as i don't know which namespaces will exist at the time i deploy the ingress controller. Even if i did, i would have to run a set of controllers for each namespace, or can i watch multiple ones in the same controller? That would get expensive fast, as you'd need to run a cloud provider loadbal

[2016-08-05 12:53] eparis commented on #1406
This was a message I got from github support long long ago talking about tokens.:

------------------------------------------------------------------

Also, I'm going to guess that you're using ETags for caching and If-None-Match for conditional requests, correct? If so, then I think you're seeing ETags change frequently for pull requests because of the way they're computed (taking nested resource

[2016-08-05 14:23] bpradipt commented on #12
I'm not very much familiar with F5 LB, but is making the F5 LB part of the VXLAN/flannel network as described in [1] an option ? Anyone have any experience with such kind of a setup ?

[1] https://f5.com/resources/white-papers/vxlan-and-the-big-ip-platform

[2016-08-05 14:35] apelisse commented on #1406
By the way, regarding that last line. I've removed 98% of the calls to get
commit, removing 1400~ call per loop ...

On Fri, Aug 5, 2016, 5:54 AM Eric Paris <notifications@github.com> wrote:

[2016-08-05 15:06] foxish commented on #1406
@apelisse That's awesome. I remembered seeing a different Get<> API call being on top of our stats earlier, and was wondering about it :). Maybe we could do the same for GetPR because it's performing so many uncached calls per loop. The approach @eparis suggested doesn't seem too hard to do. I can take a stab at it later today as well.

[2016-08-05 15:13] smarterclayton commented on #12
Not directly equivalent, but routing_from_edge_b.html
<https://docs.openshift.org/latest/install_config/routing_from_edge_lb.html#establishing-a-tunnel-using-a-ramp-node>
describes
what you can do if you want to ramp from an F5 if you *can't* make it part
of VXLAN.  I know F5 was looking at updating to be compatible with the
kernel and version of OVS we used but haven't looked recently to see if i

[2016-08-05 15:50] apelisse commented on #1406
I think I have a better suggestion.

Today we do (if I read code correctly):
- For each loop
   - Fetch all open issues (within the specified range, but whatever in
this scenario)
   - Munge each issue (most of the time, will follow with:)
      - Fetch the PR (this is the problem)

We would improve significantly reduce the number of call by doing:
- For each loop
   - Fetch all open issues
   - F

[2016-08-05 16:10] foxish commented on #1406
That would definitely be a quicker fix, but there are 400+ open PRs on the main repository. Maybe we should run a quick test to see how many uncached API calls we use when we just run a single munger which fetches each PR exactly once. If the issue is that we are unable to cache PRs effectively between loops, that won't change if we keep fetching that many PRs in every loop. Right now, I saw that

[2016-08-05 16:33] #1423 closed

[2016-08-05 16:35] foxish commented on #1411
Fixed in https://github.com/kubernetes/contrib/pull/1436

[2016-08-05 16:35] #1411 closed

[2016-08-05 16:37] foolusion commented on #1482
I'll test with that example as soon as I can and close this issue I think it's just a matter of tuning nginx at this point.

[2016-08-05 16:39] aledbf commented on #1464
@anuribs you need to follow the [development](https://github.com/kubernetes/kubernetes/blob/master/docs/devel/development.md#workflow) workflow

[2016-08-05 16:41] aledbf commented on #1482
that is what the example provides (improves `net.core.somaxconn` which affects latency and concurrent connections)

[2016-08-05 16:43] eparis commented on #1406
this is a GREAT idea.  Since using the 'list all PRs' we can get 100 in one call...  So we'd turn the 400 PRs into 4 API calls.

The new flow would be:
get all issues and create all new MungeObjects
get all PRs and attach those to the MungeObjects
Run all mungers...

It'll boost memory consuption having to keep all issues and all PRs in ram instead of < page size at a time, but ram's cheap, right?

[2016-08-05 16:46] apelisse commented on #1406
Cheaper than github tokens ;-)

On Fri, Aug 5, 2016 at 9:43 AM Eric Paris <notifications@github.com> wrote:

[2016-08-05 16:48] aledbf opened #1487 "[nginx-ingress-controller] Improve nginx default"
Default values of `types_hash_max_size`, `server_names_hash_max_size` and `server_names_hash_bucket_size` should take in account to the number of Ingress rules and adjust the default value accordingly

[2016-08-05 16:55] foxish commented on #1406
+1! @apelisse. We went over the data returned from the API for a list of PRs v/s a single one. There are minor differences, but the good news is that it shouldn't affect us, and it would be pretty a substantial saving in terms of the rate limit count. Definitely enough to deploy several more bots :)

[2016-08-05 17:13] foolusion commented on #1482
Actually the example one that sets `net.core.somaxconn` makes the ELB performance worse somehow.

I used your wrk image and mine but results were same with both (not good from elb).

    [10:07:28]x7qj@M00973465:elwin$ kubectl logs -f elwin-wrk-1jr3g
    Running 30s test @ http://nginx-ingress-controller.default.svc.cluster.local/?teamid=test&userid=mm
    2 threads and 500 connections
    Thread

[2016-08-05 17:42] bprashanth commented on #1463
Yeah you are hinting at the same thing that was initially proposed in the ingress doc: https://github.com/kubernetes/kubernetes/pull/12827/files#diff-41f2bde570ebc813183b7cd0a96a7e04R106, users can request different classes of ingress without bothering what backs each one. You can serve class "gold" and "silver" both from nginx, just that in one case the nginx gets 500m vs 50m cpu limits.

I'm fin

[2016-08-05 17:51] chen23 commented on #12
@bpradipt I've used the F5 Python SDK to populate the FDB table and ARP entries following the documentation from: https://support.f5.com/kb/en-us/products/big-ip_ltm/manuals/product/tmos-implementations-12-1-0/8.html

I did this in my spare time as an example, but I cannot vouch for whether this is the "correct" way to network with flannel network.  Here's the example: https://github.com/f5devcent

[2016-08-05 17:57] vipulsabhaya commented on #12
We've added support for an F5 backend to a new service loadbalancer implementation https://github.com/kubernetes/contrib/pull/1343 -- we plan to update this and consume Ingress as Ingress evolves to support TCP load balancing

[2016-08-05 18:03] timstclair opened #1488 "Do not require release-note labels for test or tools PRs."
Changes to certain files / directories almost never require release-notes. If a PR only touches those files, it should not require the release-note label. Candidate files include:
- `test/**`
- `**/*_test.go`
- `hack/**`
- `examples/**`

[2016-08-05 18:31] foxish commented on #1406
Just tried to whip up a quick version of the bot using 'list all PRs' instead of getPR(), and from what I see, it breaks the submit-queue (which is trying to get the attributes  `mergeable` and `merged`) and the size munger, because it relies on additions and deletions extracted from the PR data. Looks like we need to brainstorm further about how we could work around these.

The PR, in case anyone

[2016-08-05 18:34] apelisse commented on #1406
Size would be simplified by not looking at this value so it makes us a
favor...
We can check merge date for merged and we could look for the merge ref in
the repo to know if it's mergeable

On Fri, Aug 5, 2016, 11:31 AM Anirudh Ramanathan <notifications@github.com>
wrote:

[2016-08-05 18:55] foxish opened #1491 "Blunderbuss should pick owners for top-level directory additions"
When directory additions are made to the top-level of the repository, blunderbuss does not make assignments, or find owners.
Example: no assignees for #1343, #1189, #892, #841

[2016-08-05 18:55] colemickens opened #1492 "nginx-ingress-controller: support for oauth2_proxy"
I'd like to have an nginx-ingress-controller that that works with https://github.com/bitly/oauth2_proxy,

It looks like this will require more than surface level changes to nginx-ingress-controller. I'm curious if this is something that is worth accommodating in this "upstream" nginx-ingress-controller or if it would be invasive enough to not be desired?

I'm just starting to look into this but it

[2016-08-05 19:01] aledbf commented on #1492
This is possible now. Check the [custom-nginx-template](https://github.com/kubernetes/contrib/blob/master/ingress/controllers/nginx/configuration.md#custom-nginx-template) section

[2016-08-05 19:12] aledbf commented on #1492
@colemickens this is similar to this request https://github.com/kubernetes/contrib/issues/1327

[2016-08-05 19:14] aledbf commented on #1492
@colemickens what if instead of adding this code inside the controller we use [auth_request ](http://nginx.org/en/docs/http/ngx_http_auth_request_module.html) to delegate the authentication to an external service/url?

[2016-08-05 20:06] eparis commented on #1491
So add an OWNERS at the top level...

[2016-08-05 20:06] eparis commented on #1491
(just don't put me in the list  :))

[2016-08-05 20:13] foxish commented on #1491
@eparis We do have a [top-level OWNERS file](https://github.com/kubernetes/contrib/commit/c3e5f67b871c9071a8739eddf69024539182f9a6).

[2016-08-05 20:15] foxish commented on #1470
Duplicate of https://github.com/kubernetes/contrib/issues/1491

[2016-08-05 20:15] #1470 closed

[2016-08-05 20:16] eparis commented on #1491
son of a...   ok, i'll debug this.

[2016-08-05 20:23] colemickens commented on #1492
That's a good point. If oauth2_proxy runs as a normal Service/Deployment then we would just need a way to configure `auth_request` to point to the oauth2_proxy Service. That seems remarkably straight forward actually.

[2016-08-05 20:30] aledbf commented on #1492
What about a global configuration and an annotation like [ipwhitelist](https://github.com/kubernetes/contrib/blob/master/ingress/controllers/nginx/nginx/ipwhitelist/main.go)? This allows the semantic "all the services require authentication" and "this ingress requires authentication" (the annotation overrides the global value, to allow a different auth service)

[2016-08-05 20:46] eparis commented on #1491
please review #1493 to fix this.

[2016-08-05 20:57] #1448 closed

[2016-08-05 22:04] grodrigues3 commented on #1422
This is related to #1402.  I think that one already pings due to inactivity and also notifies the "involved Users".   We might be able to add additional granularity to the notifications by checking for keywords like PTAL or paying attention to the last action (e.g new commit)

[2016-08-05 23:43] #1491 closed

[2016-08-07 05:12] foxish commented on #1422
@grodrigues3 Good point. It does seem related and we could repurpose parts of that munger. As part of this issue, it seems like we could tackle https://github.com/kubernetes/kubernetes/issues/30034 as well. We could do the labeling and the pings. The close-stale-pr munger has the duration between pings set to a very large number I think (30 days?). It would make sense to parameterize that and deci

[2016-08-07 06:25] foxish opened #1496 "Some imports being vendored and present in Godeps."
I ran into this issue today when trying to get https://github.com/spf13/viper running with mungegithub.

[code]

The reason I saw now was that we [vendor the spf13/*](https://github.com/kubernetes/contrib/tree/master/mungegithub/vendor/github.com/spf13) imports and also have it in [godeps](https://github.com/kubernetes/contrib/blob/master/mungegithub/Godeps/Godeps.json#L89). Isn't this an anti-pat

[2016-08-07 13:45] #1464 closed

[2016-08-07 16:33] eparis commented on #1496
You mis-understand what `Godeps` is for. All that directory does is provide metadata to the `godep` tool about what is/should be in the `vendor` directory. There is nothing wrong with `godeps`.

If you use `vendor` (we do) you basically must vendor EVERYTHING. What's happening is that the mungegithub imports of cobra are being satisfied from `vendor` but since `viper` is outside of `vedor` its imp

[2016-08-07 16:34] eparis commented on #1496
basically, in mungegithub you need to do:
[code]

[2016-08-07 16:41] foxish commented on #1496
I understand, and vendoring viper is what I ended up doing. I guess I didn't previously know that I shouldn't mix vendored imports with those I fetch from `godep restore`, which led me to this situation. I'd have expected both kinds of imports to be equivalent and interchangeable.

[2016-08-07 16:43] eparis commented on #1496
They were back under `godep go build` but the golang vendor experiment makes them solve differently. I don't like the behavior and think what you like makes more sense...

[2016-08-07 18:08] thockin commented on #1496
Go still supports multiple GOPATH entries,but it is hard to debug and not
reproducible, so just don't.

On Aug 7, 2016 9:43 AM, "Eric Paris" <notifications@github.com> wrote:

[2016-08-07 18:41] vreon commented on #1463
This would be cool. I want to run two nginx ingress controllers on my cluster (one behind a public ELB and one behind an internal ELB) and right now they're both looking for the same ingress class.

At first glance this seems like a natural fit for labels rather than an annotation; an ingress controller could be configured with a label selector in the same way that a service watches for labeled po

[2016-08-08 08:01] pieterlange commented on #1463
@vreon Yes, this is the kind of usecase i imagined. I also like the "gold" and "silver" QoS class usecase. I'm sure there will be more. :)

[2016-08-08 12:53] eparis commented on #1496
Define support?  If I put `dep1` in `vendor` and `dep2` in the GOPATH. If `dep2` uses `dep1` then `dep1` MUST also be in GOPATH and `GOPATH/dep1` with conflict/be different from `vendor/dep1`. I find it pretty horrible and that about 90% of people who run into the problem blame the wrong tools. Usually people blame `godep` which has nothing to do with it. Anyway, this is probably to support what C

[2016-08-08 12:53] #1496 closed

[2016-08-08 13:08] aabed commented on #1371
@eparis

[2016-08-08 13:31] ingvagabund commented on #1371
Hey @aabed, what about to break the ``gen_tokens.yml`` into ``gen_master_tokens`` and ``gen_node_tokens`` instead? Still, the task is meant to be run on master. Delegation of it should make it so.

[1] https://github.com/kubernetes/contrib/blob/master/ansible/roles/kubernetes/tasks/gen_tokens.yml

[2016-08-08 13:35] aabed commented on #1371
And then you include the gen_node_tokens in the node role instead of including the whole gen_token
I am a little rusty here I almost forgot what was this all about :smile:

[2016-08-08 13:37] ingvagabund commented on #1371
The task has to be run on the master. Since all the tokens are stored under ``/etc/kubernetes/tokens/known_tokens.csv``. Not so familiar with the tokens work-flow but I would say apiserver needs the file (just guessing).

[2016-08-08 13:38] aabed commented on #1371
yes, I know but you want it to be included and delegated, am I right?

[2016-08-08 13:43] ingvagabund commented on #1371
Still have not come with a plan :D But yes, it make sense to put it there. And it would solve the problem. You can try it and let me know :P

[2016-08-08 13:44] ingvagabund commented on #1371
@adamschaub what about generating tokens for HA? Will it be the same or will it require additional modification?

[2016-08-08 13:50] aabed commented on #1371
I think if I am going to do it it will be something like

in **secrets.yml**
[code]

in **gen_node_tokens.yml**

[code]

[2016-08-08 23:51] yujuhong opened #1500 "labels: [Errno 2] No such file or directory: './models/trained_teams_model.pkl'"
There are [many issues](https://github.com/kubernetes/kubernetes/issues?utf8=%E2%9C%93&q=%20label%3A%22%5BErrno%202%5D%20No%20such%20file%20or%20directory%3A%20%27.%2Fmodels%2Ftrained_teams_model.pkl%27%22%20) being labeled `[Errno 2] No such file or directory: './models/trained_teams_model.pkl'` by the k8s-merge-bot in the past few days.

[2016-08-09 00:11] yujuhong commented on #1500
/cc @foxish

[2016-08-09 01:52] yujuhong commented on #1500
@grodrigues3 manually removed all the incorrect labels. I assume this is a one-time incident(?) Closing the issue.

[2016-08-09 01:52] #1500 closed

[2016-08-09 13:35] ingvagabund commented on #1371
That looks good. At the same time the master related gen token code can be moved under master role.

Still, I would like to finish and close https://github.com/kubernetes/contrib/pull/967 and https://github.com/kubernetes/contrib/pull/1444 first. Once #1444 is merged, it will be easier to fix this issue.

How urgent it is? Are you blocked or unblocked?

[2016-08-09 19:39] aabed commented on #1371
I am all free, ping me when you merge them and I will make the changes
and submit a PR

[2016-08-09 20:11] foolusion commented on #1482
Looks like the updated version of the ingress will be enough to get the performance we need. The rest will just be tuning.

[2016-08-09 20:11] #1482 closed

[2016-08-09 21:06] bgrant0607 commented on #869
"ok to test" messages don't notify anyone.
Example: https://github.com/kubernetes/kubernetes/pull/30208

[2016-08-09 21:09] bgrant0607 commented on #869
As discussed, we should change all bot instructions to clear commands, like:

[code]

Plain english can be misinterpreted ("lgtm if you do X"), long phrases ("@k8s-bot test this issue: #IGNORE")  are hard to remember, and sometimes requiring bot notification and sometimes not is confusing.

[2016-08-10 12:42] resouer commented on #1389
Interesting to have this! Tracking!

[2016-08-10 16:19] lendico-dmitry-dzifuta opened #1504 "nginx-ingress-controller: the server does not allow access to the requested resource"
I'm trying to run nginx-ingress-controller from rc-default.yaml. Doing it asis causes the following error:
`I0810 15:56:28.267295       1 main.go:99] Using build: https://github.com/bprashanth/contrib.git - git-b195d9b F0810 15:56:28.353709       1 main.go:128] unexpected error getting runtime information: the server does not allow access to the requested resource (get nodes xxx)`

Environment is

[2016-08-10 17:17] aledbf commented on #1504
@lendico-dmitry-dzifuta please use `--v=100` to check the response from the api server

[2016-08-10 20:37] kokhang commented on #762
I have this PR https://github.com/kubernetes/contrib/pull/1343, which adds a new project in contrib. In light of this discussion, where should i make it go? I would like to make this project available and open for the community.

[2016-08-10 20:58] kokhang opened #1506 "contrib/service-loadbalancer does not support other type of loadbalancers and has limited L4 support"
Service-loadbalancer is very integrated with HAProxy and it is not designed in a way that it can be easily decoupled.

Service-loadbalancer support for L4 is also very limited. The binding-port needs to be open and specified as a hostPort during the controller creation. This forces users to specify and open the ports at the beginning.

Because it is using the node port, this will prevent two diffe

[2016-08-10 21:12] bprashanth opened #1507 "Figure out readiness probe for nginx ingress that works behind a CP lb"
Flesh out the details discussed in: https://github.com/kubernetes/contrib/pull/1501#discussion-diff-74324489 and update the probes accordingly.

[2016-08-10 21:26] kokhang commented on #1506
#1343 proposes a new service loadbalancer project that is designed to easily integrate multiple backends.

It also uses keepalived to allocate VIPs to every service. So loadbalancer will bind to both VIP and ports. This provide support for multiple apps that uses the same ports (ie mysql and mariadb)

#1343 also provides support for both L7 and L4 apps. It listens for configmaps for configuration.

[2016-08-10 22:46] mml opened #1509 "Connect the repo to Reviewable"
Please connect this repo at https://reviewable.kubernetes.io/repositories so that all PRs get linked to reviews. Thanks!

[2016-08-10 23:21] bgrant0607 commented on #1389
If you need more inspiration, here's a similar product:
https://about.pullapprove.com/features/

FWIW, we have looked at pullapprove, but the functionality is a subset of what we need for our PR workflow in general, and the legal process to get it approved could well drag out for a really long time.

[2016-08-11 01:51] bgrant0607 commented on #762
@kokhang I suggest your own github account.

[2016-08-11 05:10] danushkaf opened #1511 "How to enable access logs in haproxy."
We tried several things but couldn't get it working. We are using haproxy as a pod.

[2016-08-11 09:59] lendico-dmitry-dzifuta commented on #1504
@aledbf my investigation showed the following - api server was rejecting (with forbidden) GET request to node resource. I'm using ABAC authorisation mode with the following line for the service account:
{"apiVersion": "abac.authorization.kubernetes.io/v1beta1", "kind": "Policy", "spec": {"user": "system:serviceaccount:dev:default",         "namespace": "dev",           "resource": "*",          "a

[2016-08-11 17:10] kokhang commented on #762
@bgrant0607 If i have it in my own github account, how would the kubernetes community know about it so that it can be used and contributed?
Would that be done through links and docs?

Thanks,

[2016-08-11 17:26] bgrant0607 commented on #762
@kokhang Good question for https://kubernetes.slack.com/messages/community-sites/

[2016-08-11 17:28] foxish opened #1516 "[mungegithub] Set up an E2E test for the bot"
With the right use of fakes and mocks, we should be able to setup a comprehensive e2e test for the bot, so that we can make changes more confidently. This should go hand in hand with the canary style of deployment, and a standard deployment plan for the submit-queue.

[2016-08-11 17:29] foxish commented on #1516
We should probably move to the dedicated kubernetes/pr-bot repository first, before we do this.

[2016-08-11 17:30] apelisse commented on #1516
Yes, we could improve that, it would be very sweet.

[2016-08-11 17:37] heroic opened #1517 "HTTPS Ingress allows http"
I have a inges.yaml defined like so:

[code]

This is as per the readme in the GCE https load balancer example. However, I still see an open http and https port. As seen here:

[code]

[2016-08-11 20:49] Q-Lee commented on #762
@spxtr clarification needed: i18n or programming languages?

[2016-08-11 20:52] Q-Lee commented on #762
@bgrant0607 @bprashanth I'm confused now - where will new service loadbalancers go? Imo, a netscaler implementation is a great addition for on-premise k8s deployments.

[2016-08-12 00:17] lavalamp opened #1521 "Submit queue having trouble checking mergability"
causing # in queue to oscillate wildly.

@eparis @apelisse

[2016-08-12 00:20] lavalamp opened #1522 "Some presubmit test jobs are taking more than 30 minutes"
The difference between taking 38 minutes and 28 minutes is more than 15 merges per day.

[2016-08-12 00:27] #1391 closed

[2016-08-12 06:58] thockin commented on #762
This is a two-edged sword, of course.  If users who wan to assemble a k8s
cluster have to pull pieces from all over the internet to do it, the
perception will be that this is a piecemeal, cobbled-together system.  we
have to find a balance.

On Thu, Aug 11, 2016 at 3:19 PM, Prashanth B <notifications@github.com>
wrote:

[2016-08-12 09:55] scheeles opened #1525 "Nginx ingress with https"
The nginx ingress don't accept the same tls format as the GCE.

For nginx the host must be every time specified min the tls definition:

[code]

this ingress don't serve https on nginx:

[code]

but it work for GKE and also mention here http://kubernetes.io/docs/user-guide/ingress/

[2016-08-12 18:01] yujuhong opened #1529 "merge bot skipping many PRs: Unable to determine is PR is mergeable"
http://submit-queue.k8s.io/#/history shows tens of PRs with the "Unable to determine is PR is mergeable" message.

E.g.,
[code]

The submit queue ended up having only one p3 PR in the queue.

/cc @eparis

[2016-08-12 18:15] eparis commented on #1529
every time this has happened (in quantity > 1-2) it was github api failing. If it doesn't come back we'll need to contact support...

[2016-08-12 18:46] yujuhong commented on #1529
I think someone restarted submit queue and it's fine now.

[2016-08-12 18:46] #1529 closed

[2016-08-12 19:32] foxish commented on #1389
@hongchaodeng If we are regenerating updated owners for the main repository, we may be able to leverage the code at https://github.com/foxish/findowner/tree/foxish-edits, which I used to generate owners for contrib. It has a few modifications to the original coreos/findowner code, and some of those changes may be reusable.

[2016-08-13 13:17] tyranron opened #1535 "Is --default-backend-service really required for Nginx Ingress Controller?"
Why `--default-backend-service` flag for `nginx-ingress-controller` is required?
Couldn't we just serve nginx static 404 page by default if no default backend is provided?
Idea to deploy and expose one more service in cluster just for simple 404 page is pretty strange. Do I miss something?

[2016-08-13 21:27] aledbf commented on #1535
Yes, is possible to do that but the goal is to be compatible with the [GCE controller](https://github.com/kubernetes/contrib/blob/master/ingress/controllers/gce) where is not possible to expose an internal static resource.

Besides that using a service to expose the default error page allows custom content without the need to use a custom nginx controller image.

[2016-08-13 21:31] aledbf commented on #1511
@danushkaf you need a syslog server because haproxy do not log to files.
Please check the [configuration](https://cbonte.github.io/haproxy-dconv/1.6/configuration.html#3.1-log)

[2016-08-13 21:32] aledbf commented on #1504
@lendico-dmitry-dzifuta please open an issue in the main kubernetes repo

[2016-08-15 07:00] tyranron commented on #1535
My point is to leave flag `--default-backend-service`, but make it optional.

If we specify `--default-backend-service` everything works like just now, and we have all those benefits and compatibilities.

If we do not specify this flag, just serves default static 404 page.

So... Both the wolves have eaten much and the sheep have not been touched!

If this is OK, I'll made a pull request to implem

[2016-08-15 09:21] foxish commented on #1090
Do we want to do first/second PR across the entire organization, or per-repository? It could be done through the API using [this](https://developer.github.com/v3/repos/statistics/#get-contributors-list-with-additions-deletions-and-commit-counts), and we could figure out when new folks start contributing.

[2016-08-15 09:35] foxish commented on #1304
Closing this. The bot is currently functional on contrib and docs. There is a document describing the steps required to get the bot to function on any new repos.

[2016-08-15 09:35] #1304 closed

[2016-08-15 16:05] aledbf commented on #1535
@tyranron honestly I prefer to keep the flag.

@bprashanth  ping

[2016-08-15 16:42] bprashanth commented on #1535
We should keep the flag, I don't mind defaulting it to something implementation specific if user doesn't supply it. We should make the defaults of a given implementation:

1. cross platform friendly so people who switch over aren't surprised
2. more natural to people who already use that implementation, so ingress on-boarding isn't a burden

[2016-08-15 18:57] abourget commented on #346
what about the new AWS Load Balancers that are Level7 ? any work being done on that ?

[2016-08-15 20:47] tyranron commented on #1535
@bprashanth I think I am starting to understand your goals, but still not very well.
To switch over implementation, user should explicitly specify manifest of ingress controller to be switched on, so he exactly knows what he is providing (no surprises). GCE and Nginx ingress controllers manifests have different image names, executable command name...so having slightly different flags and their beh

[2016-08-15 21:50] kokhang commented on #762
@bprashanth  I am all for trying to get the multi-backend service LB (#1343) in kubernetes incubator. Having it in my own repo would be hard for the community to know about and contribute to it.

Did this incubator process result as part of the elimination of  /contrib? There doesnt seem to be any project being incubated.

[2016-08-15 21:55] vipulsabhaya commented on #762
@kokhang @bprashanth Just to be clear, #1343 is not a drop-in replacement (yet) of service-loadbalancer.  We would need to add L7 ingress support to it.

[2016-08-15 22:04] yissachar commented on #346
My understanding is that ALBs would be a good fit for this if not for the limitation of only 10 URL routes.

[2016-08-15 22:13] bprashanth commented on #346
it also doesn't allow host header based routing. I think there's room for both implementations, an ELB pointing to nginx ingress controller that handles l7, and an ingress going straight to ALB. Cloud l7s have their strengths but depth of features isn't one of them, so if you want to do any interesting routing (even http redirect to https) you need something like nginx.

[2016-08-15 22:31] bprashanth commented on #1535
We should abstract on behavior, not flags. In this case the flag influences user facing behavior, which would be bad in the case where an admin has deployed 2 ingress controllers with default flag values, and the user is just going to create one ingress with `ingress.class=nginx`, test it, then graduate it to production by flipping the annotation to `ingress.class=aws/gce`. The behavior of what's

[2016-08-16 06:50] thockin commented on #762
I don't MIND adding new repos under kubernetes, if we think that they will
lead towards generally useful, generic, components.  I have not had a
chance to digest this repo in particular, but maybe you should START with
it in your own space, and get it to a place where it's really useful to a
few folks and then talk about incubating it?

There's a certain gravitas that projects under kubernetes/* s

[2016-08-16 08:56] Pensu opened #1542 "Not able to build nginx controller"
Hi, I am trying to build nginx controller and here is the error I am getting:

[code]

Any idea what could be wrong here? Can you please help me resolve it? TIA.

[2016-08-16 10:38] ingvagabund commented on #1542
This [1] happened. ``ingress/vendor/k8s.io/kubernetes`` deps needs to be updated.

[1] https://github.com/kubernetes/kubernetes/commit/32920b561716f4b743bfb41c342fb1350c1d7b69#diff-fbd990d2175df83c4b30cb973badedc8

[2016-08-16 12:17] aledbf commented on #1542
@ingvagabund the update is part of https://github.com/kubernetes/contrib/pull/1498

[2016-08-16 12:45] aledbf commented on #1542
@Pensu in the meantime you can compile removing `k8s.io/kubernetes` from your GOPATH

[2016-08-16 16:17] ingvagabund commented on #931
Among others we should pick systemd unit files, config files and upstart files from corresponding roles, not downloading them.

[code]

[2016-08-16 16:24] ingvagabund opened #1544 "Validate SSL certificates when downloading binaries"
Kubernetes, flannel, etcd and possibly other component have their corresponding binaries downloaded without SSL certs validation. The validation should be at least configurable. Opening the issue so we can talk about it and solve it eventually. E.g.

[code]

[2016-08-16 17:50] foxish opened #1546 "Potential race: lgtm_handler and lgtm_after_commit"
Before deploying https://github.com/kubernetes/contrib/pull/1539, I want to ensure that we have no races with the bot fighting against itself and exhausting quota.

It appears that it could happen in the following situation:
* Someone comments `/lgtm`.
* The bot adds the `lgtm` label.
* The author pushes new commits.

What happens:
* The lgtm_handler munger continues to see the comment and tries t

[2016-08-16 17:54] foxish commented on #1546
One potential solution is to use the `do-not-merge` label instead of removing LGTM, which was the way this problem was solved in case of the release notes race https://github.com/kubernetes/contrib/pull/1518. I don't know if that is the best way to solve it though.

[2016-08-16 18:08] hongchaodeng commented on #1546
Hi @foxish
Is each munger running concurrently?

[2016-08-16 18:11] lavalamp commented on #1546
Not concurrently, one after the other, but in an arbitrary order.

On Tue, Aug 16, 2016 at 11:08 AM, Hongchao Deng <notifications@github.com>
wrote:

[2016-08-16 18:14] foxish commented on #1546
I think we could get out of removing labels with the bot, and just stick to adding labels. That would let us write mungers without having to worry about other mungers. @lavalamp Would that make sense?

[2016-08-16 18:26] lavalamp commented on #1546
I don't think that helps in this case-- if you switch to adding "do not
merge" then you'll need to give humans a way to remove "do not merge" via
email and you'll have the same problem.

You could: add an "OK, applying LGTM" message, and ignore "/lgtm" comments
that are followed by a comment like that.

more controversially, you could just edit the message when you take action,
e.g. "/lgtm" -> "!l

[2016-08-16 18:43] foxish commented on #1546
@lavalamp Ah, the argument makes sense. Here is an alternative that might work as well:
We make the lgtm-after-commit munger comment on the PR with:

[code]

That way, when the lgtm-handler runs, it sees that lgtm was removed.

[2016-08-16 18:50] lavalamp commented on #1546
That SGTM. (It should also directly remove the label, to avoid the label
sticking around for an extra loop)

On Tue, Aug 16, 2016 at 11:43 AM, Anirudh Ramanathan <
notifications@github.com> wrote:

[2016-08-16 20:49] hongchaodeng commented on #1546
This isn't true. lgtm_handler munger won't see any comment before latest commit.

[2016-08-16 20:54] foxish commented on #1546
@hongchaodeng The code is using [LastModifiedTime(...)](https://github.com/kubernetes/contrib/blob/aaec42bbee650c5714faa47b70d63be450cd884d/mungegithub/github/github.go#L573), which is looking at the time the commit itself was made, which could be older than the last push made to the PR.

[2016-08-16 21:02] eparis commented on #1546
I don't think the order is 'arbitrary'. I thought mungers run in the order specified on the command line. But this isn't particularly important.

[2016-08-16 21:03] eparis commented on #1546
agree we need a `/lgtm cancel` or something like that.

I'm also fine with the bot editing the original `/lgtm` comment to indicate it has been dealt with....

[2016-08-16 21:26] lavalamp commented on #1546
We shouldn't make a certain order required, that's bound to bite some poor
human in the future.

On Tue, Aug 16, 2016 at 2:02 PM, Eric Paris <notifications@github.com>
wrote:

[2016-08-16 21:29] foxish opened #1548 "Fix the way we fetch last modified time"
We should be fetching the time of the last push, [not the last commit](https://github.com/kubernetes/contrib/blob/aaec42bbee650c5714faa47b70d63be450cd884d/mungegithub/github/github.go#L573).

[2016-08-16 23:48] spiffxp commented on #734
what do we think about closing this?  /cc @rmmh https://github.com/kubernetes/test-infra/tree/master/gubernator

[2016-08-17 08:58] tjliupeng commented on #752
I use kubernetes 1.3, also get this error.

[2016-08-17 20:40] #1459 closed

[2016-08-17 23:16] #1546 closed

[2016-08-18 04:39] lavalamp commented on #1522
@ixdy @spxtr

[2016-08-18 04:56] lavalamp commented on #1286
@eparis I really think we should change this. It's super demoralizing to see my PR not make any progress in the queue at all.

[2016-08-18 05:27] tjliupeng opened #1559 "Ingress nginx controller fail to start after upgrading k8s from 1.2 to 1.3.2"
When I create the ingress rc, I get the error below from describing the nginx controller pod:
Error syncing pod, skipping: failed to "StartContainer" for "nginx-ingress-lb" with CrashLoopBackOff: "Back-off 5m0s restarting failed container=nginx-ingress-lb pod=nginx-ingress-controller-k8nmm_default(510d6c6f-6458-11e6-9396-00505697649c)"

My new k8s version info:
Client Version: version.Info{Major:"

[2016-08-18 10:23] Pensu commented on #1542
@aledbf Removing and compiling again worked for me. Thanks :)

[2016-08-18 10:23] #1542 closed

[2016-08-18 10:23] Pensu opened #1561 "Ingress is up, but not able to connect to it."
Hi,

I am running nginx ingress controller as given in the example:
[code]

But when I try to access it, I get the following response:
[code]

All the pods are up and running in my cluster:

[code]

Any idea what am I doing wrong here? Or how to resolve it? TIA.

[2016-08-18 14:47] eparis commented on #1286
I won't nix such a patch  :)

[2016-08-18 20:11] aledbf commented on #1525
@scheeles you are right, currently the nginx ingress controller do not supports the `backend` definition. This means that in absence of rules the service specified in backend is used to route the traffic.

The reason why this is not currently present is because how nginx works: only is possible to have 1 server as "catch all".
If you define 2 or more ingress with just backend and not rules (there'

[2016-08-18 20:11] aledbf commented on #1517
@bprashanth ping

[2016-08-18 21:11] bprashanth commented on #1517
@heroic did you create the ingress with the annotation or update it?
I just tried with an ingress like:
[code]
and got
[code]

[2016-08-18 21:18] aledbf commented on #1561
@Pensu which version of the nginx controller are you using?
Please use the latest version `gcr.io/google_containers/nginx-ingress-controller:0.8.2`

[2016-08-18 22:18] lavalamp commented on #1286
Patch sent!

[2016-08-18 23:15] janetkuo commented on #869
Now if you LGTM in reviewable it prints this:

<img class="emoji" title=":lgtm:" alt=":lgtm:" align="absmiddle" src="https://reviewable.kubernetes.io/lgtm.png" height="20" width="61"/>

Can bot also respond to this?

[2016-08-18 23:52] timstclair opened #1566 "retest-not-required-docs-only should count images as docs"
E.g. the label was removed from [this PR](https://github.com/kubernetes/kubernetes/pull/30840) since it includes several png's referenced in the docs.

[2016-08-19 02:54] apelisse commented on #1566
Yes, as you understood, you can't fight with "retest-not-required-docs-only". This label is meant to be automatic, and you should use retest-not-required for manual intervention (though I'll probably improve that in the near future).

I'll add the png extension to the list of ignored files. Any other extensions in mind?

[2016-08-19 03:09] #1286 closed

[2016-08-19 03:17] lavalamp opened #1569 "Merge queue is a bit aggressive about removing comments"
[code]

Seen in logs, why did it delete this comment?

[2016-08-19 03:21] hongchaodeng commented on #1569
Is the logs public?
I am interested in seeing the logs.

[2016-08-19 03:54] timstclair commented on #1566
Also in our docs directory: `.svg`, `.dia`, `.yaml` (questionable about whether this should be tested)

[2016-08-19 05:39] Pensu commented on #1561
@aledbf I am using 0.8.2 only.

[2016-08-19 06:02] spxtr commented on #1522
`kubernetes-pull-build-test-e2e-gce` looks like it's averaging 35-40 minutes. `kubernetes-pull-test-unit-integration` is 30-35 minutes. `kubernetes-pull-verify-all` is about 30 minutes, and `node-pull-build-e2e-test` is about 20 minutes.

[2016-08-19 06:24] heroic commented on #1517
I updated it. I fixed it by deleting and re-creating with the annotation
and that seemed to have fixed it, but now I am struggling with making in
open on HTTP & HTTPS for one backend and HTTPS only for others, which is a
separate issue all together.

On Fri, Aug 19, 2016 at 2:41 AM, Prashanth B <notifications@github.com>
wrote:

[2016-08-19 11:25] kayrus opened #1572 "ingress: update an nginx ingress image version"
This PR https://github.com/kubernetes/contrib/pull/1467 changed default healthz port. So now examples for Ingress don't work because of incorrect healthz checks.

There are two workarounds:

* build a new  `gcr.io/google_containers/nginx-ingress-controller` image  with new controller version which has a new default healthz port and set its tag to 0.8.3
* explicitly set `--healthz-port=10254` in al

[2016-08-19 12:16] eparis commented on #1569
it (should) only leave the last build result.

[2016-08-19 12:20] eparis commented on #1566
Don't .yaml files typically all get loaded/validated in a test? Or does that only happen in examples?

Agreed on .svg and .dia

[2016-08-19 13:52] valentin-krasontovitsch opened #1573 "Write etcd config file fails: no ipv4 address for eth1"
Using contrib/ansible, trying to setup a k8s cluster
-  with Vagrant (1.8.5),
- using centos7 as OS,
- VirtualBox (Manager 5.0.26) as provider and
- running on OS X El Capitan,

running `vagrant up` produces the following error message:

[code]

Upon more precise inspection of the task, it turns out that a template file is used, which tries to access `hostvars[kube-master-1][eth1].ipv4.address`. U

[2016-08-19 14:36] jmhodges commented on #344
This looks like it could be closed?

[2016-08-19 14:39] #344 closed

[2016-08-19 14:40] jmhodges opened #1576 "add HTTPS to backend services to GCE Ingress contoller"
It would be nice to support HTTPS from the GCE Ingress controller to the backend services it fronts. The Google Load Balancers currently support HTTPS healthchecks and traffic.

I didn't see a ticket for tracking this work already, and so made this one.

[2016-08-19 15:17] jmhodges commented on #1576
Oh, I guess I didn't make it explicit that I'm pre-supposing that it's fine to do this work in the contrib controllers without more work done in kubernetes API definition of Ingess.

[2016-08-19 16:59] eparis commented on #1566
re-openning, the PV got .png, but we can leave this issue open for .svg and .dia

[2016-08-19 17:00] lavalamp commented on #1569
ah, ok. This is probably WAI then.

@hongchaodeng not currently. Might be worth doing some time not in crunch week. :)

[2016-08-19 17:00] #1569 closed

[2016-08-19 18:02] #734 closed

[2016-08-19 20:15] tmrts opened #1579 "Submit-Queue race condition"
See the comments by the bot for context in kubernetes/kubernetes#30996

After further examination, it seems to me that the problem is `retest-not-required`. When used, there is a race condition between merging and checking the PR. Here, the commit was merged immediately, but the PR wasn't closed so the bot saw a conflict because the commit was already merged and applied the label `needs-rebase`

c

[2016-08-19 20:21] lavalamp commented on #1579
@eparis @foxish @apelisse

[2016-08-19 20:24] apelisse commented on #1579
I can have a look at that, soon-ish

[2016-08-19 20:39] spxtr commented on #1579
https://github.com/kubernetes/kubernetes/pull/30659 it happened here even without the `retest-not-required` label. It actually seemed like a GitHub bug. The PR was merged (I checked that the commits were in), but the PR was still "open" on the UI and API. It showed up as "needs rebase" because it was merged already! Then, an hour later or so, GitHub caught up.

[2016-08-19 20:43] foxish commented on #1579
Why do we not have protected branches check for submit-queue status marked as `required` in the main repo? It seems like only the e2e tests are set to required right now.

[2016-08-19 21:13] foxish opened #1581 "Bot does not post message when /lgtm is not honored"
https://github.com/kubernetes/contrib/pull/1568

@eparis commented with /LGTM twice but the bot didn't do anything since he was not an assignee.
We need to make sure that the bot posts a message when such an event occurs and notifies the current assignee of it.

[2016-08-19 23:14] philips commented on #1522
For others reading this issue and not familiar the tests @spxtr is talking about live here: https://github.com/kubernetes/test-infra/search?utf8=%E2%9C%93&q=kubernetes-pull-build-test-e2e-gce

[2016-08-19 23:17] spxtr commented on #1522
I added a handful of `n1-standard-16`s to the fleet of PR builders. If they're more than a few minutes faster on average then we can consider switching the rest over.

[2016-08-19 23:18] spxtr commented on #1522
Unfortunately, the E2E tests won't get much faster with a faster machine.

[2016-08-19 23:26] ixdy commented on #1522
For fun, I took at which e2e tests were taking the longest.

There are a few Dynamic provisioning tests taking ~4m. Which led me to this [lovely hack](https://github.com/kubernetes/kubernetes/blob/bb5d562f37ab029d2b562e23bd23e906ee099a45/test/e2e/volume_provisioning.go#L81-L95), in which we sleep for 3m.

I'm guessing there are lots of nasty sleeps like this lurking in our tests.

[2016-08-19 23:31] lavalamp commented on #1522
e2e tests run in parallel, right? Could we add a node to the cluster they
start up?

On Fri, Aug 19, 2016 at 4:26 PM, Jeff Grafton <notifications@github.com>
wrote:

[2016-08-19 23:39] ixdy commented on #1522
We run up to [25 tests in parallel right now](https://github.com/kubernetes/kubernetes/blob/548780f05a7c7e60c0024cc8e7484b87b47b77c3/hack/ginkgo-e2e.sh#L36-L40). There are around 25-30 e2e tests in PR Jenkins which take a minute or longer.

[2016-08-19 23:51] ixdy commented on #1522
On the "slow e2e tests" front, I just learned about this neat view in testgrid: https://k8s-testgrid.appspot.com/google-gce#gce&width=5&graph-metrics=test-duration-minutes

Things I immediately notice:
* `[k8s.io] V1Job should fail a job` is very spiky, ranging between 1-11m on passing builds
* `[k8s.io] Job should fail a job` is similarly bad
* `[k8s.io] Dynamic provisioning [k8s.io] DynamicProvi

[2016-08-19 23:58] ixdy commented on #1522
@jsafrane @soltysh anything we can do about these slow tests?

[2016-08-20 00:48] ixdy opened #1583 ""tests pending" checks are buggy"
Two separate issues that I've noticed the munger getting confused by:
- tests were broken at some point a few days ago. [I request a re-test of just that particular build](https://github.com/kubernetes/kubernetes/pull/30551#issuecomment-241163328), and then the munger [thinks tests have been pending for over 24h](https://github.com/kubernetes/kubernetes/pull/30551#issuecomment-241164346).
- someon

[2016-08-20 00:52] apelisse commented on #1583
cc @foxish

[2016-08-20 19:06] apelisse commented on #1445
Recovery script and log:
[code]

[2016-08-20 21:41] mjbright opened #1584 "Attempt to use ansible/vagrant fails: AttributeError: 'module' object has no attribute 'selinux_snapperd_contexts_path'"
I'm trying to use https://github.com/kubernetes/contrib/blob/master/ansible/vagrant/Vagrantfile
I commented out requires:
[code]
Attempts to use "vagrant up" or "vagrant provision" finish with an selinux error - see below.

**Note:** I am running VirtualBox 5.1.4r110228, Vagrant 1.8.1 on Fedora 24.

==> kube-node-2: Running provisioner: ansible...
    kube-node-2: Running ansible-playbook...
ERROR

[2016-08-20 21:47] mjbright commented on #1584
Just realized that this is a pure ansible(/my Fedora 24) issue as
[code]
produces the same error.

[2016-08-20 21:47] #1584 closed

[2016-08-20 21:48] mjbright commented on #1584
Not at all a kubernetes/config problem, but a problem with my Fedora24/ansible

[2016-08-21 21:21] itajaja opened #1585 "brittle rolling update"
I'd like to raise some doubts about [this line](https://github.com/kubernetes/contrib/blob/master/continuousdelivery/deploy/deploy-service.sh#L82):

[code]

1) why use latest instead of `${BUILD}`? The [docs actually say](http://kubernetes.io/docs/user-guide/rolling-updates/#updating-the-container-image) that this approach shouldn't even work
2) If rolling-update is done this way, the actual rc an

[2016-08-22 03:25] nikhiljindal commented on #1522
cc @saad-ali for the dynamic provisioner tests

[2016-08-22 05:01] DanielHeckrath commented on #1362
@bprashanth I can confirm this issue is still present after updating my cluster from 1.2.4 to 1.3.5 on GKE. Controller also doesn't seem to pick up recently set uid because of the static pod issue you mentioned. How can I restart the controller on GKE so that it's uses the updated id?

[2016-08-22 11:35] tommywo opened #1588 "Cluster-autoscaler: problem with scaling down on gce"
After having multiple unused nodes, autoscaler tries to delete multiple vm, but only deletes one,
then time unneeded is reset and after 10 min does the same thing over again
In logs i found these warnings:

[code]

kubernetes: 1.3.5
cluster-autoscaler:v0.2.2

@mwielgus @fgrzadkowski @piosz can you help?

[2016-08-22 11:44] sttts commented on #1544
Why configurable?

[2016-08-22 11:58] ingvagabund commented on #1544
Is it always possible to use SSL cert validation?

[2016-08-22 12:03] wernight opened #1590 "Nginx Ingress controller default backend"
I noticed on https://github.com/kubernetes/contrib/tree/master/ingress/controllers/nginx that you advice to explicitely specify the default backend. Why do that instead of using the Ingress defined default backend?

[code]

Also, why is returning an HTTP 404 a requirement? Shouldn't that be up to the website to decide how to respond to unknown subdomains?

[2016-08-22 13:07] sttts commented on #1544
Hopefully, downloading binaries without is pretty dangerous.

[2016-08-22 15:01] wernight opened #1592 "Nginx Ingress Controller not enabling TLS/HTTPS"
Following https://github.com/kubernetes/contrib/tree/master/ingress/controllers/nginx/examples/tls and other examples there I my Nginx Ingress works on HTTP but refuses to connect on port 443 even when I'm directly on that Pod. The generated `nginx.conf` does not contain any `443`, and my Ingress definition worked on GCE Ingress.

Another strange thing is that https://github.com/kubernetes/contrib

[2016-08-22 15:30] wernight commented on #1592
Looking at https://github.com/kubernetes/contrib/blob/53cc5309d8228c9b3f3d06c5db02cce06ef8e43a/ingress/controllers/nginx/controller.go#L869 I found a matching error `Secret default/ does not exists`, which means it's looking for a secret named `default/` (or actually empty in namespace `default`).

The reason was a wrong Ingress (with extra `-`):

[code]

May be a better error for `Secret %v does

[2016-08-22 15:51] bprashanth commented on #1362
@DanielHeckrath sorry for the hassle, please do: https://groups.google.com/forum/#!searchin/kubernetes-users/ingress%7Csort:relevance/kubernetes-users/QpsRZcaVmks/ltJYsdr7BQAJ
A fix has been checked in but it will only be in 1.3.6.

[2016-08-22 18:33] #1572 closed

[2016-08-22 18:33] saad-ali commented on #1522
I'm fine with moving the Dynamic provisioning tests to the slow suite. We already have the `Pod disk` tests their because attach/detach can take multiple minutes to complete. CC @jsafrane

[2016-08-22 21:21] DanielHeckrath opened #1595 "Ingress instance group has wrong count with autoscaling enabled"
I recently enabled autoscaling on my GKE cluster running Kubernetes 1.3.5

After the autoscaler increased the instance count number of instances in our k8s-ig instance group are missing the recently created instances.

How can i further debug this problem?

[2016-08-22 22:37] xavierholt commented on #1457
Is anyone looking at a fix for this?  It's pretty spammy at the moment, and I don't see disabling logging as a viable alternative.

I can see two possible solutions:
 - Run the "buddy script" from [aledbf's example](https://github.com/kubernetes/contrib/blob/master/ingress/controllers/nginx/examples/sysctl/change-proc-values-rc.yaml) once before starting nginx.  I assume that it loops to prevent t

[2016-08-22 22:39] aledbf commented on #1457
@xavierholt this is being fixed in #1498. It will show only in `--v=3` (or higher)

[2016-08-22 22:40] aledbf commented on #1457
Only the sidecar runs in privileged mode, not the nginx container. The reason for this is `sysctl -w`

[2016-08-22 22:46] xavierholt commented on #1457
Great, thanks!  One last question if you've got a second:  Do you know what the default log level is?

[2016-08-22 22:47] aledbf commented on #1457
@xavierholt the default is 1

[2016-08-22 22:47] xavierholt commented on #1457
Thanks so much!

[2016-08-22 23:26] grodrigues3 commented on #1389
@hongchaodeng can we get a status update on this?  Do you need any help or input on the implementation?

[2016-08-23 05:02] hongchaodeng commented on #1389
For the code it's done in https://github.com/coreos/findowner
We are still coordinating. Hopefully will be able to discuss it again on Thur's meeting.

[2016-08-23 07:58] keontang opened #1599 "[conrib/ansible]: Dose it support async roles?"
It seems ansible is not able to support async roles: [https://github.com/ansible/ansible/issues/10588](https://github.com/ansible/ansible/issues/10588), so it will deploy masters/nodes one by one. It will take a long time to finish it.

How do you think of it?

[2016-08-23 08:04] keontang commented on #1599
Does `pipelining=True` work?

[2016-08-23 08:22] ingvagabund commented on #1599
Thank you for pointing this out. Currently, the current roles are under refactoring. I will put this issue under main goals.

[2016-08-23 08:51] ingvagabund opened #1600 "[ansible] make all source types camel-case"
Use the same naming convention for all source types (and other enumerated values).

For instance `packageManager`, `localBuild`, `github-release`, `distribution-rpm` change to `package-manager`, `local-build`, `github-release`, `distribution-rpm``

[2016-08-23 10:57] ingvagabund commented on #664
#1444 got merged, closing the issue as binary downloading is split between ``node`` and ``master`` role.

[2016-08-23 10:57] #664 closed

[2016-08-23 13:40] ingvagabund opened #1602 "Link to contrib submit queue is incorrect"
The link points to `http://submit-queue.k8s.io` instead of `http://contrib.submit-queue.k8s.io`.

[2016-08-23 17:13] wernight opened #1603 "Security and API access"
One part I didn't fully understand after using a Nginx Ingress Controller, is what part of the Kubernetes API is actually exposed without authentication from within the cluster.

From http://kubernetes.io/docs/user-guide/accessing-the-cluster/#programmatic-access-to-the-api is looks like a token is always required.

However the Nginx Ingress Controller is visibly capable of at least reading the li

[2016-08-23 17:21] aledbf commented on #1603
@wernight please check https://github.com/kubernetes/contrib/blob/master/ingress/controllers/nginx/main.go#L92 and this comment that describes the rules https://github.com/kubernetes/kubernetes/blob/master/pkg/kubectl/cmd/util/factory.go#L1183

[2016-08-23 17:38] wernight commented on #1603
Thanks I saw it uses the Go API. Isn't it equivalent to the REST API? My main worry is that without having given any authentication, just running some process, that process had access to my TLS private key.

[2016-08-23 17:38] ingvagabund commented on #886
@rakesh-k I am closing the issue for now. If you find the add-ons still does not work, please open a new issue.

[2016-08-23 17:38] #886 closed

[2016-08-23 21:10] asifhj opened #1604 "Nginx Ingress Controller performance"
Hey Guys -

Observed significant difference in performance when we access the service from nginx-ingress-controller.

Accessing service via NodePort is faster than accessing via nginx-ingress-controller

nginx-ingress-controller:0.8.2

Kubernetes version

Client Version: version.Info{Major:"1", Minor:"3", GitVersion:"v1.3.4", GitCommit:"dd6b458ef8dbf24aff55795baa68f83383c9b3a9", GitTreeState:"clea

[2016-08-23 21:29] grodrigues3 opened #1605 "Bot To Handle Approvers AND Reviewers In Owners File"
Here's the proposed workflow as described by @bgrant0607

Proposed workflow:
a reviewer, who isn't necessarily an approver, would be assigned
the reviewer would eventually type "LGTM" into a comment
the author would (often) squash commits and/or rebase
the reviewer would then type I approve if they were an approver, or would notify an approver to do that if they were not; the author could self-app

[2016-08-23 21:36] aledbf commented on #1590
In the nginx ingress controller only is possible to have 1 "catch all" server. Using a default backend is possible be compatible with gce (for the default backend)
The issue appears if you define more than 1 ingress rule, both with `backend`. Which `backend` should be used?

The default backend is used only if the service in the ingress rules does not have active endpoints.

[2016-08-23 21:40] aledbf commented on #1604
@asifhj can you provide more information about your cluster and how you are testing the controller? (like #1482)

[2016-08-23 21:44] aledbf commented on #1603
If you follow the method `factory.go#L1183` one of the steps is
[code]

the file contains the required token to access the api server (if you have service accounts enabled that file exists in all the pods)

If you change the log level `--v=5` you will see the bearer token being sent in each request.

[2016-08-23 22:02] asifhj commented on #1604
@aledbf  I am hitting nginx-ingress-controller through which it send pass the request to kubernetes service. My setup kubernetes setup is not cloud. I tried
[I tried this link too to change the proc values. I did't help](https://github.com/kubernetes/contrib/blob/master/ingress/controllers/nginx/examples/sysctl/change-proc-values-rc.yaml)

[2016-08-23 23:39] bgrant0607 commented on #762
git-sync has its own repo:
https://github.com/kubernetes/git-sync

[2016-08-23 23:44] thockin commented on #762
git-sync is an example of a really self-contained thing that doesn't even
really have to live in kubernetes, except we don't have a better place to
stick it (and we want to rely on it, I guess).  Many repos will not be sol
self-contained, but that's what we should strive for.

On Tue, Aug 23, 2016 at 4:39 PM, Brian Grant <notifications@github.com>
wrote:

[2016-08-24 02:05] aledbf commented on #1604
@asifhj if you are not running in the cloud the performance of the ingress controller can be affected by the configuration of the nodes (distribution version, updated, kernel version, docker/rkt version, sysctl tuning, fs, etc.).
(most of this things are outside the scope of the ingress controller)

Please post more information about the performance you see in the nginx ingress controller using to

[2016-08-24 03:57] bgrant0607 commented on #1605
@grodrigues3

`/lgtm` now

reviewers aka assignees

owners aka approvers

see also #1429

cc @hongchaodeng @philips @apelisse @foxish

[2016-08-24 03:58] bgrant0607 commented on #1605
and the existing issue is #1389

[2016-08-24 04:11] hongchaodeng commented on #1605
I do have the reviews list generated. It appends to existing OWNERS or creates new OWNERS with a separate section called "reviewers":
[code]
Even though the program is ready and file is generated, I'm not sure about the current state yet.. Maybe I should also merge the "assignees" and "reviewers".

The other point I'm confused is about approver. Can someone help create approver list? Once we have

[2016-08-24 06:10] ingvagabund commented on #1442
**kubernetes upstream release based installation** (e.g. ``kubernetes-1.3.1``):

[code]

**kubernetes distribution rpm based installation** (e.g. ``kubernetes-1.3.0-0.2.git507d3a7.fc26``):

[code]

or basically any build (scratch build) with standard rpm url paths, i.e.:
* ``KUBE_RPM_URL_BASE/kubernetes-client/KUBE_RPM_URL_SUFIX``
* ``KUBE_RPM_URL_BASE/kubernetes-master/KUBE_RPM_URL_SUFIX``
* ``KU

[2016-08-24 06:11] ingvagabund commented on #1442
@mdshuai implemented via #1444 [1]. If it is still not enough, please open another issue.

[1] https://github.com/kubernetes/contrib/tree/master/ansible#kubernetes-source-type

[2016-08-24 06:11] #1442 closed

[2016-08-24 07:43] wernight commented on #1590
1.

Agree on backend with multiple Ingress. It's actually an issue with the YML and should be addressed. I don't know what GCE Ingress does but I don't see a way for it to know either. Still I'd just pick one, log errors, and support the `spec.backend` additional to the argument. It seems at the moment that the `--default-backend-service` is required, when it should be optional.

2.

Yes, but that

[2016-08-24 08:16] wernight commented on #1603
Wow! Thanks

[2016-08-24 08:16] #1603 closed

[2016-08-24 11:53] ingvagabund opened #1609 "[ansible] minimize dependencies of roles on another roles"
Lot a roles depends on `common` role which defines facts as `is_atomic`, `is_coreos` and others. Which make dependent roles less reusable.

[2016-08-24 15:34] ingvagabund commented on #834
Closing as duplicate of #886.

[2016-08-24 15:35] #834 closed

[2016-08-24 17:03] grodrigues3 commented on #1605
@hongchaodeng yes, reviewers and assignees are same thing and therefore can be merged.   Similarly, Owners and Approvers are the same thing.   Reviewers should be a pretty broad pool of people who have some minimum level of familiarity with the code (e.g have touched a related file).   The approvers list may be harder to generate automatically, but perhaps we can figure out how to generate that at

[2016-08-24 17:56] aledbf opened #1611 "[nginx-ingress-controller] Clarify the controller uses endpoints and not services"
This is not present in the readme.

[2016-08-24 17:57] ingvagabund commented on #1609
**pre-ansible**:
* ``is_coreos`` (used to detect coreos, specific with ``coreos.yml`` task file only)
* ``bin_dir`` (so far coreos only, could be moved under ``coreos.yml`` task file)
* ``is_atomic`` (used to detect atomic, if not atomic => install some packages)

**common**:
* ``is_atomic`` (used in ``node``, ``flannel``, ``master``, ...)
* ``is_coreos`` (used in ``node``, ``flannel``, ``master``

[2016-08-24 18:33] #1280 closed

[2016-08-24 18:33] #455 closed

[2016-08-25 00:27] sgsits commented on #1180
Any update on this?

[2016-08-25 00:30] rmmh commented on #1413
https://k8s-gubernator.appspot.com/pr and https://k8s-gubernator.appspot.com/pr/all provide this.

[2016-08-25 00:30] #1413 closed

[2016-08-25 03:45] colemickens commented on #1492
I took a look at the `ipwhitelist` and I understand how I could implement a similar annotation for the `auth_request` field. I would like to take a crack at this tonight or in the next few days.

However, I'm not sure I understood this portion:

Are you saying that I could read the annotations off of the Ingress object for the global nginx config and could then read annotations from the individual

[2016-08-25 04:35] aledbf commented on #1492
Sorry about that.
You can add a global option like [WhitelistSourceRange ](https://github.com/kubernetes/contrib/blob/master/ingress/controllers/nginx/nginx/config/config.go#L253) and an annotation in the Ingress rules.
This allows authentication to all the ingress rules in the controller or just in the ingress with the annotation (the annotation always overrides the global value).

[2016-08-25 04:37] aledbf commented on #1303
@wernight this was opened today in the nginx trac https://trac.nginx.org/nginx/ticket/1057

[2016-08-25 04:57] bprashanth commented on #1303
Currently, through an annotation like: https://github.com/kubernetes/contrib/blob/master/ingress/controllers/gce/BETA_LIMITATIONS.md#disabling-glbc, https://github.com/kubernetes/contrib/tree/master/ingress/controllers/nginx#disabling-nginx-ingress-controller
In the future we might have ingress claims: https://github.com/kubernetes/kubernetes/issues/30151

not sure if that's what you meant

[2016-08-25 06:00] mdshuai opened #1618 "[ansible]Can't get latest kube from storage.googleapis.com"
When install latest kube using ansilbe, always failed with can't get file.
[code]
I check the latest version is v1.4.0-alpha.2, but there is no related files.
[code]

[2016-08-25 06:01] mdshuai commented on #1618
@ingvagabund  thanks

[2016-08-25 06:49] mdshuai opened #1619 "[ansible]ERROR! The requested handler 'restart daemons' was not found in any of the known handlers"
Install with ansible, at last failed with error
[code]
Whole logs is : http://pastebin.test.redhat.com/405933

@ingvagabund

[2016-08-25 07:51] wernight commented on #1303
What I mean is I'd like to use Nginx Ingress Controller (that's pretty easy) and no matter the backend (may be that Ingress connects to the actual services via HTTP and that's fine), it could support QUIC and act as QUIC proxy.

This means that the (very likely slower) connection from clients to Ingress would be QUIC-enabled without any extra work. The connection from Ingress to the various servic

[2016-08-25 08:01] ingvagabund commented on #1618
Since there is no v1.4.0-alpha.2 release in https://github.com/kubernetes/kubernetes/tags. It is only a tag in the repository. What you can do is to build kubernetes from commit corresponding to the tag and use the distribution-rpm source type. Or extend the source types with ``custom-release`` or similar, where you provide your own path where the binaries can be downloaded.

[2016-08-25 09:08] ingvagabund commented on #1619
This show up only when you use the ``github-release`` source type. Since the kubernetes config file is downloaded from [1]. With the package manager source type, the config file is generated from a template [2]. So at the end when you run the kubernetes-addons role with kubernetes role triggered as a dependency, the config file gets updated and thus the "restart deamon" notifier is run. At the end

[2016-08-25 10:17] ingvagabund commented on #1619
The config issue is fixed here https://github.com/kubernetes/contrib/pull/1621

[2016-08-25 12:01] ingvagabund commented on #1618
Closing as this is not a bug.

[2016-08-25 12:01] #1618 closed

[2016-08-25 12:04] ingvagabund commented on #1618
@mdshuai or you can build kubernetes locally and set source type to localBuild

[2016-08-25 12:23] #1619 closed

[2016-08-25 12:46] aledbf commented on #1492
@colemickens just in case a couple of day I started with this [here](https://github.com/aledbf/contrib/commit/add2bc93876ce3c4e16ff4c1cf7269d5f3e4af69)
After merging my [pending PRs](https://github.com/kubernetes/contrib/pulls/aledbf) my plan is to continue with this

[2016-08-25 16:43] foxish opened #1623 "cluster-autoscaler, ingress, keepalived-vip: update vendored work-queue"
The fix in https://github.com/kubernetes/kubernetes/pull/31396 needs to be updated:
- k8s.io/contrib/cluster-autoscaler/vendor/k8s.io/kubernetes/pkg/util/workqueue
- k8s.io/contrib/ingress/vendor/k8s.io/kubernetes/pkg/util/workqueue
- k8s.io/contrib/keepalived-vip/vendor/k8s.io/kubernetes/pkg/util/workqueue

cc @pwittrock @bprashanth @fgrzadkowski

[2016-08-25 17:31] bprashanth commented on #1303
That should be easy once nginx supports quic. You can flip it at various levels:
1. All ingresses: command line flag to controller
2. Opt in at ingress level: annotation
3. Opt in at host level: field

1 or 2 actually makes the most sense to begin with. Converging to 3 will allow us to enable Quic from ingress to backend, but like you pointed out the more important journey is from client -> ingres

[2016-08-25 17:33] bprashanth commented on #1623
@aledbf fyi

[2016-08-25 17:38] aledbf commented on #1623
@foxish @bprashanth what's the workflow for the `k8s.io/client-go` package? (it's empty now)
I just update 1498 but its [failing](https://travis-ci.org/kubernetes/contrib/builds/155114457)

[2016-08-25 17:44] bprashanth commented on #1623
Hmm, does this work? https://github.com/kubernetes/kubernetes/tree/master/staging/src/k8s.io/client-go
@lavalamp

[2016-08-25 17:52] lavalamp commented on #1623
The copy.sh script should work. We don't yet force you to run it.

[2016-08-25 18:00] aledbf commented on #1623
I'm sorry, I tried to say `https://github.com/kubernetes/client-go` it's empty.
The package `k8s.io/client-go` is being used only in `kubernetes/kubernetes` from the staging directory. The issue is when I try to update go dependencies using `godep save ./...`

[2016-08-25 18:10] lavalamp commented on #1623
I don't understand what you're trying to do. Can you give explicit repro
steps? (I.e., what working directory are you in?)

On Thu, Aug 25, 2016 at 11:00 AM, Manuel Alejandro de Brito Fontes <
notifications@github.com> wrote:

[2016-08-26 00:24] lavalamp commented on #1068
Seems like we haven't really had a need for this. I'll close for now.

[2016-08-26 00:24] #1068 closed

[2016-08-26 00:26] lavalamp commented on #1042
I don't think we have an immediate need here now. We keep the github cache and the stat-scraping script handles queue restarts. Closing.

[2016-08-26 00:26] #1042 closed

[2016-08-26 00:51] aledbf commented on #1367
Please use `https://github.com/kubernetes/contrib/tree/master/ingress/controllers/nginx` instead of `nginx-alpha`

[2016-08-26 01:06] bprashanth commented on #1504
@lendico-dmitry-dzifuta this doesn't sound related to ingress per se, please open an issue on https://github.com/kubernetes/kubernetes/issues/new so the right team gets notified

[2016-08-26 01:07] #1504 closed

[2016-08-26 01:10] bprashanth commented on #1367
Please reopen if not fixed in the nginx ingress controller, and post the nginx.conf generated by the controller (`kubectl exec <nginx pod> -- cat /etc/nginx/nginx.conf`)

[2016-08-26 01:10] #1367 closed

[2016-08-26 01:13] bprashanth commented on #1344
Currently there's no way to ensure static ips for kubernets pods. Please reopen if you know a way to get nginx to perform a reverse lookup of ip <-> hostname and we can try to leverage that to map the pod ips to their services using kube-dns, just for the stats page (afaik there's no way, and @aledbf corroborated).

[2016-08-26 01:13] #1344 closed

[2016-08-26 01:43] mdshuai commented on #1618
@ingvagabund Today I can get v1.4.0-alpha.3 release. I don't why there is no v1.4.0-alpha.2. Anyway thanks for your help. When there is no latest release, I will use localBuild.
[code]

[2016-08-26 01:50] mdshuai commented on #1618
latest/stable release version can be get from:
https://storage.googleapis.com/kubernetes-release/release/latest.txt
https://storage.googleapis.com/kubernetes-release/release/stable.txt

[2016-08-26 03:12] radius314 commented on #346
Will this deal with internal ELBs as well?

[2016-08-26 03:50] keontang opened #1628 "kube-down should not delete multi-user.target.wants directory on centos"
[code]

Because in multi-user.target.wants directory, there are some other useful services.
For example sshd.service, once deleted this direcotry, we will fail to access the machine by ssh.

[2016-08-26 04:33] #1628 closed

[2016-08-26 06:26] bgrant0607 commented on #1029
@Lukenickerson  Do you need further clarifications or help in any way? We're about to add a lot of new automatically assigned reviewers, and I'd like to be able to easily see how many reviews are done by each.

cc @pwittrock @grodrigues3 @philips @hongchaodeng @foxish

[2016-08-26 07:28] mdshuai opened #1632 "[ansible]kube-dns and logging CrashLoopBackOff after install"
After install from github-release, dns and logging is CrashLoopBackOff
kube_version: 1.4.0-alpha.3
kube_source_type: github-release

[code]

describe pod info: http://pastebin.test.redhat.com/406374
@ingvagabund

[2016-08-26 07:31] mdshuai commented on #1442
@ingvagabund thanks.

[2016-08-26 13:35] sgsits opened #1639 "Clarify docs around running nginx ingress controller without serviceaccounts"
I am running a Kubernetes cluster without TLS (no ca/tokens etc)
I am unable to run nginx-ingress-controller due to following errror

I0825 16:53:47.191547       1 main.go:99] Using build: https://github.com/bprashanth/contrib.git - git-b195d9b
F0825 16:53:47.191966       1 main.go:121] failed to create client: open /var/run/secrets/kubernetes.io/serviceaccount/token: no such file or directory

Wh

[2016-08-26 13:59] aledbf commented on #1639
@sgsits please check ir your ingress controller image version is `0.8.3`.
In the new version the connection was changed to allow running in any environment in #1467 [without flags](https://github.com/kubernetes/contrib/blob/master/ingress/controllers/nginx/main.go#L105)
This is workflow is followed to connect to the [api server](https://github.com/kubernetes/kubernetes/blob/master/pkg/kubectl/cmd/

[2016-08-26 15:19] sgsits commented on #1639
thanks

[2016-08-26 16:05] sgsits commented on #1639
Now I am getting following error
(As it tries to assume that master is running locally, how would I provide it the master-url?)

F0826 16:03:31.076649       1 main.go:121] no service with name default/default-http-backend found: Get http://localhost:8080/api/v1/namespaces/default/services/default-http-backend: dial tcp [::1]:8080: getsockopt: connection refused

[2016-08-26 16:06] aledbf commented on #1639
@sgsits  like this `export KUBERNETES_MASTER=http://172.17.4.99:8080`

[2016-08-26 17:25] sgsits commented on #1639
I should have clarified this earlier,  I am running the ingress controller in Kubernetes cluster as a pod (using replicationController) I am wondering why it is trying to find Master using localhost.

[2016-08-26 17:36] aledbf commented on #1639
One of the reason could be because `KUBERNETES_SERVICE_HOST` and `KUBERNETES_SERVICE_PORT` are not set.
Please add `--v=10` to increase the verbosity level and be check the output.

Also provide more information about your cluster:
- `kubectl cluster-info` output
- where are you running the cluster
- docker version
etc.

[2016-08-26 18:39] grodrigues3 opened #1640 "Ensure that all Github handles in Owners File Are In The Org"
We should add some validation that ensures that all github users listed as reviewers or approvers are in the k8s organization.

https://github.com/philips/kubernetes/commit/7936f777e8c56eb6417fa2c969d76ead2af01890

[2016-08-26 20:54] bprashanth opened #1641 "service loadbalancer unittests fail because of stray whitespace"
Should just strip out whitespace when it doesn't matter.

[2016-08-26 21:03] aman-tiwari commented on #1641
see: https://github.com/golang/go/issues/9969
so the solution could be to change the templates to use {{ thing -}} rather than {{ thing }}

[2016-08-26 21:06] bprashanth commented on #1641
SGTM please send a pr if you have the time

[2016-08-26 22:34] grodrigues3 opened #1643 "Document the Commands that the Bot Accepts"
We need a comprehensive list of the commands that humans can use to communicate with the bot.  (e.g /lgtm /lgtm-cancel etc...)

[2016-08-27 00:09] sgsits commented on #1639
Thanks again.
I am running 3 master 3 node cluster
1) [app@sandbox-132869446-1-154153755 ~]$ kubectl cluster-info
Kubernetes master is running at http://localhost:8080
KubeDNS is running at http://localhost:8080/api/v1/proxy/namespaces/kube-system/services/kube-dns

2) Cluster is running in onpremise custom vmware based cloud

3) docker version 1.11.2

I observer that the kubernetes service is onl

[2016-08-27 00:14] aledbf commented on #1639
This works only if you set `--insecure-bind-address=0.0.0.0` which is not a good idea in production.

[2016-08-27 00:25] aledbf commented on #1639
Can you share the reason for this?

[2016-08-27 01:37] eparis commented on #1643
does it belong somewhere under: http://kubernetes.submit-queue.k8s.io/#/info (I vote yes)

however that get awkward if we start using a similar syntax to trigger k8s-bot instead of k8s-merge-robot...

[2016-08-28 06:29] the0rem commented on #1573
Seems to be an issue where the centos7 image does not have an ipv4 address for eth1. The box needs to be fixed to fit the deployment but in the meantime fedora/coreos seems to work ok.

[2016-08-28 12:18] ingvagabund commented on #1632
@sttts look familiar?

[2016-08-29 07:51] sttts commented on #1632
Seeing the same in my docker-in-docker dev cluster: https://github.com/kubernetes/kubernetes/pull/27459

The health check fails. Even with `--v=9` kubedns does not output useful information.

[2016-08-29 08:56] ingvagabund commented on #1573
Hi @valentin-krasontovitsch, just deployed the cluster with vagrant with centos7, it works. Running with Vagrant 1.8.1. and Fedora. Just, instead of VirtualBox I run on libvirt.

This could be VirtualBox configuration specific issue. @the0rem, any advices how to configure it?

[2016-08-29 09:12] the0rem commented on #1573
Hi ingvagabund,

Unfortunately I'm not able figure that out. For reference I am running:
- El Capitan 10.11.5
- Vagrant 1.8.5
- Virtualbox 5.0.4

I am leaning towards https://github.com/kubernetes/minikube for dev related work. Xhyve wins me over in that respect considering the latest movements of docker on Mac OSX.

[2016-08-29 09:37] valentin-krasontovitsch commented on #1573
Thanks @ingvagabund and @the0rem for taking time to look into this. VirtualBox may very well be the culprit here. As a workaround, restarting the virtual machine fixed this problem for me: After the restart, the interface in question had an IP address assigned.

Trying to figure out if kubernetes will fit our needs as an orchestrating tool for a multi node environment, minikube is unfortunately no

[2016-08-29 10:24] ingvagabund commented on #1573
Closing the issue then as this is related to VirtualBox.

[2016-08-29 10:36] valentin-krasontovitsch commented on #1573
@ingvagabund, is it ovbious that the issue cannot be with the configuration of Virtualbox (using centos) in the provided Vagrantfile?

[2016-08-29 10:46] ingvagabund commented on #1573
@valentin-krasontovitsch I misinterpreted you previous comment (reading restarting virtual box instead of provision VM).

So the issue is reproducible everytime you vagrant up with Virtualbox? After restarting provisioned VM(s) ip addresses are assigned?

[2016-08-29 10:57] ingvagabund commented on #1632
Building the Kubernetes from the latest commit in Fedora's Koji and deploying with the ansible (master HEAD) on with F23 cluster in OpenStack:

[code]

[2016-08-29 11:42] valentin-krasontovitsch commented on #1573
Yes, just pulled clean rep, applied the changes mentioned in bottom of original post, and got the same error message.

And yes, after sshing into the machine, and running `sudo reboot`, and then sshing in again and running `ip addr`, `eth1` does have an ip address.

Also, running `vagrant provision` after this does not fail on the above mentioned task anymore.

[2016-08-29 11:48] valentin-krasontovitsch commented on #1573
By the by, I run into more issues after doing the above. Should I post them as well, or wait for this to get resolved / at least reproduced first?

[2016-08-29 12:54] ingvagabund commented on #1573
If it is related to the ipv4, you can post it here. Otherwise, it if is Vagrant deployment related, open new issue for it. Thanks.

[2016-08-29 14:21] ingvagabund commented on #1632
Finally deployed the ``1.4.0-alpha.3``. Noticed the kube-addons.sh script needs to be updated if running on secure port.

[code]

[2016-08-29 14:23] ingvagabund commented on #1632
Running with vagrant with fedora 23 on 6443 port.

[2016-08-29 18:12] grodrigues3 opened #1651 "Automatically Generate Webpage Describing New Features"
Either scrape the features repo and autogenerate an html file or use github requests to generate the html.

[2016-08-29 18:25] pdoreau opened #1652 "Nginx Ingress LivenessProbe fails"
Hello. I'm trying the [nginx ingress http example](https://github.com/kubernetes/contrib/tree/master/ingress/controllers/nginx#http).

The livenessProbe fails :
`Liveness probe failed: Get http://...:10254/healthz: dial tcp ....:10254: getsockopt: connection refused`

Using nmap on the pod I can't see any usage of this port (nmap).

[2016-08-29 18:26] aledbf commented on #1652
@pdoreau please check you are using the image version `0.8.3`

[2016-08-29 18:40] calebamiles commented on #1605
Just to sync up here while I'm updating  https://github.com/kubernetes/kubernetes/pull/31567. Are we OK with promoting the current list of GitHub handles in the existing `OWNERS` files to fall under an `approvers` key. New potential reviewers identified by the tooling that @hongchaodeng has been working on will listed under a `reviewers` key. My understanding of the discussion from the [contrib-x

[2016-08-29 18:40] pdoreau commented on #1652
@aledbf I wasn't because I just copied the [the example (0.8.2)](https://github.com/kubernetes/contrib/blob/master/ingress/controllers/nginx/examples/default/rc-default.yaml#L19)
It's looks fine with 0.8.3
Is the 0.8.3 version stable ? Should the examples be updated ?

[2016-08-29 18:47] grodrigues3 commented on #1605
yeah, sounds right to me.  we can address automatic promotion of reviewers into approvers later.  and we can initially use the existing owners as approvers.

[2016-08-29 18:52] aledbf commented on #1652
Yes, is the latest version.

Already being done in #1653

Apologies for the inconsistency in the examples.

[2016-08-29 18:55] pdoreau commented on #1652
No prob thanks for the fast answers

[2016-08-29 19:29] soltysh commented on #1522
@ixdy sorry, I was on PTO for the last two weeks, I'll see what can be done with the job ones.

[2016-08-29 19:52] #1652 closed

[2016-08-29 21:34] foxish opened #1654 "Clean up github mockserver used in testing"
https://github.com/kubernetes/contrib/blob/master/mungegithub/github/testing/github.go#L325
`InitServer` takes far too many arguments. We should put that into a struct and clean up.

[2016-08-29 21:54] aknuds1 commented on #1369
I would rather like to be able to see logs from the ingress controller, so that I can trace why something isn't working. E.g., if your server is returning status 502, it can either come from the ingress controller itself or it might stem from the backend. There's no way of knowing what's going on since ingress controller won't say.

[2016-08-29 23:03] quinton-hoole opened #1656 "Ingress: Support downtimeless LoadBalancer UID changes in Google Load Balancer Controller"
Capturing a design discussion that @bprashanth and I just had, so that it doesn't get lost:
# Summary:

Currently, changing the GCE L7 Load Balancer fronting the Ingresses in a cluster involves a cluster outage for ~10 minutes, and the manual deletion and recreation of all Ingresses in the cluster.  This causes problems for Federated Ingress (where multiple clusters need to be updated to use the s

[2016-08-29 23:03] pdoreau opened #1657 "Ingress Nginx / GLBC conflict"
Hello. I'm trying the basic [HTTP example](https://github.com/kubernetes/contrib/tree/master/ingress/controllers/nginx#http) for configuring an Nginx Ingress Contrroller

It looks like both Nginx RC and GLBC are enabled. Here is my describe ingress command output :

[code]

I've added the [annotation to disable](https://github.com/kubernetes/contrib/blob/master/ingress/controllers/gce/BETA_LIMITAT

[2016-08-29 23:09] bprashanth commented on #1656
This is really only important in the context of parenting an existing cluster with Ingresses to a federated one where it isn't the master. Almost no one wants to actually modify the uid in other situations (the uid concept itself was invented to allow cross cluster sharing, vs the uid style service.type=lb adopts where the uid matches the kubernets resource). As such, I don't veiw this as a GA blo

[2016-08-29 23:16] quinton-hoole commented on #1656
@bprashanth Fair enough, although I can't help thinking that someone starting with one cluster, and then expanding to a second, third etc might want this, with or without federation.

[2016-08-29 23:18] bprashanth commented on #1656
Yeah they usually just create new clusters and add the existing uid (i.e they have one homed in us-central-1, and they add asia, europe etc with the one uid before creating any ingresses there). Kind of like guaranteeing that the one cluster starting off with ingresses is the master, and the others are fresh.

[2016-08-29 23:41] quinton-hoole commented on #1656
Fair point.  OK, so this is pretty much only for Federated Ingress, and we need to get this done before promoting that from alpha to beta, I would suggest.

[2016-08-30 00:00] #1643 closed

[2016-08-30 05:12] bprashanth commented on #1657
which version of kubernetes are you running? the annotation will only work post 1.3.
are you running on gce or gke?
did you create the ingress with the annoation, or modify it?
can you exec into your nginx ingress controller and curl localhost to see the correct output?
"disabling" GLBC just means it will ignore your ingress, it will not tear down the old existing resources etc. the ip you want fr

[2016-08-30 08:13] pdoreau commented on #1657
Kubernetes v1.3.5 on GKE.
The first time I created the ingress was without the annotation. But then I deleted and recreated it, nothing changed.

I've just tried to set the cluster size to 0, then to 2 in order to recreate everything.
I added a forwarding rule. Both exec curl and external access to echoheader are OK now.

About the README :
 * Should we add something about the ingress class annota

[2016-08-30 08:40] ingvagabund commented on #1632
@mdshuai I have just hit the ``CrashLoopBackOff``. Though, all pods has got running eventually. It could be caused by million things. As long as it does not take much time to get all pods running, it is fine.

At the same time all the addons are outdated. They are copies of files from [1]. So with newer version of Kubernetes they do not have to be necessary friendly.

Do the ``kibana`` and ``kube-

[2016-08-30 08:41] sttts commented on #1632
My issue in https://github.com/kubernetes/contrib/issues/1632#issuecomment-243056080 was actually a kube-proxy problem. Adding `--masquerade-all` as a `kube-proxy` flag helped to restore service IP routing in containers.

[2016-08-30 15:21] pdoreau opened #1662 "Nginx Ingress RC handles all namespace ingress"
Hello. I noticied that an nginx RC defined with namespace applies rules of an ingress defined in another namespace.

Is that nomral and desirable ?

[2016-08-30 15:25] aledbf commented on #1662
That is up to you. You can use the flag `--watch-namespace` to limit the watch to just one namespace.

[2016-08-30 16:37] pdoreau commented on #1662
Ok. It could be interesting to mention it in the README.
If the flag is used, does the default-backend has also to be defined with the same namespace ?

[2016-08-30 17:05] aledbf commented on #1662
No

[2016-08-30 17:07] bprashanth commented on #1657
I don't understand why you need the forwarding rule? nginx is a pod, it doesn't even understand cloud providers. Are you trying to run the nginx controller in isolation or GLBC -> nginx -> origin server? Maybe you meant *firewall rule* ? Nginx does need a fiewall rule, just like any other pod or process running on a vm in your kubernetes cluster.

It should be in the README's of the relevent ingre

[2016-08-31 00:50] spxtr commented on #1522
Even with the slowest tests removed we're still too slow. We tried bumping up Jenkins agents to n1-standard-16 but that didn't improve speeds by more than a minute or two since most of it is waiting for stuff to happen in another cluster.

We can try adding another node to the e2e cluster, or increasing past 25 gingkgo threads.

[2016-08-31 02:17] sgsits commented on #1639
Apologies for delay. No good reason to use non TLS but we are in phase 1 implementation and have not yet achieved integration with our cert authority (using self signed is not what we are allowed). This cluster is running internally so for now we are testing without SSL.

Going back to my question
KUBERNETES_SERVICE_HOST and KUBERNETES_SERVICE_PORT are actually available in the env. So I am unable

[2016-08-31 10:52] pdoreau commented on #1657
Sure I meant firewall rule. I tried to run the basic use case described in the nginx RC README, without GLBC.

Adding something about the annotation in the nginx RC README would avoid people using both GLBC and nginx RC (just what happened to me). Wouldn't it ?

I think so

I deleted ingress + nginx RC and recreated with the annotation. Everything's ok now.

[2016-08-31 13:16] aledbf commented on #1639
That is expected. The api server can listen in both ports.

No. If you enable a service account the token will be mounted in all the pods and the env vars KUBERNETES_SERVICE_HOST and KUBERNETES_SERVICE_PORT added.
Please check the doc [accessing-the-api-from-a-pod](http://kubernetes.io/docs/user-guide/accessing-the-cluster/#accessing-the-api-from-a-pod)

That is a restriction that will affect othe

[2016-08-31 13:22] aledbf opened #1665 "[nginx-ingress-controller] Add cloud detection"
In order to remove invalid settings, like `use-proxy-protocol` in GCE/GKE

[2016-08-31 15:42] mwielgus opened #1666 "Precise node count estimations in Cluster Autoscaler"
Calculate the precise number of needed nodes when there is just a single type of pods available. Currently we do a rough estimation which usually result in providing too few nodes and another round of scale up. This mechanism will not work if there is more than one type of pending pods.

[2016-08-31 16:49] lavalamp commented on #1522
Why not both? 25 sounds like a number chosen for roundness and not for
optimality :)

On Tue, Aug 30, 2016 at 5:50 PM, Joe Finney <notifications@github.com>
wrote:

[2016-08-31 17:49] bprashanth commented on #1657
Please open a pr if you have time, the suggested clarifications make sense.

The easiest way to detect that the pod is runnig on GCP is by performing a `nslookup metadata.google.internal`, but I think there's a better way to get this working cross cloudprovider:

1. Nginx controller creats a service.type=lb for itself using kubernetes client. This will automatically create the right cloud resource

[2016-08-31 17:49] spxtr commented on #1522
We lowered it from 30 to 25 in #25548 because some tests were flaking due to resource contention. Bumping both the number of cluster nodes and ginkgo threads should be safe.

[2016-08-31 22:29] jnorment-q2 opened #1671 "[ansible] kube-dns container absent and kibana-logging CrashLoopBackOff"
Traced this to here:

contrib/ansible/roles/kubernetes-addons/templates/dns/skydns-rc.yaml.j2

When attempting to create the rc from the file, I got these two errors:

error validating "skydns-rc.yaml": error validating data: [found invalid field successThreshold for v1.Probe, found invalid field failureThreshold for v1.Probe]; if you choose to ignore these errors, turn validation off with --valid

[2016-09-01 01:05] lerencao commented on #1573
Came across the same problem here. eth1 does not have ipv4 address.

[2016-09-01 09:40] pdoreau commented on #1657
I created #1672 for clarifications.
About Service type LB, is the purpose only to create a firewall rule automatically ?
This may be an option because it would add an extra cost for each ingress.

[2016-09-01 10:14] mwielgus opened #1673 "K8S removes LGTM label without a reason"
See: https://github.com/kubernetes/contrib/pull/1670

[2016-09-01 11:27] mkumatag opened #1674 "[ansible] uninstall playbook doesn't work"
Modified the inventory file and installed the cluster. Later tried uninstalling using `adhoc/uninstall.yml ` playbook but failed with below error:

[code]
fails with following error:

[code]

[2016-09-01 12:59] kgelinas opened #1675 "[Ansible] CoreOS pypy libtinfo.so.5 not found"
CoreOS 1153 VMWare image.
Made clean install twice

ansible-playbook --version
ansible-playbook 2.1.1.0
  config file = /home/gelke01/contrib/ansible/scripts/ansible.cfg
  configured module search path = Default w/o overrides

[code]

[code]

[2016-09-01 16:46] bprashanth commented on #1657
actually the point is to leverage the cloudprovider detection logic already in the master to do the right thing cross platform, but I agree with the additional cost. I think the tradeoff here is document how to do the easy cheap thing by hand (create firewall rule) and make the more useful cross platform abstraction automatic (service.type=lb). The second is going to be useful in production deploy

[2016-09-01 17:01] lavalamp commented on #1673
Bot seems to not compare time between a `/lgtm cancel` and a manual label application? @hongchaodeng or @apelisse can one of you take a look?

[2016-09-01 17:04] apelisse commented on #1673
I'll take a look at it.

[2016-09-01 17:15] apelisse commented on #1673
Yeah, it doesn't check when the lgtm label was added. It will just remove it as long as the last comment is /lgtm cancel. The easy work-around if it happens to you is to do /lgtm ...

Can you have a look @hongchaodeng ?

[2016-09-01 18:10] kgelinas commented on #1675
same issues with build 1122.1.0

[2016-09-01 20:50] bdimcheff commented on #1369
Yeah I'm having a similar problem trying to figure out what's going on with health checks not honoring my readiness probe... I expected to see the pod in kube-system so I could get the logs, but I guess it's running on the master.

[2016-09-01 21:01] bprashanth commented on #1369
for the readiness probe, the ports need to match, i.e the port on the probe needs to match the container port which matches the target port on the service that you're plugging into the ingress (https://github.com/kubernetes/contrib/tree/master/ingress/controllers/gce/examples/health_checks#limitations)

[2016-09-01 21:11] #1487 closed

[2016-09-02 02:44] bdimcheff commented on #1369
I eventually got it working, but I ran into 2 problems along the way:

1. If you change the readiness probe in an RC, you have to delete and recreate the Service and the Ingress in order for the change to take effect.  I'm not sure what's caching this, but it definitely bit me a few times.
2. From what I can tell, using `host:` in the readiness probe is not supported and causes the probe to revert

[2016-09-02 03:40] mumoshu opened #1677 "[nginx-ingress-controller] Rate limiting requests to a specific path/requestor ip"
Normally we use something like `limit_req` and `limit_req_zone` for Nginx to rate limit requests to specific path for an requestor ip, so that we can rate limit access to specific path e.g. `/api` not to fire up or web servers until they scale out.

Is there any recommended way to deal with an use-case like this with today's nginx-ingress-controller?